---
title: PCF Healthwatch Architecture
owner: PCF Healthwatch
---
This topic describes the architecture of Pivotal Cloud Foundry (PCF) Healthwatch.

## <a id='components'></a>PCF Healthwatch Components

The diagram below shows the architecture of PCF Healthwatch, including the PCF components that PCF Healthwatch interacts with.

<%= image_tag './images/healthwatch-architecture.png' %>

[View a larger version of this diagram](./images/healthwatch-architecture.png).

PCF Healthwatch deploys several apps as part of its installation process. These apps are responsible for creating the service UI and supporting functional health checks.

## <a id='data-flow'></a>How Data Flows Through PCF Healthwatch

Data flows through PCF Healthwatch as follows:

* In PCF, all platform metrics are forwarded to the [Loggregator Firehose](https://docs.pivotal.io/pivotalcf/loggregator/architecture.html#firehose) by default. The PCF Healthwatch Ingestor app consumes these platform metrics from the Firehose and loads them, using the Loader app, into the PCF Healthwatch data store.
* PCF Healthwatch creates additional metrics and stores them in the `super_value_metric` table. These metrics are then forwarded back into the Firehose for external consumption by existing customer solutions. For more information, see [PCF Healthwatch Metrics](metrics.html).

	<p class="note"><strong>Note</strong>: PCF Healthwatch forwards into the Firehose only these additional metrics. The service does not forward back platform metrics that are already available to the Firehose consumers.</p>

All ingested and service-created data points are currently stored in the PCF Healthwatch data store for 25 hours and then pruned.

## <a id='data-flow'></a>Functional Apps Created by PCF Healthwatch

PCF Healthwatch creates the following functional apps:

* BOSH Director Health Check: the `bosh-health-check` app 
* BOSH Deployment Task Check: the `bosh-task-check` app 
* CLI Command Health Check: the `cf-health-check` app 
* Canary App Uptime and Response Check: the `canaryapp-health-check` app
* Ops Manager Uptime Check: the `opsmanager-health-check` app

For information about scaling these PCF Healthwatch resources, see [PCF Healthwatch Resources](resources.html#healthwatch-apps).
