---
title: Healthwatch
owner: Healthwatch
---

<p class="note warning"><strong>Warning:</strong> The Healthwatch and Healthwatch Exporter
  tiles are in closed beta and are intended for evaluation and test purposes only. Do not use
  this product in a production environment. To ask questions or report an issue, contact your
  primary VMware contact.</p>

This topic provides an overview of Healthwatch features and functionality.

For information about new features and breaking changes, see [Healthwatch Release Notes](release-notes.html).


## <a id='overview'></a> Overview of Healthwatch

Healthwatch enables you to monitor metrics related to the functionality of your Ops Manager
platform.

A complete Healthwatch installation includes the Healthwatch tile, as well as at least one
Healthwatch Exporter tile. There are Healthwatch Exporter tiles for both the Tanzu Application
Service for VMs (TAS for VMs) and Tanzu Kubernetes Grid Integrated Edition (TKGI) runtimes.

You must install a Healthwatch Exporter tile on each Ops Manager foundation you want to monitor.
You can install the Healthwatch tile on the same foundation or on a different foundation, depending
on your desired monitoring configuration.

You can also configure the Healthwatch Exporter tiles to expose metrics to a service or database
located outside your Ops Manager foundation, such as an external time series database (TSDB)
or an installation of the Healthwatch tile on the TKGI Control Plane.

For a detailed explanation of the Healthwatch architecture, a list of open ports required for
each component, and possible configurations for monitoring metrics with Ops Manager or an external
service or database, see [Reference Architecture](architecture.html).

For more information about each of these tiles, see the following sections below:

* [Overview of the Healthwatch Tile](healthwatch-tile-overview.html)
* [Overview of the Healthwatch Exporter for TAS for VMs Tile](healthwatch-exporter-tas-overview.html.md.erb)
* [Overview of the Healthwatch Exporter for TKGI Tile](healthwatch-exporter-tkgi-overview.html.md.erb)

## <a id='product-snapshot'></a> Product Snapshot

The following table provides version and version support information about Healthwatch:

| Element | Details |
| ------- | ------- |
| Version | v2.0 |
| Release date |  |
| Compatible Ops Manager versions | v2.7, v2.8, v2.9, v2.10 |
| Compatible Pivotal Application Service (PAS) and TAS for VMs versions | v2.7, v2.8, v2.9, v2.10 |
| Compatible Enterprise Pivotal Container Service (Enterprise PKS) and TKGI versions | v1.8, v1.9, v1.10 |
| IaaS support | AWS, Azure, GCP, OpenStack, and vSphere |
