---
title: Pivotal Cloud Foundry Healthwatch
owner: PCF Healthwatch
---

This documentation describes Pivotal Cloud Foundry (PCF) Healthwatch.

## <a id='features'></a>About PCF Healthwatch

PCF Healthwatch helps operators to understand the current health, performance, and capacity of a PCF foundation.

PCF Healthwatch includes the following main features:

* Stores and visualizes metrics from core PCF components, including BOSH-reported VM metrics. The service covers the recommended [Key Performance Indicators](https://docs.pivotal.io/pivotalcf/monitoring/kpi.html) and [Key Scaling Indications](https://docs.pivotal.io/pivotalcf/monitoring/key-cap-scaling.html) for a given version of PCF.
* Executes health checks as continuous validation tests and creates super metrics. The service stores, displays, and forwards this data into the [Loggregator Firehose](https://docs.pivotal.io/pivotalcf/loggregator/architecture.html#firehose) for external consumption by existing customer solutions. For more information, see [PCF Healthwatch Metrics](metrics.html) and [Access Product Super Metrics Through the Firehose](using.html#firehose).

All data points are stored in PCF Healthwatch for 25 hours and then pruned.

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about PCF Healthwatch.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.1.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>Not Yet Released</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.0.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>v2.0.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, GCP, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>Yes</td>
    </tr>
</table>

## <a id="limitations"></a>Limitations

* PCF Healthwatch does not cover the recently recommended [MySQL KPIs for PCF v1.12](https://docs.pivotal.io/pivotalcf/1-12/monitoring/kpi.html#kpi4MySQL).
* PCF Healthwatch does not cover monitoring of [Isolation Segments](https://docs.pivotal.io/pivotalcf/adminguide/isolation-segments.html).
* PCF Healthwatch is intended to monitor only the PCF foundation it is installed on.
* Currently, only the Google Chrome browser is supported when accessing the service UI.

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions by sending an email to [pcf-healthwatch-feedback@pivotal.io](mailto:pcf-healthwatch-feedback@pivotal.io).

## <a id='license'></a>License

This product is distributed under the [Pivotal Pre-Release EULA](https://network.pivotal.io/legal_documents/pivotal_beta_eula) license.
