---
title: Healthwatch for VMware Tanzu
owner: Healthwatch
---

This topic provides an overview of Healthwatch&trade; for VMware Tanzu (Healthwatch) features and functionality.
For information about new features and breaking changes, see [Healthwatch Release Notes](release-notes.html).


Healthwatch allows you to monitor metrics related to the functionality of your Tanzu Operations Manager platform.

A complete Healthwatch installation includes the Healthwatch tile, as well as at least one Healthwatch Exporter tile. There are Healthwatch Exporter tiles for
both the VMware Tanzu Application Service for VMs (TAS for VMs) and VMware Tanzu Kubernetes Grid Integrated Edition (TKGI) runtimes.

You must install a Healthwatch Exporter tile on each Ops Manager foundation you want to monitor. You can install the Healthwatch tile on the same foundation
or on a different foundation, depending on your desired monitoring configuration.

You can also configure the Healthwatch Exporter tiles to expose metrics to a service or database located outside your Ops Manager foundation, such as an
external time-series database (TSDB) or an installation of the Healthwatch tile on a separate Ops Manager foundation. This does not require you to install the
Healthwatch tile on the same Ops Manager foundation as the Healthwatch Exporter tiles.

For a detailed explanation of the Healthwatch architecture, a list of open ports required for each component, and possible configurations for monitoring
metrics with Ops Manager or an external service or database, see [Reference Architecture](architecture.html).

For more information about each of these tiles, see the following sections below:

* [Overview of the Healthwatch Tile](#healthwatch)

* [Overview of the Healthwatch Exporter for TAS for VMs Tile](#exporter-tas)

* [Overview of the Healthwatch Exporter for TKGI Tile](#exporter-tkgi)

For more information on the limitations and risks of using Healthwatch, see the following sections below:

- [ Product Snapshot](#-product-snapshot)
- [ Healthwatch v2.3 Limitations](#-healthwatch-v23-limitations)
- [ Assumed Risks of Using Healthwatch v2.3](#-assumed-risks-of-using-healthwatch-v23)

### <a id='healthwatch'></a> Overview of the Healthwatch Tile

The **Healthwatch** tile monitors metrics from one or more Ops Manager foundations by scraping them from Healthwatch Exporter tiles installed on each
foundation.

Healthwatch deploys instances of Prometheus and Grafana. The Prometheus instance scrapes and stores metrics from the Healthwatch Exporter tiles and allows you
to configure alerts with Alertmanager.

Healthwatch then exports the collected metrics to dashboards in the Grafana UI, allowing you to visualize the data with charts and graphs and create
customized dashboards for long-term monitoring and troubleshooting.

Healthwatch includes the following features:

* **Prometheus:**
  * Scrapes `/metrics` endpoints for Healthwatch Exporter tiles, collecting metrics related to the functionality of platform- and runtime-level components
  that include the following:
      * Service level indicators (SLIs) for the BOSH Director
      * SLIs for TAS for VMs components
      * SLIs for TKGI components
      * When Ops Manager certificates are due to expire
      * Canary URL tests for TAS for VMs apps
      * Counter, gauge, and container metrics for TAS for VMs from the Loggregator Firehose
      * Super value metrics (SVMs)
      * BOSH system metrics for TKGI
      * VMs deployed by Healthwatch Exporter tiles
  * Stores metrics for up to six weeks
  * Can write to remote storage in addition to its local TSDB

* **Grafana:** Allows you to visualize the collected metrics data in charts and graphs, as well as create customized dashboards for easier monitoring and
troubleshooting

* **Alertmanager:** Manages and sends alerts according to the alerting rules you configure

### <a id='exporter-tas'></a> Overview of the Healthwatch Exporter for TAS for VMs Tile

The **Healthwatch Exporter for TAS for VMs** tile deploys metric exporter VMs to generate each type of metric related to the health of your TAS for VMs
deployment.

Healthwatch Exporter for TAS for VMs sends metrics through the Loggregator Firehose to a Prometheus exposition endpoint on the associated metric exporter VMs.
The Prometheus instance that exists within your metrics monitoring system then scrapes the exposition endpoints on the metric exporter VMs and imports those
metrics into your monitoring system.

Healthwatch Exporter for TAS for VMs exposes the following metrics related to the functionality of TAS for VMs components, TAS for VMs apps, and the
Healthwatch Exporter for TAS for VMs tile:

* SLIs for TAS for VMs components

* Canary URL tests for TAS for VMs apps

* Counter, gauge, and container metrics for TAS for VMs from the Loggregator Firehose

* SVMs

* VMs deployed by Healthwatch Exporter for TAS for VM

### <a id='exporter-tkgi'></a> Overview of the Healthwatch Exporter for TKGI Tile

The **Healthwatch Exporter for TKGI** tile deploys metric exporter VMs to generate SLIs related to the health of your TKGI deployment.

The Prometheus instance that exists within your metrics monitoring system then scrapes the Prometheus exposition endpoints on the metric exporter VMs and
imports those metrics into your monitoring system.

Healthwatch Exporter for TKGI exposes the following metrics related to the functionality of TKGI components and the Healthwatch Exporter for TKGI tile:

* SLIs for TKGI components

* BOSH system metrics for TKGI

* VMs deployed by Healthwatch Exporter for TKGI


## <a id='product-snapshot'></a> Product Snapshot

The following table provides version and version support information about Healthwatch:

| Element      | Details                            |
| ------------ |------------------------------------|
| Version      | v2.3                               |
| Release date | April 10, 2024                     |
| Compatible Tanzu Operations Manager versions | v2.10, v3.0  |
| Compatible TAS for VMs versions | v2.11, v2.13, v3.0, v4.0, v5.0, v6.0 |
| Compatible TKGI versions | v1.15, v1.16           |
| IaaS support | AWS, Azure, GCP, OpenStack, and vSphere |


## <a id='healthwatch-limitations'></a> Healthwatch v2.3 Limitations

Healthwatch v2.3 has the following limitation:

* Currently the OpenTelemetry Collector is co-located on the TAS VMs defined within the TAS tile, which means that it can only collect metrics from VMs running within the TAS tile. As a result, metrics from other service tiles are not available in Healthwatch when you enable the OpenTelemetry Collector.


## <a id='assumed-risks'></a> Assumed Risks of Using Healthwatch v2.3

The following problem can arise when using Healthwatch v2.3:

* With Healthwatch v2.3 you can collect metrics using an OpenTelemetry Collector. But, the OpenTelemetry Collector used in TAS is the Beta version.
