---
title: Healthwatch
owner: Healthwatch
---

<p class="note warning">
    <strong>Warning:</strong>
    The Healthwatch tiles are currently in beta
    and are intended for evaluation and test purposes only.
    Do not use this product in a production environment.
</p>

Healthwatch is currently in closed beta.
To ask questions or report an issue, contact your primary VMware contact.
For information about new features and breaking changes, see [Healthwatch Release Notes](release-notes.html).


## <a id='overview'></a> Overview

The Healthwatch tile consists of a time series database (TSDB), Grafana, and MySQL.
In the Healthwatch tile, metrics can be stored and visualized.

The Healthwatch Exporter for Tanzu Application Service (TAS for VMs) connects to the
Loggregator RLP endpoint and funnels the metrics to a TSDB exposition endpoint.

You can find both of these tiles on the [Healthwatch](https://network.pivotal.io/products/p-healthwatch)
page on VMware Tanzu Network.

While you must install the exporter on the foundation you want to monitor,
you can install the Healthwatch tile on the same foundation or on a different foundation,
depending on your desired monitoring configuration.
For more information about possible configurations, see [Using Healthwatch](using.html).


## <a id='architecture'></a> Architecture

Visit the [architecture page](architecture.html)
for a detailed explanation of the Healthwatch architecture,
as well as a list of open ports required for each component.

## <a id='faq'></a> Healthwatch FAQ

1. **Why is DNS configuration important?**

    To avoid creating an unnecessary dependency on TAS for VMs,
    the Healthwatch 2.0 tile does not use the Gorouter included in TAS for VMs
    to route the Grafana VM to a subdomain on the foundation.
    Therefore, for ease of access, it is important
    to configure the Grafana VM with DNS. For more information, see [Configuring DNS for the Grafana VM](common-configurations/dns-configuration.html).

1. **Why is IaaS configuration important?**

    The [IaaS Configuration page](common-configurations/iaas-configuration.html) documents
    the process for creating a firewall policy in each of the various IaaSes.
    Access to individual VMs is disabled by default, so updating the firewall is necessary to allow the operator to externally access the Grafana VM.
