---
title: Pivotal Cloud Foundry Healthwatch (Beta)
owner: Partners
---
<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>

<p class="note warning">
<strong>IMPORTANT: </strong>
The Pivotal Cloud Foundry (PCF) Healthwatch tile is currently in beta and is intended for evaluation and test purposes only.
Do not use this product in a PCF production environment.
</p>

Pivotal Cloud Foundry (PCF) Healthwatch stores and visualizes recommended key operational metrics from core PCF components, including bosh-reported VM metrics, to help Operators better understand the current health, performance, and capacity of a given PCF Foundation. PCF Healthwatch also creates measures of operational value via recommended continuous validation tests and contextually derived metrics; forwarding these product-specific measures into the firehose for existing customer solutions to pick up as desired.

## <a id='features'></a>Key Features

PCF Healthwatch includes the following key features:

* Feature one.
* Feature two.
* Feature three.

**Note**: This feature list will appear under **FEATURES** in the tile's listing on 
[Pivotal Network](http://network.pivotal.io).

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about PRODUCT-NAME.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.0.0-alpha.5</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>August 8, 2017</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.11.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.11.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>GCP</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>Not yet determined</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

PCF Healthwatch has the following requirements:

+ TBD

+ TBD

## <a id="limitations"></a>Limitations

**TBD.**

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions by sending an email to [pcf-healthwatch-feedback@pivotal.io.](mailto:pcf-healthwatch-feedback@pivotal.io).

## <a id='license'></a>License

This product is distributed under the [Pivotal Pre-Release EULA](https://network.pivotal.io/legal_documents/pivotal_beta_eula) license.
