---
title: Pivotal Cloud Foundry Healthwatch (Beta)
owner: PCF Healthwatch
---
<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>

<p class="note warning">
<strong>IMPORTANT: </strong>
The Pivotal Cloud Foundry (PCF) Healthwatch tile is currently in beta and is intended for evaluation and test purposes only.
Do not use this product in a PCF production environment.
</p>

Pivotal Cloud Foundry (PCF) Healthwatch helps operators understand the current health, performance, and capacity of a given PCF foundation. It stores and visualizes recommended key operational metrics from core PCF components, including BOSH-reported VM metrics, as well as creates additional measures of operational value based on continuous validation tests and contextually derived metrics.

## <a id='features'></a>Key Features

PCF Healthwatch includes the following key features:

* Offers an opinionated PCF Operational Monitoring dashboard, providing coverage of the recommended [Key Performance Indicators](https://docs.pivotal.io/pivotalcf/monitoring/kpi.html) and [Key Scaling Indications](https://docs.pivotal.io/pivotalcf/monitoring/key-cap-scaling.html) for a given version of PCF. Associated data is retained for 25 hours.
* Executes recommended operational health checks as continuous validation tests. It stores and displays the results of the checks as well as [forwards](using.html#firehose) this data into the [Loggregator Firehose](https://docs.pivotal.io/pivotalcf/loggregator/architecture.html#firehose) for external consumption by existing customer solutions.

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about PCF Healthwatch.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.0.8</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>October 26, 2017</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.11.x, v1.12.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.11.9 or later, v1.12.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, GCP, vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>Not yet determined</td>
    </tr>
</table>

## <a id="limitations"></a>Limitations

* PCF Healthwatch does not cover the recently recommended [MySQL KPIs for PCF v1.12](https://docs.pivotal.io/pivotalcf/1-12/monitoring/kpi.html#kpi4MySQL).
* PCF Healthwatch does not cover monitoring of [Isolation Segments](https://docs.pivotal.io/pivotalcf/1-12/adminguide/isolation-segments.html).
* PCF Healthwatch is intended to monitor only the PCF foundation it is installed on.
* Currently, only the Google Chrome browser is supported when accessing the product UI.
* If an alpha version of PCF Healthwatch is installed, it must be deleted before proceeding with the installation of the beta tile.

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions by sending an email to [pcf-healthwatch-feedback@pivotal.io](mailto:pcf-healthwatch-feedback@pivotal.io).

## <a id='license'></a>License

This product is distributed under the [Pivotal Pre-Release EULA](https://network.pivotal.io/legal_documents/pivotal_beta_eula) license.
