---
title: Indicator Protocol Dashboard
owner: PCF Healthwatch
---

## <a id='about'></a>Indicator Protocol Dashboard

Enable Additional Beta Dashboards via the Monitoring Indicator Protocol

Dashboard configuration is registered with PCF Healthwatch via a [global runtime addon](https://bosh.io/docs/runtime-config/). Once runtime config is updated all deployments will be considered outdated. **Note:** The Director will apply runtime config changes to each deployment during the next bosh deploy for that deployment.

To enable the runtime addon:

1. Click the **PCF Healthwatch** tile on the Ops Manager Installation Dashboard.
2. Navigate to the **Healthwatch Component Config** pane.
3. Select Yes on the **BETA: Enable the Indicator Protocol registration agent add-on?** field.
4. Click **Save**.
5. Return to the Ops Manager Installation Dashboard.
6. Click **Review Pending Changes**.
7. Select only **PCF Healthwatch**. If any other products are selected, deselect them. (BOSH Director cannot be de-selected. This is OK.)
8. Click **Apply Changes**.

After PCF Healthwatch has been deployed with support for Monitoring Indicator Protocol, other services on the Foundation can be enabled.

To register an indicator document for an existing service, whether Pre-Provisioned or On-Demand, you must co-locate the Monitoring Indicator Protocol Registration Agent on each existing services’ VM. In order to do this, re-deploy each existing service through bosh. For example, to enable RabbitMQ dashboards for all On-Demand service instances:

The upgrade-all-service-instances [errand](https://docs.pivotal.io/rabbitmq-cf/1-15/troubleshoot.html#upgrade-all) will force this. Please read the documentation to understand the implications of this errand.
Verify the dashboards appear by visiting the PCF Healthwatch UI at https://healthwatch.SYSTEM-DOMAIN/indicator-dashboards.

Note: The charts are populated using Log Cache, which is part of Loggregator. If charts on the dashboard result in this error: `"Error fetching graph data."`, the cause is Log Cache timing out while attempting to process the data. No corrective action is required and it will self-resolve if possible.

### <a id="how-it-works"></a>How Monitoring Indicator Protocol Works in PCF Healthwatch

Each BOSH VM runs a process called the Monitoring Indicator Protocol Registration Agent. The agent will watch the /var/vcap/jobs directory. Any folders found in that directory will be inspected for a document called indicators.yml nested inside of a config folder. If an indicator document is located, the agent will parse the document and send the results to the Indicator Registry. This process of registering documents is repeated every 30 seconds, regardless of any changes being made to the document.

For example, in the diagram below, an agent (indicator-registration-agent) running on the RabbitMQ Server VM finds a document at `/var/vcap/jobs/rabbit/config/indicators.yml` and sends the data to an indicator registry. The registry runs on the Healthwatch Forwarder VM and is the source of truth for indicator definitions. Documents are temporarily  stored in memory, and if the indicator registry does not receive a re-registered document within 2 hours the document is evicted and that service’s dashboard will not appear.

<%= image_tag './images/indicator-protocol-architecture.png' %>

The indicator registry exposes a `/indicator-documents` endpoint, which returns a JSON representation of the indicator documents. PCF Healthwatch consumes the results of this endpoint and creates a dashboard for each document. Each indicator is rendered as a chart on the dashboard. The chart is populated by the data from Log Cache using a [PromQL query](https://prometheus.io/docs/prometheus/latest/querying/basics/). These dashboards can be found by visiting `/indicator-dashboards` in the PCF Healthwatch UI.

This feature is in Beta. If you would like to provide feedback to the Indicator Protocol team, please email [indicator-protocol@pivotal.io](mailto:indicator-protocol@pivotal.io).