---
title: Indicator Protocol Dashboard (Beta)
owner: Pivotal Healthwatch
---

<p class="note warning"><strong>Warning:</strong> This feature is in beta.</p>


## <a id='about'></a> Overview

The Indicator Protocol dashboard allows you to define and monitor custom scaling indicator metrics for the services in your deployment. The dashboard displays charts of indicator metrics, which are defined in an indicator document. The dashboard is populated by data from the Log Cache component of Loggregator using a PromQL query.

For more information about PromQL, see [Querying Prometheus](https://prometheus.io/docs/prometheus/latest/querying/basics/) in the Prometheus documentation.

For more information about Log Cache, see [Loggregator Architecture](https://docs.pivotal.io/pivotalcf/loggregator/architecture.html).

<p class="note"><strong>Note:</strong> The charts on the Indicator Protocol dashboard are populated by Log Cache, which is a component of Loggregator. Charts on the Indicator Protocol dashboard might display the following error: <code>"Error fetching graph data."</code>. This error is caused because Log Cache times out while it attempts to process data. No corrective action is required. The error resolves itself if possible.</p>


## <a id='architecture'></a> Architecture

The Indicator Protocol dashboard is enabled by a Monitoring Indicator Protocol Registration Agent that runs on each BOSH VM. The Monitoring Indicator Protocol Registration Agent watches and inspects the `/var/vcap/jobs` for a document called `indicators.yml` in a `config` directory.

If the agent locates this indicator document, it parses the document and sends the results to the Indicator Registry. This process of registering documents is repeated every 30 seconds.

In the following architecture diagram, the `indicator-registration-agent` runs on the RabbitMQ Server VM. The agent finds a document at `/var/vcap/jobs/rabbit/config/indicators.yml` and sends the data to an indicator registry.

This indicator registry defines indicators and runs on the Healthwatch Forwarder VM. Documents are temporarily stored in memory in the registry.

The indicator registry exposes a `/indicator-documents` endpoint, which returns a JSON representation of the indicator documents. Pivotal Healthwatch consumes the results of this endpoint and creates a dashboard for each document. If the indicator registry does not receive a re-registered document within 2 hours, the document is evicted and that service's dashboard does not appear.

<%= image_tag './images/indicator-protocol-architecture.png' %>


## <a id='enable-dashboard'></a> Enable and Configure the Indicator Protocol Dashboard

This section provides instructions for enabling and configuring the Indicator Protocol dashboard.

To enable the Indicator Protocol dashboard:

1. Enable the Indicator Protocol runtime config add-on for BOSH Director. See [Enable the Indicator Protocol Add-on](#enable-add-on).

1. Register an indicator document. See [Register an Indicator Document](#indicator-document).

### <a id='enable-add-on'></a> Enable the Indicator Protocol Add-on

To enable the Indicator Protocol dashboard, you must enable a global BOSH Director runtime config add-on for Indicator Protocol. The BOSH Director applies runtime config changes to each deployment during the next BOSH deploy.

<p class="note"><strong>Note:</strong> After you update the runtime config, all deployments are outdated.</p>

For more information about runtime config, see [Director Runtime Config](https://bosh.io/docs/runtime-config/)in the BOSH documentation.

To enable the Indicator Protocol runtime config add-on:

1. On the Ops Manager Installation Dashboard, click the **Pivotal Healthwatch** tile.

1. Navigate to the **Healthwatch Component Config** pane.

1. Select **Yes** on the **BETA: Enable the Indicator Protocol registration agent add-on?** field.

1. Click **Save**.

1. On the Ops Manager Installation Dashboard, click **Review Pending Changes**.

1. Enable only Pivotal Healthwatch. If any other products are enabled, disable them.
<p class="note"><strong>Note:</strong> BOSH Director cannot be disabled.</p>

1. Click **Apply Changes**.

### <a id='indicator-document'></a> Register an Indicator Document

The Indicator Protocol dashboard displays charts of indicator metrics, which are defined in an indicator document.

To register an indicator document for the Indicator Protocol dashboard, whether Pre-Provisioned or On-Demand, you must co-locate the Monitoring Indicator Protocol Registration Agent on each existing service's VM.

For more information about the Monitoring Indicator Protocol Registration Agent, see [Architecture](#architecture).

To co-locate the Monitoring Indicator Protocol Registration Agent on each of your existing service's VM, re-deploy each service through BOSH.

For example, to enable RabbitMQ dashboards for all On-Demand service instances, use the `upgrade-all-service-instances` errand.

For information about the errand, including implications, see [Upgrade all service instances errand](https://docs.pivotal.io/rabbitmq-cf/1-15/troubleshoot.html#upgrade-all).


## <a id='access'></a> Access the Indicator Protocol Dashboard

To verify that the Indicator Protocol dashboards appear in Pivotal Healthwatch, view the Pivotal Healthwatch UI at `https://healthwatch.SYSTEM-DOMAIN/indicator-dashboards`, where `SYSTEM-DOMAIN` is the system domain URL configured in the TAS for VMs tile.
