---
title: Installing and Configuring PCF Healthwatch
owner: PCF Healthwatch
---

This topic describes how to install and configure Pivotal Cloud Foundry (PCF) Healthwatch.

##<a id='prereqs'></a> Prerequisites

Before deploying PCF Healthwatch, ensure that you have installed:

* PCF Ops Manager v1.11.0 or later
* PCF Elastic Runtime v1.11.0 or later
* the [UAA Command Line Interface (UAAC)](https://github.com/cloudfoundry/cf-uaac)

##<a id='install'></a> Install PCF Healthwatch

1. Download the product and supporting files from [Pivotal Network](https://network.pivotal.io/products/p-healthwatch).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the main product file. 

1. Under the **Import a Product** button, click **+** next to the version number of PCF Healthwatch.
This adds the tile to your staging area.

##<a id='configure'></a> Configure BOSH Director Health Check in PCF Healthwatch 

To start using PCF Healthwatch, you need to add a service network to the Ops Manager Director and PCF Healthwatch tiles. This is the subnet on which PCF Healthwatch runs BOSH health checks.

<p class="note"><strong>Note</strong>: Creating a service network ensures that Ops Manager will not attempt to use the same IP address as the BOSH Health Check VM.</p>

###<a id='ops-man'></a> Step 1. Configure the Ops Manager Director Tile

<p class="note"><strong>Note</strong>: If you have already completed this step during a prior installation of PCF Healthwatch, it does not need to be repeated.</p>

To configure Ops Manager Director, perform the following steps:

1. Click the **Ops Manager Director** tile on the Ops Manager Installation Dashboard.
1. Navigate to **Create Networks** and click **Add Network**.
1. In the **Name** field, enter `bosh-health-check`.
1. Select the **Service Network** checkbox.
1. Enter the network details for your Service Network.
1. Click **Save**.
1. Return to the Ops Manager Installation Dashboard and click **Apply Changes**.


###<a id='ops-man'></a> Step 2. Configure the PCF Healthwatch Tile

To configure PCF Healthwatch, perform the following steps:

1. Click the **PCF Healthwatch** tile on the Ops Manager Installation Dashboard.
1. Navigate to **Health Check** and do the following:

	1. Enter **Ops Manager URL**. The URL should include the protocol.
	1. In **BOSH Healthcheck Service Network**, enter `bosh-health-check`.
	1. In **BOSH Healthcheck Availability Zone**, enter an availability zone from your Service Network.
	1. In **BOSH Healthcheck VM Type**, enter a VM type.
		<p class="note"><strong>Note</strong>: You can find the availability zone and VM type values by submitting the <code>YOUR-OPSMAN-URL/api/v0/deployed/cloud_config</code> Ops Manager API request.</p>
	1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes**.

##<a id='bosh-metrics'></a> Getting BOSH Health Metrics into PCF Healthwatch

Forwarding BOSH health metrics to PCF Healthwatch currently requires manual configuration. You must have PCF Admin permissions to configure the BOSH Director.

<p class="note"><strong>Note</strong>: The manual configuration is required for the alpha and beta releases of PCF Healthwatch.</p>

To configure the BOSH Director, follow the instructions below. The referenced plugins are available on [Pivotal Network](https://network.pivotal.io/products/p-healthwatch).


1. Copy `healthwatch-bosh-plugin`, `run.sh`, and `healthwatch-bosh-plugin.json` to the BOSH Director.
1. Sudo into the bosh director
1. Create the following directories if they do not exist: 
	/var/vcap/packages/healthwatch/
	/var/vcap/jobs/healthwatch/bin/bosh-monitor/
	/var/vcap/jobs/healthwatch/config/
	<pre class="terminal">	
		mkdir -p /var/vcap/packages/healthwatch/
		mkdir -p /var/vcap/jobs/healthwatch/bin/bosh-monitor/
		mkdir -p /var/vcap/jobs/healthwatch/config/
		mkdir -p /var/vcap/sys/log/healthwatch/
	</pre>
1. Move the copied files to the following directories:
	<pre class="terminal">	
		mv /tmp/healthwatch-bosh-plugin /var/vcap/packages/healthwatch/
		mv /tmp/run.sh /var/vcap/jobs/healthwatch/bin/bosh-monitor/
		mv /tmp/healthwatch-bosh-plugin.json /var/vcap/jobs/healthwatch/config/
	</pre>
1. Assign the following permissions:
	<pre class="terminal">
		chown vcap:vcap /var/vcap/sys/log/healthwatch/
		chmod 755 /var/vcap/jobs/healthwatch/bin/bosh-monitor/run.sh
		chmod 755 /var/vcap/packages/healthwatch/healthwatch-bosh-plugin
		chmod 644 /var/vcap/jobs/healthwatch/config/healthwatch.json
		chmod 750 /var/vcap/sys/log/healthwatch/
	</pre>
1. Edit and update the `/var/vcap/jobs/healthwatch/config/healthwatch.json` file with your MySQL IP and credentials.
1. Verify that the json plugin is enabled in `/var/vcap/jobs/health_monitor/config/health_monitor.yml`.
	<pre class="terminal">
		{"name":"json","events":["alert","heartbeat"],"options":{}}
	</pre>
1. Run `monit restart health_monitor` and verify that logs are created in `/var/vcap/sys/log/healthwatch/`.

##<a id='uaa-authorities'></a> Configure UAA Authorities

To configure UAA authorities, run the `configure_uaa.sh` script from your terminal. This script configures the UAA client credentials that are needed for the PCF Healthwatch UI to access a token on behalf of your login user.

<p class="note"><strong>Note</strong>: You must have PCF Admin permissions to configure UAA authorities.</p>

You can find the contents of the script below:

```
#!/usr/bin/env bash


UAA_URL=$1  #The URL of the UAA login like login.sys.valentino.gcp.pcf-metrics.com.
UAA_ADMIN_USERNAME=$2 #The UAA admin client credentials username.
UAA_ADMIN_PASSWORD=$3 #The UAA admin client credentials password.
NEW_CLIENT=$4 #The client credentials username provided in Ops Manager for the Healthwatch application.
NEW_CLIENT_SECRET=$5 #The client credentials secret provided in Ops Manager for Healthwatch.
UAA_USER=$6 #The user you want to log in to Healthwatch with. They will get the platform-monitoring.read scope.
APP_URL=$7 #The full URL of the Healthwatch application.

echo $UAA_URL
echo $UAA_ADMIN_USERNAME
echo $NEW_CLIENT
echo $UAA_USER
echo $APP_URL

uaac target $UAA_URL --skip-ssl-validation
uaac token client get $UAA_ADMIN_USERNAME -s $UAA_ADMIN_PASSWORD
uaac group add healthwatch.read || true

uaac client add $NEW_CLIENT \
   --authorities "uaa.resource" \
   --scope "healthwatch.read" \
   --authorized_grant_types "authorization_code,refresh_token" \
   -s $NEW_CLIENT_SECRET \
   --redirect_uri $APP_URL \
   --access_token_validity 900 \
   --refresh_token_validity 2628000 \
   --autoapprove true

uaac member add healthwatch.read $UAA_USER
```
See the following example:

<pre class="terminal">$ ./configure_uaa.sh login.sys.valentino.gcp.pcf-metrics.com admin UAA-ADMIN-CLIENT-SECRET platform_monitoring PLATFORM_MONITORING-SECRET admin PCF-HEALTHWATCH-URL</pre>

In this example, replace `login.sys.valentino.gcp.pcf-metrics.com` with the URL of your UAA login. `PLATFORM_MONITORING-SECRET` is the password that you enter in Ops Manager when configuring the PCF Healthwatch tile.
