---
title: Installing and Configuring PCF Healthwatch
owner: PCF Healthwatch
---

This topic describes how to install and configure Pivotal Cloud Foundry (PCF) Healthwatch. For a list of compatible Ops Manager and Elastic Runtime versions, see [Product Snapshot](index.html#snapshot).

##<a id='install'></a> Install PCF Healthwatch

1. Download the product and supporting files from [Pivotal Network](https://network.pivotal.io/products/p-healthwatch).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the main product file. 

1. Under the **Import a Product** button, click **+** next to the version number of PCF Healthwatch.
This adds the tile to your staging area.

##<a id='configure'></a> Configure PCF Healthwatch

To start using PCF Healthwatch, you need to configure the Ops Manager Director and PCF Healthwatch tiles.

<p class="note"><strong>Note</strong>: PCF Healthwatch requires a service network for running BOSH health checks. This ensures that Ops Manager will not attempt to use the same IP address as the BOSH Health Check VM.</p>

If you do not have an existing service network with IP addresses managed by BOSH and at least one free IP address, proceed to [Step 1. Configure the Ops Manager Director Tile](installing.html#ops-man) to create a new service network.

If you have an existing service network with IP addresses managed by BOSH and at least one free IP address, you can skip Step 1 and select this network for running the BOSH Health Check VM in [Step 2. Configure the PCF Healthwatch Tile](installing.html#healthwatch-tile).

###<a id='ops-man'></a> Step 1. Configure the Ops Manager Director Tile

<p class="note"><strong>Note</strong>: If you have already completed this step during a prior installation of PCF Healthwatch, you do not need to repeat it.</p>

To configure the Ops Manager Director tile, perform the following steps:

1. Click the **Ops Manager Director** tile on the Ops Manager Installation Dashboard.
1. Navigate to **Create Networks** and click **Add Network**.
1. In the **Name** field, enter `bosh-health-check`.
1. Select the **Service Network** checkbox.
1. Enter the network details for your **Service Network**.
1. Click **Save**.
              
###<a id='healthwatch-tile'></a> Step 2. Configure the PCF Healthwatch Tile

To configure the PCF Healthwatch tile, perform the following steps:

1. Click the **PCF Healthwatch** tile on the Ops Manager Installation Dashboard.
1. Navigate to **Assign AZs and Networks** and do the following:

    1. Select an Availability Zone (AZ) for placing singleton jobs.
    1. Select one or more AZs for balancing other jobs.

		<p class="note"><strong>Note</strong>: To create a highly available environment, Pivotal recommends selecting multiple AZs.</p>

    1. Select **Network** for installing PCF Healthwatch.
    1. Select **Service Network** for running the BOSH Health Check VM.
    1. Click **Save**.

1. Navigate to **Data Store** and do the following:

	1. Set **Ingestor Count** to the same number of Doppler Server instances configured in the Elastic Runtime tile. 
	1. Set **MySQL Logqueue Count** to 1 for a small or medium PCF deployment or 2 for a larger PCF deployment.
	1. Click **Save**.

1. Navigate to **Health Check** and do the following:

	1. Enter **Ops Manager URL**. The URL should include the protocol.
	1. In **BOSH Health Check Availability Zone**, select an AZ for the BOSH Health Check VM.
	1. In **BOSH Health Check VM Type**, select a VM type for the BOSH Health Check VM. The recommended VM type is **small**.
	1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes**.

##<a id='bosh-metrics'></a> Getting BOSH Health Metrics into PCF Healthwatch

Forwarding BOSH health metrics to PCF Healthwatch currently requires manual configuration. You must have PCF Admin permissions to configure the BOSH Director.

To configure the BOSH Director, follow the instructions below.

<p class="note">
<strong>Note</strong>:
You must repeat these steps every time the BOSH Director is recreated. 
The BOSH Director is recreated when you upgrade Ops Manager and install, upgrade, and delete data service tiles (for example, MySQL, RabbitMQ, or Redis).
</p>

1. Copy `healthwatch-bosh-plugin`, `run.sh`, and `healthwatch-bosh-plugin.json` to the BOSH Director. The referenced plugins are available on [Pivotal Network](https://network.pivotal.io/products/p-healthwatch).
1. Run `sudo` in the BOSH Director.
1. Create the following directories:

	<pre class="terminal">
	mkdir -p /var/vcap/packages/healthwatch/
	mkdir -p /var/vcap/jobs/healthwatch/bin/bosh-monitor/
	mkdir -p /var/vcap/jobs/healthwatch/config/
	mkdir -p /var/vcap/sys/log/healthwatch/
	</pre>
1. Move the copied files as follows:
	<pre class="terminal">
	mv /tmp/healthwatch-bosh-plugin /var/vcap/packages/healthwatch/
	mv /tmp/run.sh /var/vcap/jobs/healthwatch/bin/bosh-monitor/
	mv /tmp/healthwatch-bosh-plugin.json /var/vcap/jobs/healthwatch/config/
	</pre>
1. Assign the following permissions:
	<pre class="terminal">
	chown vcap:vcap /var/vcap/sys/log/healthwatch/
	chmod 755 /var/vcap/jobs/healthwatch/bin/bosh-monitor/run.sh
	chmod 755 /var/vcap/packages/healthwatch/healthwatch-bosh-plugin
	chmod 644 /var/vcap/jobs/healthwatch/config/healthwatch-bosh-plugin.json
	chmod 750 /var/vcap/sys/log/healthwatch/
	</pre>
1. Edit and update the `/var/vcap/jobs/healthwatch/config/healthwatch-bosh-plugin.json` file with one of your MySQL Proxy IPs and MySQL Admin Password from the PCF Healthwatch tile.
1. Verify that the JSON plugin is enabled in `/var/vcap/jobs/health_monitor/config/health_monitor.yml`.
	<pre>
	{"name":"json","events":["alert","heartbeat"],"options":{}}
	</pre>
1. Run `monit restart health_monitor` and verify that logs are created in `/var/vcap/sys/log/healthwatch/`.
