---
title: Installing, Configuring, and Deploying Healthwatch
owner: Healthwatch
---

<strong><%= modified_date %></strong>

This topic describes how to manually install, configure, and deploy the Healthwatch tile.

To install, configure, and deploy Healthwatch through an automated pipeline, see [Installing,
Configuring, and Deploying a Tile Through an Automated Pipeline](automated-pipeline.html).


## <a id='overview'></a> Overview

The Healthwatch tile monitors metrics across multiple Ops Manager foundations by scraping metrics
from Healthwatch Exporter tiles installed on each foundation. For more information about the
architecture of the Healthwatch tile, see [Healthwatch Tile](../architecture/architecture.html#healthwatch)
in _Healthwatch Architecture_.

To manually install, configure, and deploy Healthwatch:

1. Download and install the Healthwatch tile from VMware Tanzu Network. For more information,
see [Install Healthwatch](#install) below.

1. Configure the Healthwatch tile through the tile UI. For more information, see [Configure
Healthwatch](#configure) below.

1. Deploy the Healthwatch tile through the Ops Manager Installation Dashboard. For more information,
see [Deploy Healthwatch](#apply-changes) below.


## <a id='install'></a> Install Healthwatch

To install the Healthwatch tile:

1. Navigate to the [Healthwatch](https://network.pivotal.io/products/p-healthwatch/) page on
VMware Tanzu Network.

1. From the **Releases** dropdown, select the version you want to install.

1. Click **Healthwatch** to download the Healthwatch `.pivotal` file.

1. Navigate to the Ops Manager Installation Dashboard.

1. Click **Import a Product** and select the Healthwatch file you just downloaded.

1. Once the upload is complete, click the **+** icon next to the Healthwatch listing
to add the tile to your staging area. For more information, see [Adding and Deleting Products]
(https://docs.pivotal.io/ops-manager/install/add-delete.html) in the Ops Manager documentation.


## <a id='configure'></a> Configure Healthwatch

After installing Healthwatch, you configure Healthwatch component VMs, including the configuration
files associated with them, through the tile UI. You can also configure errands and system
logging, as well as scale VM instances up or down and configure load balancers for multiple
VM instances.

To configure the Healthwatch tile:

<div class='note'><strong>Notes:</strong>
  <ul>
    <li>If you want to quickly deploy the Healthwatch tile to ensure that it deploys successfully
      before you fully configure it, you only need to configure the <strong>Assign AZ and Networks</strong>
      pane.</li>
    <li>If you are using Healthwatch to monitor foundations that are running Tanzu Kubernetes
      Grid Integrated Edition (TKGI), VMware recommends configuring the <strong>TKGI Cluster
      Discovery Configuration</strong> pane.</li>
  </ul>
</div>

1. Click the **Healthwatch** tile.

1. Assign jobs to your Availability Zones (AZs) and networks. For more information, see [Assign
AZs and Networks](#az) below.

1. (Optional) Configure the **Prometheus Configuration** pane. For more information, see [(Optional)
Configure Prometheus](#prometheus) below.

1. (Optional) Configure the **Alertmanager Configuration** pane. For more information, see
[(Optional) Configure Alertmanager](#alertmanager) below.

1. (Optional) Configure the **Grafana Configuration** pane. For more information, see [(Optional)
Configure Grafana](#grafana) below.

1. (Optional) Configure the **Canary URL Configuration** pane. For more information, see [(Optional)
Configure Canary URL](#canary) below.

1. (Optional) Configure the **Remote Write Configuration** pane. For more information, see
[(Optional) Configure Remote Write](#remote-write) below.

1. (Optional) Configure the **TKGI Cluster Discovery Configuration** pane. For more information,
see [(Optional) Configure TKGI Discovery](#pks-cluster-discovery) below.

1. (Optional) Configure the **Errands** pane. For more information, see [(Optional) Configure
Errands](#errands) below.

1. (Optional) Configure the **Syslog** pane. For more information, see [(Optional) Configure
Syslog](#syslog) below.

1. (Optional) Configure the **Resource Config** pane. For more information, see [(Optional)
Configure Resources](#resource-config) below.


## <a id='apply-changes'></a> Deploy Healthwatch

To complete your installation of the Healthwatch tile:

1. Return to the Ops Manager Installation Dashboard.

1. Click **Review Pending Changes**.

1. Click **Apply Changes**.

For more information, see [Reviewing Pending Product Changes](https://docs.pivotal.io/ops-manager/install/review-pending-changes.html)
in the Ops Manager documentation.


## <a id='next-steps'></a> Next Steps

After you have successfully installed the Healthwatch tile, continue to one of the following
topics to install Healthwatch Exporter tiles on the foundations you want to monitor:

* If you have TAS for VMs installed on a foundation you want to monitor, see [Installing, Configuring,
and Deploying Healthwatch Exporter for TAS for VMs](installing-exporter-tas-vms.html).

* If you have TKGI installed on a foundation you want to monitor, see [Installing, Configuring,
and Deploying Healthwatch Exporter for TKGI](installing-exporter-pks.html).
