---
title: Healthwatch v2.3 Release Notes
owner: Healthwatch
---

This topic contains release notes for Healthwatch&trade; for VMware Tanzu v2.3 (Healthwatch).

For information about the risks and limitations of Healthwatch v2.3, see [Assumed Risks of Using Healthwatch v2.3](index.html#assumed-risks) and [Healthwatch v2.3 Limitations](index.html#healthwatch-limitations) in _Healthwatch for VMware Tanzu_.

<p class="note">
Tanzu Application Service is now called Tanzu Platform for Cloud Foundry.
The current version of Tanzu Platform for Cloud Foundry is 10.0.</p>


## <a id='2-3-1'></a> v2.3.1

**Release Date:** October 3, 2024

* **[Feature]** Healthwatch 2.3.1 can now receive metrics through OpenTelemetery (OTel), even if Firehose is enabled.
* **[Bug Fix]** Duplicate VM details in Foundation Job details dashboard is now fixed.
* **[Known Issue]** If you have only TKGI v1.16 or later installed, the **Healthwatch Exporter troubleshooting** dashboard in the Grafana UI shows no data, see [No Data for Healthwatch Exporter troubleshooting](#no-data-healthwatch-exporter).

## <a id='2-3-0'></a> v2.3.0

**Release Date:** June 15th, 2024

* **[Breaking Changes]** Applicable only when using the OpenTelemetry Collector. You will notice changes in the Healthwatch metrics when you start collecting metrics using the OpenTelemetry Collector. The changes you come across are listed below:

  * Metrics from the Firehose-specific components, such as reverse log proxy, are not available after enabling the OpenTelemetry Collector.
  * Currently, the OpenTelemetry Collector is collocated on TAS VMs and only collects metrics from these VMs. As a result, metrics from other tiles are not collected by the OpenTelemetry Collector.
  * The Prometheus exporter in the OpenTelemetry Collector does not allow leading underscore, except in private metrics. Therefore, the OpenTelemetry Collector removes any leading underscores in metric names.
  * The SVM forwarder VM does not work with OpenTelemetry. You need to switch off the SVM forwarder VM if it is switched on.
  * The metrics listed in the table below have the  prefix `grafana` at the beginning of the metric name when you use the OpenTelemetery Collector.

      | Metrics name with Firehose        | Metric name with the OpenTelemetry Collector |
      |-----------------------------------|-----------------------------------------------|
      | access_evaluation_duration_bucket | grafana_access_evaluation_duration_bucket     |
      | access_evaluation_duration_count  | grafana_access_evaluation_duration_count      |
      | access_evaluation_duration_sum    | grafana_access_evaluation_duration_sum        |
      | access_permissions_duration_bucket| grafana_access_permissions_duration_bucket    |
      | access_permissions_duration_count | grafana_access_permissions_duration_count     |
      | access_permissions_duration_sum   | grafana_access_permissions_duration_sum       |

* **[Feature]** Healthwatch 2.3.0 supports using the OpenTelemetry Collector (instead of Firehose) to collect metrics For more information, see [Configure for OpenTelemetry](configuring/configuring-healthwatch.html#opentelemetry). Once the OpenTelemetry Collector is configured, Healthwatch automatically switches
to collecting metrics from the OpenTelemetery Collector. Healthwatch expects OpenTelemetry Collector data on port 65331.

* **[Feature]** Healthwatch 2.3.0 is upgraded to Grafana 10 and provides the new features offered by Grafana 10.

* **[Security Fix]** The following CVE was fixed by upgrading `Grafana` release version:
[CVE-2023-49569](https://nvd.nist.gov/vuln/detail/CVE-2023-49569)

Healthwatch v2.3.0 uses the following open-source component versions:

| Component    | Packaged Version |
|--------------|------------------|
| Prometheus   | 2.52.0           |
| Grafana      | 10.1.10          |
| Alertmanager | 0.27.0           |
| PXC          | 1.0.29           |

## Known Issues

This section contains known issues you might encounter.

### <a id='no-data-healthwatch-exporter'></a> Healthwatch exporter dashboard showing no data

This known issue is applicable if you have TKGi installed in your TAS for VMs/Tanzu Platform for Cloud Foundry environment. Metrics for the `pks-sli-exporter` VM will not be shown in the troubleshooting dashboard.
However, users will continue to see metrics from pas-sli-exporter.

