---
title: PCF Healthwatch v1.5 Release Notes
owner: PCF Healthwatch
---

##<a id='v1.5.0'></a>v1.5.0

**Release Date: Month x, 2019**

### <a id='notes'></a> New Features in v1.5 

* Updated default threshold of `locket.ActiveLocks` alert configuration from 4 to 5.

### <a id='issues'></a> Known Issues

#### Active Locks Alert Threshold Changes when PAS Feature Disabled

PAS v2.4 has an optional configuration, **Disable Zero Downtime App Deployments**,
that changes the alert threshold of the [Active Locks KPI](https://docs.pivotal.io/pivotalcf/2-4/monitoring/kpi.html#ActiveLocks) from `5` to `4`.

If the zero-downtime feature is disabled, use the [PCF Healthwatch API](./api/alerts.html#post) to update the alert configuration to a value of `4`. You can send the following JSON payload to the PCF Healthwatch API to update active locks:
    
```
"{\"query\":\"origin == 'locket' and name == 'ActiveLocks'\",\"threshold\":{\"critical\":4,\"type\":\"EQUALITY\"}}"
```

You can check the configuration of **Disable Zero Downtime App Deployments** in the **Advanced Features** pane of the PAS tile.
The corresponding manifest property is `advanced_features.properties.cloud_controller_temporary_disable_deployments`.



#### Action Required when Changing Metrics Deployment Name in PAS Tile

PAS v2.4 introduces the the ability to uniquely identify metrics by tile. It uses `cf-GUID` as the value for `deployment`, which matches the BOSH deployment name. In PAS v2.3 and earlier, metrics have a `deployment` value of `cf`. The **Advanced Features** pane of the PAS tile includes a field to override this new feature and revert to previous behavior: **Use “cf” as deployment name in emitted metrics instead of unique name**.

If you change the value of the **Use “cf” as deployment name in emitted metrics instead of unique name** checkbox in PAS v2.4 tile, you must run the Healthwatch **Push Monitoring Components** errand. Healthwatch does not detect the change in PAS configuration unless you run this errand. 

For 24 hours after the configuration change, Healthwatch handles metric data in the following ways:

* Data emitted with the previous `cf` tag is treated as an Isolation Segment. 
* Data emitted with the new `cf-GUID` tag is treated as the default CF deployment.

During this window, use the Isolation Segment dropdown on the **Capacity** and **Routing** detail pages to view the data from before the configuration change. You can toggle between `cf` and `cf-GUID`.


For more information, see the [PAS 2.4 release notes](https://docs.pivotal.io/pivotalcf/2-4/pcf-release-notes/breaking-changes.html#metrics-prefix).


### <a id='breaking-automation'></a> Breaking Changes for Automated Pipelines