---
title: Healthwatch Release Notes
owner: Healthwatch
---

<p class="note warning">
    <strong>Warning:</strong>
    The Healthwatch tiles are currently in beta
    and are intended for evaluation and test purposes only.
    Do not use this product in a production environment.
</p>

## <a id='2-0-1'></a>v2.0.1 Beta

**Release Date: April 29, 2020**

### Features

New features and changes in this release:

* Expose composite/"Super Value Metrics"
  from Healthwatch 1.x
  to the metrics pipeline.
  This will enable users to still see
  the metrics they are used to seeing from Healthwatch 1
  in their downstream log consumers
  if they upgrade their Healthwatch 1.x tile with Healthwatch 2.x.
* Include new **Cert Expiration** dashboard under **Foundation**
  that will display the time left until expiration
  for all discoverable certs from Ops Manager [API](https://docs.pivotal.io/pivotalcf/2-6/opsman-api/#generating-new-certificates).
  For OpsMan version <= 2.6, the api does not include the Ops Manager Root CA or product certificates stored in CredHub, version 2.7 and later include those things.
* Separate Diego Capacity metrics by isolation segment
  in **Diego/Capacity** dashboard
* Enable a proxy setting for Grafana. This allows users to configure alerting in air-gapped environments.
* Expose Opsman syslog configuration

<p class="note breaking">
    <strong>Breaking Change: </strong> Grafana is now configured to use the default HTTP and HTTPS ports
    so users don't have to specify a port when visiting their dashboards.
    If a load balancer is placed in front of Grafana instance(s),
    the backend configuration of the load balancer needs to be updated.
</p>


### Security Fixes

This release includes the following security fixes:

* N/A

### Resolved Issues

This release has the following fix:

* N/A

### Known Issues

There are no known issues for this release.
