---
title: Healthwatch Release Notes
owner: Healthwatch
---
<p class="note warning">
<strong>Warning:</strong>
    The Healthwatch tiles are currently in beta and is intended for evaluation and test purposes only. Do not use this product in a production environment.
    </p>

## <a id='2-0'></a>v2.0.1 beta

**Release Date: April 27, 2020**

### Features

New features and changes in this release:

* Include basic Enterprise PKS dashboards
* Show Indicator Protocol Generated dashboards
  when they are present and enabled
* Expose composite/"Super Value Metrics"
  from Healthwatch 1.x
  to the metrics pipeline.
  This will enable users to still see
  the metrics they are used to seeing from Healthwatch 1
  in their downstream log consumers
  if they upgrade their Healthwatch 1.x tile with Healthwatch 2.x.
* Include new `Cert Expiration` dashboard under `Foundation`
  that will display the time left until expiration
  for all discoverable certs
* Separate Diego Capacity metrics by isolation segment
  in `Diego/Capacity` dashboard
* Breaking change: Grafana is now configured to use the default HTTP and HTTPS ports
  so users don't have to specify a port when visiting their dashboards


### Security Fixes

This release includes the following security fixes:

* N/A

### Resolved Issues

This release has the following fix:

* N/A

### Known Issues

There are no known issues for this release.
