---
title: Release Notes for PCF Healthwatch
owner: PCF Healthwatch
---

##<a id='v1.1.0'></a>v1.1.0
**Release Date: December 22, 2017**

### Release Notes
* **[Feature]** To support monitoring of Pivotal Cloud Foundry (PCF) v2.0, the following functionality has been added to PCF Healthwatch:
    * The [Number of Route Registration Messages Sent and Received](https://docs.pivotal.io/pivotalcf/monitoring/kpi.html#route-registration) indicator helps monitor the performance of the Gorouter.
    * The [Locks Held by BBS](https://docs.pivotal.io/pivotalcf/monitoring/kpi.html#BBSActiveLocks) and [Locks Held by Auctioneer](https://docs.pivotal.io/pivotalcf/monitoring/kpi.html#AuctioneerActiveLocks) indicators help monitor the performance of Diego components.
* **[Feature]** Metrics published by PCF Healthwatch on a given PCF foundation are now identifiable to that foundation.
    * If PCF Healthwatch is installed on multiple foundations within a multi-foundation environment, the metrics PCF Healthwatch publishes are identifiable to their source PCF foundation. This enables operators who are aggregating data streams from multiple foundations to more easily recognize which foundation the PCF Healthwatch metrics of concern originated from.
    * By default, the value provided for a PCF foundation is the system domain of that foundation. The foundation value is passed into the Firehose as a key-value tag. For example:
    <pre class="terminal">
    origin:"healthwatch" eventType:ValueMetric timestamp:1511211281010702574 deployment:"cf" job:"healthwatch-forwarder" index:"dbf89280-1b6b-46c7-4255-aaad" ip:"10.0.16.29" tags:&lt;key:"foundation" value:"pcf.downey.cfapps.com" &gt; valueMetric:&lt;name:"health.check.OpsMan.probe.count" value:1 unit:"count" &gt;
    origin:"healthwatch" eventType:ValueMetric timestamp:1511211286171879726 deployment:"cf" job:"healthwatch-forwarder" index:"05a557a0-0e38-4298-6adb-278d" ip:"10.0.16.29" tags:&lt;key:"foundation" value:"pcf.downey.cfapps.com" &gt; valueMetric:&lt;name:"health.check.bosh.director.probe.available" value:1 unit:"Metric" &gt;
    </pre>
* **[Feature]** PCF Healthwatch now publishes operational metrics about itself so that its functionality and performance can also be monitored.
    * Scaling indicators: [healthwatch.ingestor.disconnects](monitoring.html#firehose-disconnect) and [healthwatch.loader.dropped](monitoring.html#loader-dropped)
    * Test availability: [health.check.cliCommand.probe.available](monitoring.html#cli-test-availability), [health.check.CanaryApp.probe.available](monitoring.html#canary-test-availability), [health.check.bosh.director.probe.available](monitoring.html#bosh-test-availability), and [health.check.OpsMan.probe.available](monitoring.html#opsman-test-availability)
    * Underlying computation: [healthwatch.metrics.published](monitoring.html#super-metrics-published), [health.check.cliCommand.probe.count](monitoring.html#cli-command-health-probe), [health.check.OpsMan.probe.count](monitoring.html#opsmanager-health-probe), [health.check.CanaryApp.probe.count](monitoring.html#canary-health-probe), and [health.check.bosh.director.probe.count](monitoring.html#bosh-health-probe)
    * PCF Healthwatch UI availability: [healthwatch.ui.available](monitoring.html#ui-availability)

    For more information, see [Monitoring PCF Healthwatch](monitoring.html).

* **[Feature]** Operators installing or upgrading PCF Healthwatch can now configure the desired number of Health Checkers in the Healthwatch Component Config section of the PCF Healthwatch tile.
* **[Feature]** Operators who do not use Ops Manager for deployments can now turn off the default Ops Manager test suite. For more information, see [Installing and Configuring PCF Healthwatch](installing.html#healthwatch-opsman).
* **[Feature]** UI Improvements:
    * The PCF Healthwatch dashboard has a new six-column default layout. If the width of your display is 1835 pixels or fewer, the dashboard shows three columns; you can resize them down manually in the browser.
    * Tooltip interactions and handling of long deployment names was improved.
    * Breadcrumb navigation was added.
    * Panel titles now link to detail view pages.

### Known issues

PCF Healthwatch v1.1.0:

* Is not compatible with the [PCF Small Footprint PAS](https://network.pivotal.io/products/elastic-runtime) tile.
* Does not cover monitoring of [Isolation Segments](https://docs.pivotal.io/pivotalcf/adminguide/isolation-segments.html).
* Supports only the Google Chrome browser when accessing the PCF Healthwatch UI.
* Hides three of the [PAS MySQL KPI](https://docs.pivotal.io/pivotalcf/monitoring/kpi.html#kpi4MySQL) charts at launch. These charts will be available in a future patch version:
    * Query Rate
    * MySQL CPU Busy Time
    * Percentage of Max Connections Used

##<a id='whatsnew'></a>What's New in PCF Healthwatch v1.1

PCF Healthwatch v1.0 was available as a limited, closed-BETA release. The section below summarizes key differences between PCF Healthwatch v1.0 and v1.1. For more information about new features in v1.1, see [v1.1.0 release notes](release-notes.html#v1.1.0).

### Key Differences
* **[Feature]** Manual plugin configurations are no longer required to ingest BOSH metrics into PCF Healthwatch. Use of the prior plugins should be eliminated upon switch to v1.1.
    * Smoke tests now fail on lack of BOSH metrics.
* **Naming convention changes**:
    * The `healthwatch.health.check.AppsMan.available` metric is now `healthwatch.health.check.CanaryApp.available`.
    * The `healthwatch.health.check.AppsMan.responseTime` metric is now `healthwatch.health.check.CanaryApp.responseTime`.
    * The data loader app deployed at installation was renamed from `mysql-logqueue` to `loader`.
* **Data convention change**: In PCF Healthwatch v1.0, the default deployment value for all [Healthwatch-created metrics](metrics.html) was `p-healthwatch`. In PCF Healthwatch v1.1, the deployment value is the actual deployment value the metrics were created from. This is a necessary data structure change to prepare for the future capability of monitoring isolation segments. The origin of all Healthwatch-created metrics remains `healthwatch`.
* **[Feature]** New [Syslog Drain Binding Capacity](metrics.html#syslog-drain-binding-capacity) metric represents the average number of drain bindings across Adapter instances. The Logging Performance page now displays this capacity ratio as an indicator for scaling Syslog Drain Adapters. This chart replaces the informational Count of Bindings chart used in v1.0. 
* **[Feature]** The following Router graphs are now multi-line so that the performance of the individual instances can be better represented:
    * Router Throughput
    * 502 Bad Gateways 
    * All 5XX Errors
    * Number of Routes Registered 
* **[Feature]** New count of the [Available Free Chunks](metrics.html#free-memory-chunks) metric is now available within the PCF Healthwatch datastore and is being forwarded into the Firehose for external consumption. 
* **[Feature]** PCF Healthwatch v1.1 uses the new Ops Manager feature for supporting [colocated errands](http://docs.pivotal.io/tiledev/tile-errands.html#colocated).
* **[Feature]** PCF Healthwatch v1.1 is updated to reflect the [Key Performance Indicators](https://docs.pivotal.io/pivotalcf/monitoring/index.html#new) changes for PCF v2.0.
* Product stemcell was updated to v3445.
* MySQL version was updated to v36.10.0.
* In PCF 2.0, Elastic Runtime (ERT) was renamed to Pivotal Application Services (PAS). All help text references to ERT have been updated to PAS.
