---
title: Healthwatch Release Notes
owner: Healthwatch
---
<p class="note warning">
<strong>Warning:</strong>
    The Healthwatch tiles are currently in beta and is intended for evaluation and test purposes only. Do not use this product in a production environment.
    </p>

## <a id='2-0'></a>v2.0

**Release Date: March 27, 2020**

### Features

New features and changes in this release:

* Retain 6 weeks of data in a time-series database
* Know your foundation is healthy with Healthwatch default dashboards and alerts
* Explore metrics and create custom dashboards with Grafana
* Customize alerts, thresholds, and alerting channels
* Track Healthwatch SLIs, such as CLI Health and Canary App Health
* Monitor Tanzu Application Service for VMs and PKS
* Monitor multiple foundations from a single view
* Create and track your own service-level objectives
* Authorize users with UAA, OAuth, LDAP, or basic authentication


### Security Fixes

This release includes the following security fixes:

* N/A

### Resolved Issues

This release has the following fix:

* N/A

### Known Issues

There are no known issues for this release.
