---
title: Release Notes for PCF Healthwatch
owner: PCF Healthwatch
---

##<a id='v1.5.0'></a>v1.5.0
**Release Date: Month x, 2019**

### Release Notes
*

### Known Issues

PCF Healthwatch v1.5.0:

* In PAS 2.4, certain system metrics are emitted with a deployment tag of `cf-GUID` (to better match the BOSH deployment) instead of `cf` (legacy behavior). In the `Advanced Features` section of the PAS tile configuration, 
there is a `Use “cf” as deployment name in emitted metrics instead of unique name` checkbox that controls this behavior. When upgrading from PAS 2.3, this checkbox is enabled by default to maintain the legacy behavior. In "fresh" 
installs, the newer behavior is the default. More information is available in the [PAS 2.4 release notes](https://docs.pivotal.io/pivotalcf/2-4/pcf-release-notes/breaking-changes.html#metrics-prefix).
  * **Healthwatch can handle either configuration; however, when changing the value of this checkbox, the Healthwatch "Push Monitoring Components" errand (`push-apps`) must be run in order for Healthwatch to detect the change.**
  * For 24 hours after the configuration change, any data from metrics emitted with the previous `deployment` tag will be treated as an Isolation Segment and any data from metrics emitted with the new `deployment` tag will be treated as the default CF deployment.
    * During this window, use the Isolation Segment dropdown on the `Capacity` and `Routing` detail pages to view the data before the configuration change (selecting between `cf` and `cf-GUID` accordingly).

##<a id='whatsnew'></a>What's New in PCF Healthwatch v1.3

The section below summarizes key differences between PCF Healthwatch v1.4 and v1.5. For more information about new features in v1.5, see [v1.5.0 release notes](release-notes.html#v1.5.0).

### Key Differences
*
