---
title: Healthwatch Release Notes
owner: Healthwatch
---
<p class="note warning">
<strong>Warning:</strong>
    The Healthwatch tiles are currently in beta and is intended for evaluation and test purposes only. Do not use this product in a production environment.
    </p>

## <a id='2-1'></a>v2.1 beta

**Release Date: MMM DD, 2020**

### Features

New features and changes in this release:

* 


### Security Fixes

This release includes the following security fixes:

* 

### Resolved Issues

This release has the following fix:

* 

### Known Issues

There are no known issues for this release.
