---
title: Release Notes for PCF Healthwatch
owner: PCF Healthwatch
---

##<a id='v1.2.0'></a>v1.2.0
**Release Date: Not Yet Released**

### Release Notes
* Not Yet Released

### Known Issues

PCF Healthwatch v1.2.0:

* Not Yet Released

##<a id='whatsnew'></a>What's New in PCF Healthwatch v1.2

The section below summarizes key differences between PCF Healthwatch v1.1 and v1.2. For more information about new features in v1.2, see [v1.2.0 release notes](release-notes.html#v1.2.0).

### Key Differences
* Not Yet Released
