---
title: Healthwatch Release Notes
owner: Healthwatch
---

<strong>Warning:</strong>
    The Healthwatch tiles are currently in beta and is intended for evaluation and test purposes only. Do not use this product in a production environment.
    </p>

## <a id='v2.0'></a>v2.0

The following new features are included in this release: Coming Soon!
