---
title: PCF Healthwatch v1.4 Release Notes
owner: PCF Healthwatch
---

##<a id='releases'></a>Releases

###<a id='v1.4.0'></a>v1.4.0

**Release Date: October 11, 2018**

##<a id='new'></a>New Features in v1.4

* Simplified category panels on dashboard, for quicker view of foundation health.
  - Smaller, uniform size size panels.
  - Color shows current category status, derived from [configurable alerts](./api/alerts.html).
      - Red: Critical
      - Orange: Warning
      - Green: Healthy
      - Gray: Data unavailable
  - Non-status information moved to category detail pages that the user clicks into.

* Expanded alerts functionality:
  - Added live **Alert Stream** along right side of dashboard.
  - Added searchable **Alert History** page, covering the last 24 hours.
  - Graphs of metrics show alert events, where metrics cross alert thresholds.

* Added new metrics:
  - [Number of Available Free Chunks of Disk](./metrics.html#free-disk-chunks), with corresponding alert [`Diego.AvailableFreeChunksDisk`](./api/alerts.html#defaults)
  - [Active Drain Count](https://docs.pivotal.io/pivotalcf/2-3/monitoring/key-cap-scaling.html#scalable-syslog-ksi), KSI from PCF v2.3 Syslog, is now graphed in PCF Healthwatch's UI under Logging. 

* **Syslog encryption**: Healthwatch VM log output to syslog can be encrypted with TLS.

* **Resource use**: Reduced number and scale of [VM resources](./resources.html) required to run PCF Heathwatch.

* **Internal database**: Switched internal database from MariaDB to Percona (see [Known Issues](#issues)).

* **Stack**: PCF Healthwatch uses cflinuxfs3 as the default stack when available.
  - When Healthwatch is installed in an environment that does not support cflinuxfs3, such as a PCF v2.2 environment, Healthwatch components run on the cflinuxfs2 stack.
* Maintenance update of the following dependencies: 
    - CF CLI now v6.40.1
    - Golang now v1.10.5
    - Flyway Command-line and Library now v5.2.1
    - OpenJDK now v1.8.0_192-b03
    - Spring now Brussels-SR14

##<a id='issues'></a>Known Issue

* Upgrading to Healthwatch v1.4 may stop supermetrics collection for about 15 minutes, while Healthwatch's internal database migrates from MariaDB to Percona. For more information about this, please refer to your [troubleshooting Healthwatch documentation](./troubleshooting.html)
