---
title: Release Notes for PCF Healthwatch
owner: PCF Healthwatch
---

##<a id='v1.0.0-alpha.6'></a>v1.0.0-alpha.6
**Release Date: August 24, 2017**

### Release Notes

* The OpsMan Health Check dashboard is complete and now offers up to 24 hours of test results for the [OpsMan](metrics.html#opsman) continuous validation test.
* The App Canary Health Check dashboard is complete and now offers up to 24 hours of test results for the [App Canary](metrics.html#appsman) continuous validation test.
* The Diego Capacity dashboard is complete and now offers up to 24 hours of the recommended [KPI](https://docs.pivotal.io/pivotalcf/1-11/monitoring/kpi.html) and [KSI](https://docs.pivotal.io/pivotalcf/1-11/monitoring/key-cap-scaling.html) metrics for monitoring PCF capacity.
This dashboard is available through the Capacity panel on the main PCF Healthwatch dashboard.
* The Diego App Instances dashboard is complete and now offers up to 24 hours of the recommended [KPI](https://docs.pivotal.io/pivotalcf/1-11/monitoring/kpi.html) and [KSI](https://docs.pivotal.io/pivotalcf/1-11/monitoring/key-cap-scaling.html) metrics for monitoring PCF App Instances. This dashboard is available through the App Instances panel on the main PCF Healthwatch dashboard.
* The Diego Performance dashboard is complete and now offers up to 24 hours of the recommended [KPI](https://docs.pivotal.io/pivotalcf/1-11/monitoring/kpi.html) and [KSI](https://docs.pivotal.io/pivotalcf/1-11/monitoring/key-cap-scaling.html) metrics for monitoring Diego health and performance. This dashboard is available through a tab selection from the Diego Capacity and Diego App Instances dashboards.
* The Job Health and Vitals dashboard has been started, with some features now available in Alpha 6.
    * All jobs emitting monitoring metrics during the time interval display are listed on the screen. Like jobs are rolled into like jobs. For example, Diego Cell may have 30 instances, but Cloud Controller and Cloud Controller Worker jobs would be listed separately.
    * The Job Health screen displays a red/green (0/1) visual representation at the job grouping level of the `system.healthy` BOSH health checks.
* The CLI Command Health Smoke Test feature is improved. Now when the `cf-health-check` app fails, a `-1` (did not run) value is recorded for the `cf push` test. This helps operators to determine when the test itself fails as opposed to the CF API failure (a `0` data value). 
* Canary App Response Time values are now stored in milliseconds (ms) instead of nanoseconds (ns). This format improves transmission readability through the Firehose when the metric is forwarded.
* Improvements to the UI: 
    * On deep-dive pages, the `Last Update` timestamp shown in local time now also includes a UTC reference.
    * The detailed results shown on the CLI Smoke Test and BOSH Director deep-dive pages are updated to display the results sorted in descending order. This model continues on the remaining deep-dive screens.
    * The default generic error page has been replaced with a product-branded Error page.
    * The tile displays new PCF Healthwatch logo in the Ops Manager UI.
    * Healthcheck text labeling in the tile configuration is updated.
    * The PCF Healthwatch UI favicon is updated.
* Prior known issues fixed: 
    * The Scalable Syslog Performance panel on the Logging Performance deep-dive page is now dynamic, appearing only if the Scalable Syslog feature is being used in the foundation.
        * If Drain Binding Count is &ge; 1 within the 24-hour retention period, the panel is displayed.
        * If Drain Binding Count is &equiv; 0 within the 24-hour retention period, the panel is not rendered.
    * The slight naming variation in 5 metrics from published [PCF Healthwatch Metrics](metrics.html) has been corrected.

### Known issues

* If an earlier alpha version of PCF Healthwatch was installed, it must be deleted before proceeding with the installation of the newer tile. The tile is not upgradable at this time.
* Router latency measurement (the `gorouter.latency` metric) has a known issue present in PCF v1.11 that may impact PCF Healthwatch. This [router issue](https://github.com/cloudfoundry/gorouter/issues/173) is expected to be resolved in PCF v1.12.
* The Adapter Loss Rate and Reverse Log Proxy Loss Rate metrics will be incorrect (always 0) until an issue with how these metrics are currently emitted is resolved.
* The following dashboards are not yet completed:
    * Job Health and Job Vitals
* BOSH deployments are not yet reflected on deep-dive screens.
* Contextual help content is not yet present.

##<a id='v1.0.0-alpha.5'></a>v1.0.0-alpha.5
**Release Date: August 8, 2017**

### Release Notes

* PCF Healthwatch now forwards its product-generated [metrics](metrics.html) into the Firehose, allowing other existing Firehose consumers to access these operationally useful data points.
* The URL for the Dashboard UI was updated to `healthwatch.YOUR-SYSTEM-DOMAIN`.
* The BOSH Director Health Check dashboard is complete and now offers up to 24 hours of test results for the [BOSH Director](metrics.html#bosh-director) continuous validation test.
* The Logging Performance dashboard is complete and now offers up to 24 hours of the recommended [KPI](https://docs.pivotal.io/pivotalcf/1-11/monitoring/kpi.html#doppler-server) and [KSI](https://docs.pivotal.io/pivotalcf/1-11/monitoring/key-cap-scaling.html#doppler-server) metrics for monitoring the Logging system.
* The Router Performance dashboard is complete and now offers up to 24 hours of the recommended [KPI](https://docs.pivotal.io/pivotalcf/1-11/monitoring/kpi.html#gorouter) and [KSI](https://docs.pivotal.io/pivotalcf/1-11/monitoring/key-cap-scaling.html#Router) metrics for monitoring the GoRouter.
* PCF Healthwatch now stores and displays VM ID instead of index to make VM info more usable for BOSH2 interactions.
* PCF Healthwatch now points healthcheck apps at MySQL Proxy instead of a MySQL node, which resolves the issue in earlier alphas where downtime would be experienced during a PCF Healthwatch stemcell update.

### Known issues

* If an earlier alpha version of PCF Healthwatch was installed, it must be deleted before proceeding with the installation of the newer tile. The tile is not upgradable at this time.
* Router latency measurement (the `gorouter.latency` metric) has a known issue present in PCF v1.11 that may impact PCF Healthwatch. This [router issue](https://github.com/cloudfoundry/gorouter/issues/173) is expected to be resolved in PCF v1.12.
* The Adapter Loss Rate and Reverse Log Proxy Loss Rate metrics will be incorrect (always 0) until an issue with how these metrics are currently emitted is resolved.
* The Scalable Syslog Performance panel on the Logging Performance deep-dive screen is intended to be dynamic, appearing only if the Scalable Syslog feature is being used in the foundation. This panel will be dynamic in the next version (Alpha 6).
* The `healthwatch-forwarder` resource is defaulted to 3 instances in the PCF Healthwatch tile configuration. This can be changed to 1 instance. The default will be corrected in the next version (Alpha 6).
* Currently, 5 metrics have slight variations from the data points published in [PCF Healthwatch Metrics](metrics.html). This will be corrected in the next version (Alpha 6):
    * `healthwatch.scalablesyslog.rlp.lossRate.1M` will be updated to `healthwatch.ScalableSyslog.RLP.LossRate.1M`.
    * `healthwatch.scalablesyslog.adapter.LossRate.1M` will be updated to `healthwatch.ScalableSyslog.Adapter.LossRate.1M`.
    * `healthwatch.TotalPercentageAvailableDiskCapacity.5M` will be updated to `healthwatch.Diego.TotalPercentageAvailableDiskCapacity.5M`.
    * `healthwatch.TotalPercentageAvailableContainerCapacity.5M` will be updated to `healthwatch.Diego.TotalPercentageAvailableContainerCapacity.5M`.
    * `healthwatch.TotalPercentageAvailableMemoryCapacity.5M` will be updated to `healthwatch.Diego.TotalPercentageAvailableMemoryCapacity.5M`.
* The following dashboards are not yet completed as of this Alpha 5 version:
    * Diego: Capacity 
    * Diego: App Instances
    * Diego: Diego Performance 
    * OpsMan Health Check
    * App Canary Health Check
    * Job Health and Job Vitals
* BOSH deployments are not yet reflected on any deep-dive screens.
* Contextual help content is not yet present.
