---
title: PCF Healthwatch v1.7 Release Notes
owner: PCF Healthwatch
---

## <a id='v1.7.0'></a>v1.7.0

**Release Date: CHANGEME, 2019**

### Features

New features and changes in this release:

* **[Bug Fix]** Correctly handle [rotation of root Certificate Authorities](https://docs.pivotal.io/pivotalcf/security/pcf-infrastructure/api-cert-rotation.html).
* **[Bug Fix]** Reduce noisiness of `system.healthy` alerts when a BOSH VM is created or deleted.
* **[Bug Fix]** If `healthwatch-ingestor` fails to receive data after 15 seconds, it will automatically reset its Spring Application Context to re-establish a Firehose connection. After 20 resets of the Spring Application Context, the app instance will purposely crash and let Diego re-schedule it, providing a fresh container and JVM instance.
* **[Bug Fix]** Fix `healthwatch-ingestor` crash in cases where GoRouter receives an HTTP request with non-standard HTTP method, resulting in a HttpStartStop metric with a null HTTP method value.
* **[Bug Fix]** Setting `Redis Worker Count` in the Healthwatch Component Config page of Ops Manager successfully changes
instance number. Previously, changes to this field were not reflected in the Healthwatch deployment.
* **[Bug Fix]** Delete orphaned `cf-health-check` `smoke-test-app` instances regularly. Previously, `cf-health-check` would occasionally fail
to delete a smoke test and never cleaned it up.
* **[Bug Fix]** Fix occasional inaccurate spikes in Log Transport Throughput graph.

### Known Issues

This release has the following known issues.

#### Disk Slowly Fills When Using vSAN with Healthwatch Leads

The vSAN object count increases on vSphere versions earlier than v6.5 update 2.

Healthwatch deploys the app `bosh-health-check`, which deploys and deletes a VM every 10 minutes. vSphere versions earlier than v6.5 update 2 leave a namespace or folder and subfolders when the VM is deleted. The orphaned folders cause the vSAN object count to increase. This is a known issue for vSAN. For more information about the vSAN known issue, see [Deleted VMs leave components behind](https://github.com/cloudfoundry/bosh-vsphere-cpi-release/issues/165) in GitHub.

To address the issue, update vSphere to v6.5 update 2 or later. Or, you can stop the `bosh-health-check` to slow down the increase in vSAN object count.

#### Indicator Protocol Beta Dashboard Displays Error Due to Log Cache

Occasionally, the Indicator Protocol Beta Dashboard charts will fail to load with the error: `"Error fetching graph data."`.

These charts are populated using Log Cache, which is part of Loggregator and will fail periodically due to Log Cache timing out while attempting to process the data.

No corrective action is required and it will self-resolve if possible.

