---
title: PCF Healthwatch v1.6 Release Notes
owner: PCF Healthwatch
---

## <a id='v1.6.0'></a>v1.6.0

**Release Date:**

### Features
   
New features and changes in this release:

- PCF Healthwatch apps connect to the internal MySQL database using TLS.
- Internal MySQL database's binary log retention changed from 7 days to 2 days, reducing the amount of persistent storage used by the VM.

### Known Issues

This release has the following known issues.

#### Indicator Protocol Beta Dashboard displays error due to Log Cache

Occasionally, the Indicator Protocol Beta Dashboard charts will fail to load with the error: `"Error fetching graph data."`.

These charts are populated using Log Cache, which is part of Loggregator and will fail periodically due to Log Cache timing out while attempting to process the data.

No corrective action is required and it will self-resolve if possible.
