---
title: Healthwatch Release Notes
owner: Healthwatch
---

<p class="note warning">
    <strong>Warning:</strong>
    The Healthwatch tiles are currently in beta
    and are intended for evaluation and test purposes only.
    Do not use this product in a production environment.
</p>

## <a id='2-0-4'></a> v2.0.4 (beta)

**Release Date: Aug 17, 2020**
<div class="note breaking">
    <strong>Breaking Changes:</strong>
    <ul>
  <li>The remote write configuration now allows for multiple entries, which breaks the existing tile configuration for remote write.</li>
  <li>The cert expiration exporter is now moved to TAS for VMs and TKGi Exporter tiles, instead of in the Healthwatch tile.  If you are setting up scrape config to those exporters, the scrape config needs to be updated.</li>
  <li>The TAS and TKG-i dashboard version selection has been updated.</li>
    </ul>
</div>

### Features

New features and changes in this release:

* Cert Dashboard now displays the BOSH trusted certificate.

* Add Rabbit MQ monitoring dashboards.

* Allow multiple remote write configurations.

* Add TAS 2.10 dashboards.

* TAS and TKG-i dashboards now support dynamic dashboards based on the tile version(s) installed.

### Resolved Issues

This release includes the following fixes:

* Usage Service dashboard will no longer show up when an early patch version of TAS is installed.
  Fixes <a href="#usage-service">Usage Service Dashboard alerts on early patches of TAS</a>.

* PKS Cluster Discovery client cert populates correctly.

* TAS MySQL dashboard will not show up if external MySQL is configured for TAS. Fixes <a href="#tas-mysql">TAS MySQL dashboard alerts when external MySQL is configured</a>.

* Canary Target URLs can be blank. Fixes <a href="#empty-blackbox-url">Healthwatch fails to install when no canary url is provided</a>.

* Various dashboard fixes.

### Known Issues

* <a href="#pks-cluster-discovery-nsxt-ports">PKS Cluster Discovery needs manual configurations on NSX-T</a>.

* <a href="#pks-cluster-discovery-nsxt-node-count">PKS Cluster Discovery reports incorrect node count with NSX-T</a>.

* <a href="#upgrade-from-om-23">Ops Manager pre v2.3 upgrade issue</a>.


## <a id='2-0-3'></a> v2.0.3 (beta)

**Release Date: July 10, 2020**
<div class="note breaking">
    <strong>Breaking Changes:</strong>
    <ul>
  <li>The server name of all the exporters are changed to <code>hwexporter</code>. If you are setting up scrape config to those exporters, the scrape config needs to be updated.</li>
  <li>The cert expiration exporter is now moved to TAS for VMs and TKGi Exporter tiles, instead of in the Healthwatch tile.  If you are setting up scrape config to those exporters, the scrape config needs to be updated.</li>
    </ul>
</div>

### Features

New features and changes in this release:

* Grafana 7.0

* Downsize the exporter VMs to better utilize the resource.

### Security Fixes

This release includes the following security fix:

* Remove extraneous logging in certain components that would log sensitive information under certain configuration.

### Resolved Issues

This release includes the following fixes:

* Healthwatch Exporter for PKS now includes metrics to populate BOSH Director Health dashboard properly.

* Fix a query on Tanzu Application Service SLO dashboard.

* Healthwatch SLO populate correct exporter metrics depends on whether TAS for VMs or TKGi dashboard selected.

* Various dashboard fixes.

### Known Issues

* <a href="#usage-service">Usage Service Dashboard alerts on early patches of TAS</a>.

* <a href="#pks-cluster-discovery-nsxt-ports">PKS Cluster Discovery needs manual configurations on NSX-T</a>.

* <a href="#pks-cluster-discovery-nsxt-node-count">PKS Cluster Discovery reports incorrect node count with NSX-T</a>.

* <a href="#upgrade-from-om-23">Ops Manager pre v2.3 upgrade issue</a>.

* <a href="#tas-mysql">TAS MySQL dashboard alerts when external MySQL is configured</a>.

* <a href="#empty-blackbox-url">Healthwatch fails to install when no canary url is provided</a>.


## <a id='2-0-2'></a> v2.0.2 (beta)

**Release Date: June 1, 2020**

### Features

New features and changes in this release:

* All Jobs and Job Details dashboards ignores BOSH smoke test deployments.

* Add new PKS dashboards. To see the dashboards, select a **PKS Version to Monitor** in the **Grafana Configuration**.

* Add additional functional test for PKS API, the change can be found in **PKS Control Plane** dashboard.

* Update query for cf push remaining error budget.

* Allow configuring additional cipher suite in the **Grafana Configuration**.

* PKS cluster discovery now support OIDC, **PKS UAA Admin Password** property is required when **Configure created clusters to use UAA as the OIDC provider** in **Enterprise PKS** tile is enabled.


### Security Fixes

This release includes the following security fixes:

* Only support strong cipher suites in Grafana. The list of the OOTB cipher suite can be found [here](https://github.com/cloudfoundry/tlsconfig/blob/master/config.go#L88-L98).

* Remove extraneous logging in certain components that would log sensitive information under certain configuration.


### Resolved Issues

This release includes the following fix:

* PKS cluster discovery **PKS API Skip SSL Validation** option properly skip ssl validation.

* Fix the line chart in **CLI Health** so it stays `0` instead of oscillating when the underlying metric keeps failing.

* Fix the cf cli functional test so it fails properly when unable to get logs for the deployed smoke test app.

* All Jobs and Job Details page use correct query tags when deployed to PKS foundation.

* Indicator Protocol integration properly renders the chart panel name.


### Known Issues

* <a href="#pks-cluster-discovery-nsxt-node-count">PKS Cluster Discovery reports incorrect node count with NSX-T</a>.

* <a href="#upgrade-from-om-23">Ops Manager pre v2.3 upgrade issue</a>.

* <a href="#tas-mysql">TAS MySQL dashboard alerts when external MySQL is configured</a>.


## <a id='2-0-1'></a> v2.0.1 (beta)

**Release Date: April 29, 2020**

### Features

New features and changes in this release:

* Exposes composite metrics, or "Super Value Metrics",
  from Healthwatch v1.x to the metrics pipeline.
  This enables you to still see the same metrics from Healthwatch v1.x
  in your downstream log consumers if you upgrade from Healthwatch v1.x to Healthwatch v2.x.

* Includes a new **Cert Expiration** dashboard under the **Foundation** tab
  that displays the time left until expiration for all discoverable certificates
  from the Ops Manager API.
  In Ops Manager v2.7 and later, the Ops Manager API includes the Ops Manager root CA
  and product certificates stored in CredHub.

* Diego Capacity metrics are separated by isolation segment in the **Diego/Capacity** dashboard.

* Enables a proxy setting for Grafana.
  This allows you to configure alerting in air-gapped environments.

* Exposes Ops Manager syslog configuration.

<p class="note breaking">
    <strong>Breaking Change:</strong>
    Grafana is configured to use the default HTTP and HTTPS ports,
    so you do not have to specify a port when visiting your dashboards.
    If a load balancer is placed in front of Grafana instances,
    the back end configuration of the load balancer must be updated.
</p>

### Security Fixes

This release includes the following security fixes:

* N/A

### Resolved Issues

This release includes the following fix:

* N/A

### Known Issues

* <a href="#pks-cluster-discovery-nsxt-node-count">PKS Cluster Discovery reports incorrect node count with NSX-T</a>.

* <a href="#upgrade-from-om-23">Ops Manager pre v2.3 upgrade issue</a>.

* <a href="#tas-mysql">TAS MySQL dashboard alerts when external MySQL is configured</a>.





## <a id="issues"></a>Known Issues

The following sections describe the known issues in Healthwatch 2.

### <a name="upgrade-from-om-23"></a> Ops Manager pre v2.3 upgrade issue

When upgrading the Healthwatch v2.0 tile on a foundation that has been upgraded from
Ops Manager v2.3 or earlier, you may see the following error:

    ```
    - Unable to render templates for job 'opsman-cert-expiration-exporter'. Errors are:
      - Error filling in template 'bpm.yml.erb' (line 9: Can't find property '["opsman_access_credentials.uaa_client_secret"]')
    ```
    This issue is resolved in Ops Manager v2.8.
    To resolve this issue in Ops Manager v2.7 or earlier:
    1. SSH into your Ops Manager VM.
    1. Change the user to `root`.
    1. Open the Rails console by running:

        ```
        > cd /home/tempest-web/tempest/web; RAILS_ENV='production' TEMPEST_INFRASTRUCTURE='INFRASTRUCTURE' TEMPEST_WEB_DIR='/home/tempest-web' SECRET_KEY_BASE='1234' DATA_ROOT='/var/tempest' LOG_DIR='/var/log/opsmanager' su tempest-web --command 'bundle exec rails console'
        ```
        Where `INFRASTRUCTURE` is either `google`, `aws`, `azure`, `vsphere`, or `openstack`.
    1. Set the decryption passphrase by running:

        ```
        irb(main):001:0> EncryptionKey.instance.passphrase = 'DECRYPTION-PASSPHRASE'
        ```
        Where `DECRYPTION-PASSPHRASE` is the correct decryption passphrase.
    1. Update the UAA restricted view access client secret by running:

        ```
        irb(main):001:0> Uaa::UaaConfig.instance.update_attributes(restricted_view_api_access_client_secret: SecureRandom.hex)
        ```
    1. Exit the Rails console and restart the "tempest-web" service by running:

        ```
        irb(main):001:0> exit
        > service tempest-web restart
        ```

### <a name="pks-cluster-discovery-nsxt-node-count"></a> PKS Cluster Discovery reports incorrect node count with NSX-T.

When you use PKS cluster discovery with PKS deployed on vSphere NSX-T,
the count of k8s masters will always be 1.
When PKS API creates the cluster on NSX-T,
it will also create a load balancer in front of the K8s Control Plane nodes,
which causes Healthwatch to not be able to address each node separately.

### <a name="pks-cluster-discovery-nsxt-ports"></a> PKS Cluster Discovery needs manual configurations on NSX-T.

When PKS cluster discovery is used with PKS deployed on vSphere NSX-T, the load balancer created by NSX-T
does not have all the ports open that are required for PKS Cluster Discovery to scrape from on demand K8s clusters correctly.
One workaround is to manually modify the load balancer through the NSX-T Manager API to open up these ports:
10200, 10251, 10252, and 8443.

    To open the ports:
    1. Fetch the list of virtual servers:

        ```
        curl -u 'NSX-T-USERNAME:NSX-T-PASSWORD' \
          "https://NSX-MGR/api/v1/loadbalancer/virtual-servers" | jq .`
        ```

        Where `NSX-T-USERNAME:NSX-T-PASSWORD` is
        the username and password for logging into the NSX-T console.
    1. In the output, look for the JSON array item that has the `display_name` starting with `lb-pks`
       and ending with `virtual-server` and copy the `id` field.
    1. Fetch the current configuration for the load balancer:

        ```
        curl -u 'NSX-T-USERNAME:NSX-T-PASSWORD' \
          https://NSX-MGR/api/v1/loadbalancer/virtual-servers/VIRTUAL-SERVER-UUID`
        ```
        Where:
        - `NSX-MGR` is the IP/FQDN of your NSX-T console.
        - `VIRTUAL-SERVER-UUID` is the unique ID that identifies the Load Balancer.
    1. Save the JSON that is returned by this command to a file.
    1. Modify that JSON to include the additional ports:

        ```
        {
            "...": "...",
            "ports": [
                "8443",
                "10200",
                "10251",
                "10252"
            ],
            "...": "..."
        }
        ```
    1. Do a PUT to the API to update the virtual server:

        ```
        curl -X PUT -u 'NSX-T-USERNAME:NSX-T-PASSWORD' \
          https://NSX-MGR/api/v1/loadbalancer/virtual-servers/VIRTUAL-SERVER-UUID \
          -H 'X-Allow-Overwrite: true' -H 'Content-type: Application/json' \
          -d 'MODIFIED-JSON-DATA'
        ```
        Where `MODIFIED-JSON-DATA` contains the additional ports you want to add.

### <a name="usage-service"></a> Usage Service Dashboard alerts on early patches of TAS.

When Healthwatch is installed with TAS for VMs versions v2.7.17 and earlier patches, v2.8.11 and earlier patches, or v2.9.5 and earlier patches,
the **Usage Service** Dashboard will not be populated correctly and will trigger alerts tagged with `usage_service_app_usage_event_cc_lag_seconds`.
One workaround is to pause reporting these alerts by opening **Grafana** -> **Alerting** -> **Alert rules**, and pause the corresponding alerts.

### <a name="tas-mysql"></a> TAS MySQL dashboard alerts when external MySQL is configured.

When Healthwatch is installed with TAS for VMs with external MySQL, the provided MySQL dashboard will alert.
Upgrade to 2.0.4+ to resolve this issue.

### <a name="#empty-blackbox-url"></a> Healthwatch fails to install when no canary url is provided.

When there is no canary url provided, Healthwatch renders an invalid configuration file results failure in Apply Changes.
To workaround this issue, provide at least one canary url in the target urls configuration.
Upgrade to 2.0.4+ to resolve this issue.
