---
title: Release Notes for PCF Healthwatch
owner: PCF Healthwatch
---

<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>

<p class="note warning">
<strong>IMPORTANT: </strong>
The Pivotal Cloud Foundry (PCF) Healthwatch tile is currently in beta and is intended for evaluation and test purposes only.
Do not use this product in a PCF production environment.
</p>

##<a id='v1.0.5'></a>v1.0.5
**Release Date: September 14, 2017**

### Release Notes
* PCF Healthwatch is now in Beta
* The steps to configure the BOSH Director Health Check have been updated. Please reference the updated [installation instructions](installing.html).
* With this release we have updated the related `healthwatch-bosh-plugin`. If this is your first installation of PCF Healthwatch, please follow the standard [installation instructions](installing.html). If you have installed an earlier version of PCF Healthwatch, you will need to pull down the latest plugin version, v1.0.0-beta.2, and do the following:
    * To update the BOSH Director: Copy `healthwatch-bosh-plugin` to the BOSH Director. Then move the copied files as follows:
      	<pre class="terminal">
         mv /tmp/healthwatch-bosh-plugin /var/vcap/packages/healthwatch/
         </pre>
    * Then assign the following permissions:
      	<pre class="terminal">
         chown vcap:vcap /var/vcap/sys/log/healthwatch/
         chmod 755 /var/vcap/packages/healthwatch/healthwatch-bosh-plugin
         chmod 750 /var/vcap/sys/log/healthwatch/
         </pre>
    * Then run `monit restart health_monitor` and verify that logs are created in `/var/vcap/sys/log/healthwatch/`.
* The occurrence of BOSH Deployments are now reflected in the visualizations of platform metrics and the continuous validation test results. Knowing a BOSH Deployment was occurring can provide helpful context when interpreting a given chart. The time periods reflected for a BOSH Deployment are informed by the [BOSH deployment occurrence](metrics.html#bosh-deployment) metric.
* Chart Info content additions have now been completed 
    * As a user hovers over a given chart within a panel, a help `?` icon appears. Clicking on the help icon will provide information on the metric(s) driving the chart. 
* Contextual Help panel content additions have now been completed
    * As a user hovers over a panel, an info icon will appear on that given panel. Clicking on this info icon will open a new tabbed screen with helpful content relevant to the metrics displayed on that panel. The intention of this feature is to incorporate valuable [KPI](https://docs.pivotal.io/pivotalcf/1-11/monitoring/kpi.html) and [KSI](https://docs.pivotal.io/pivotalcf/1-11/monitoring/key-cap-scaling.html) content into the product itself to speed information discovery.
* Improvements to the UI:
    * It is now easier to select a point of interest and engage the tooltip on the multi-line graphs.
    * "Didn't run" is now present on the CLI Command Health dashboard legend.
* Prior known issues fixed:
    * The bug identified in Alpha 7, a non-functional toggle on the Job Health dashboard, has been resolved.

### Known issues
* If an alpha version of PCF Healthwatch was installed, it must be deleted before proceeding with the installation of this beta tile. The alpha tile was not upgradable.
* Router latency measurement (the `gorouter.latency` metric) has a known issue present in PCF v1.11 that may impact PCF Healthwatch. This [router issue](https://github.com/cloudfoundry/gorouter/issues/173) is expected to be resolved in PCF v1.12.
* The Adapter Loss Rate and Reverse Log Proxy Loss Rate metrics will be incorrect (always 0) until an issue with how these metrics are currently emitted is resolved.
* The [Metron Forwarder](architecture.html) is not currently high availability (HA).

##<a id='v1.0.4 ALPHA 7'></a>v1.0.4 ALPHA 7
**Release Date: September 7, 2017**

### Release Notes
* New PCF Healthwatch user results in simplified installation instructions.
    * The product specific `healthwatch.read` scope has been added to the UAA Admin user by default in ERT v1.11.9 and later. This allows the simplification of the tile installation by removing the former `Configure UAA Authorities` step.
    * **NOTE:** The minimum Elastic Runtime version has been raised to v1.11.9 or later as a result of this change.
* Updates for adjusted PCF v1.11 monitoring recommendations:
    * There was a recent correction to the Diego recommendation for `route_emitter.RouteEmitterSyncDuration`. As of PCF v1.11, this metric should actually be monitored per job instead of globally as in PCF v1.10 and prior. Healthwatch is updated to now render the chart as a multi-line graph in order to highlight any problematic job(s). 
    * There was a recent correction to the Diego recommendation for `locket.ActiveLocks`. As of PCF v1.11, this metric threshold should actually be &ne; 4 instead of > 4. The visual alert banding was updated to bring attention to any measurement less than or greater than 4.
* The Job Health and Vitals dashboard is complete and now offers up to 24 hours of the recommended [KPI](https://docs.pivotal.io/pivotalcf/1-11/monitoring/kpi.html) metrics for monitoring the underlying VM health.
    * On load, the Job Health screen now defaults to displaying jobs with errors. This is to help highlight problem areas in deployments with many possible jobs to display. This default filter feature can be toggled off in order to display the red/green health results of all jobs reporting in the deployment.
    * Monitored groups of Jobs displayed on this Job Health screen are now clickable links that lead to a deeper view of the health of that job group.
    * The deeper dive into job group health now includes a Metrics Summary. This summary is a scrollable, and filterable, data representation of all of the jobs for that group, along with the following info for each job over the chosen time interval: Count of Failed Health checks, CPU, System Disk, Persistent Disk, Ephemeral Disk.
    * The deeper dive into job group health now includes a Health section with a representation of the health check at the individual job level. This display is driven by the filtered Metrics Summary. 
    * The deeper dive into job group health now includes a Job Vitals section, displaying the recommended Job Vitals metrics for each filtered job. This display is driven by the filtered Metrics Summary. 
* Contextual Help content has been added to all main dashboard panels, and some deep dive screens
    * As a user hovers over any main dashboard panel, an info icon will appear on that given panel. Clicking on this info icon will open a new tabbed screen with helpful content relevant to the metrics displayed on that panel. The intention of this feature is to incorporate valuable [KPI](https://docs.pivotal.io/pivotalcf/1-11/monitoring/kpi.html) and [KSI](https://docs.pivotal.io/pivotalcf/1-11/monitoring/key-cap-scaling.html) content into the product itself to speed information discovery.
* Improvements to the UI: 
    * The UI header for the product now says BETA in preparation for the transition to a wider BETA release.
* Prior known issues fixed:
    * The bug identified in Alpha 6, a malformed URL in the BOSH Health Check, has been resolved. 

### Known issues
* BUG IDENTIFIED: On the Job Health screen the "Only Show Errors" toggle feature does not work as expected, meaning that you cannot currently change the page to reflect all healthy/unhealthy jobs reporting. This bug will be fixed in the next release.
* If an earlier alpha version of PCF Healthwatch was installed, it must be deleted before proceeding with the installation of the newer tile. The tile is not upgradable at this time.
* Router latency measurement (the `gorouter.latency` metric) has a known issue present in PCF v1.11 that may impact PCF Healthwatch. This [router issue](https://github.com/cloudfoundry/gorouter/issues/173) is expected to be resolved in PCF v1.12.
* The Adapter Loss Rate and Reverse Log Proxy Loss Rate metrics will be incorrect (always 0) until an issue with how these metrics are currently emitted is resolved.
* BOSH deployments are not yet reflected on any deep-dive screens.
* Contextual help content additions are still in progress throughout the product.

##<a id='v1.0.0-alpha.6'></a>v1.0.0-alpha.6
**Release Date: August 24, 2017**

### Release Notes

* The OpsMan Health Check dashboard is complete and now offers up to 24 hours of test results for the [OpsMan](metrics.html#opsman) continuous validation test.
* The App Canary Health Check dashboard is complete and now offers up to 24 hours of test results for the [App Canary](metrics.html#appsman) continuous validation test.
* The Diego Capacity dashboard is complete and now offers up to 24 hours of the recommended [KPI](https://docs.pivotal.io/pivotalcf/1-11/monitoring/kpi.html) and [KSI](https://docs.pivotal.io/pivotalcf/1-11/monitoring/key-cap-scaling.html) metrics for monitoring PCF capacity.
This dashboard is available through the Capacity panel on the main PCF Healthwatch dashboard.
* The Diego App Instances dashboard is complete and now offers up to 24 hours of the recommended [KPI](https://docs.pivotal.io/pivotalcf/1-11/monitoring/kpi.html) and [KSI](https://docs.pivotal.io/pivotalcf/1-11/monitoring/key-cap-scaling.html) metrics for monitoring PCF App Instances. This dashboard is available through the App Instances panel on the main PCF Healthwatch dashboard.
* The Diego Performance dashboard is complete and now offers up to 24 hours of the recommended [KPI](https://docs.pivotal.io/pivotalcf/1-11/monitoring/kpi.html) and [KSI](https://docs.pivotal.io/pivotalcf/1-11/monitoring/key-cap-scaling.html) metrics for monitoring Diego health and performance. This dashboard is available through a tab selection from the Diego Capacity and Diego App Instances dashboards.
* The Job Health and Vitals dashboard has been started, with some features now available in Alpha 6.
    * All jobs emitting monitoring metrics during the time interval display are listed on the screen. Like jobs are rolled into like jobs. For example, Diego Cell may have 30 instances, but Cloud Controller and Cloud Controller Worker jobs would be listed separately.
    * The Job Health screen displays a red/green (0/1) visual representation at the job grouping level of the `system.healthy` BOSH health checks.
* The CLI Command Health Smoke Test feature is improved. Now when the `cf-health-check` app fails, a `-1` (did not run) value is recorded for the `cf push` test. This helps operators to determine when the test itself fails as opposed to the CF API failure (a `0` data value). 
* Canary App Response Time values are now stored in milliseconds (ms) instead of nanoseconds (ns). This format improves transmission readability through the Firehose when the metric is forwarded.
* Improvements to the UI: 
    * On deep-dive pages, the `Last Update` timestamp shown in local time now also includes a UTC reference.
    * The detailed results shown on the CLI Smoke Test and BOSH Director deep-dive pages are updated to display the results sorted in descending order. This model continues on the remaining deep-dive screens.
    * The default generic error page has been replaced with a product-branded Error page.
    * The tile displays new PCF Healthwatch logo in the Ops Manager UI.
    * Healthcheck text labeling in the tile configuration is updated.
    * The PCF Healthwatch UI favicon is updated.
* Prior known issues fixed: 
    * The Scalable Syslog Performance panel on the Logging Performance deep-dive page is now dynamic, appearing only if the Scalable Syslog feature is being used in the foundation.
        * If Drain Binding Count is &ge; 1 within the 24-hour retention period, the panel is displayed.
        * If Drain Binding Count is &equiv; 0 within the 24-hour retention period, the panel is not rendered.
    * The slight naming variation in 5 metrics from published [PCF Healthwatch Metrics](metrics.html) has been corrected.

### Known issues

* BUG IDENTIFIED: The BOSH Health Check test will continue to fail in this version due to a malformed URL. The bug will be fixed in the next release.
* If an earlier alpha version of PCF Healthwatch was installed, it must be deleted before proceeding with the installation of the newer tile. The tile is not upgradable at this time.
* Router latency measurement (the `gorouter.latency` metric) has a known issue present in PCF v1.11 that may impact PCF Healthwatch. This [router issue](https://github.com/cloudfoundry/gorouter/issues/173) is expected to be resolved in PCF v1.12.
* The Adapter Loss Rate and Reverse Log Proxy Loss Rate metrics will be incorrect (always 0) until an issue with how these metrics are currently emitted is resolved.
* The following dashboards are not yet completed:
    * Job Health and Job Vitals
* BOSH deployments are not yet reflected on deep-dive screens.
* Contextual help content is not yet present.

##<a id='v1.0.0-alpha.5'></a>v1.0.0-alpha.5
**Release Date: August 8, 2017**

### Release Notes

* PCF Healthwatch now forwards its product-generated [metrics](metrics.html) into the Firehose, allowing other existing Firehose consumers to access these operationally useful data points.
* The URL for the Dashboard UI was updated to `healthwatch.YOUR-SYSTEM-DOMAIN`.
* The BOSH Director Health Check dashboard is complete and now offers up to 24 hours of test results for the [BOSH Director](metrics.html#bosh-director) continuous validation test.
* The Logging Performance dashboard is complete and now offers up to 24 hours of the recommended [KPI](https://docs.pivotal.io/pivotalcf/1-11/monitoring/kpi.html#doppler-server) and [KSI](https://docs.pivotal.io/pivotalcf/1-11/monitoring/key-cap-scaling.html#doppler-server) metrics for monitoring the Logging system.
* The Router Performance dashboard is complete and now offers up to 24 hours of the recommended [KPI](https://docs.pivotal.io/pivotalcf/1-11/monitoring/kpi.html#gorouter) and [KSI](https://docs.pivotal.io/pivotalcf/1-11/monitoring/key-cap-scaling.html#Router) metrics for monitoring the GoRouter.
* PCF Healthwatch now stores and displays VM ID instead of index to make VM info more usable for BOSH2 interactions.
* PCF Healthwatch now points healthcheck apps at MySQL Proxy instead of a MySQL node, which resolves the issue in earlier alphas where downtime would be experienced during a PCF Healthwatch stemcell update.

### Known issues

* If an earlier alpha version of PCF Healthwatch was installed, it must be deleted before proceeding with the installation of the newer tile. The tile is not upgradable at this time.
* Router latency measurement (the `gorouter.latency` metric) has a known issue present in PCF v1.11 that may impact PCF Healthwatch. This [router issue](https://github.com/cloudfoundry/gorouter/issues/173) is expected to be resolved in PCF v1.12.
* The Adapter Loss Rate and Reverse Log Proxy Loss Rate metrics will be incorrect (always 0) until an issue with how these metrics are currently emitted is resolved.
* The Scalable Syslog Performance panel on the Logging Performance deep-dive screen is intended to be dynamic, appearing only if the Scalable Syslog feature is being used in the foundation. This panel will be dynamic in the next version (Alpha 6).
* The `healthwatch-forwarder` resource is defaulted to 3 instances in the PCF Healthwatch tile configuration. This can be changed to 1 instance. The default will be corrected in the next version (Alpha 6).
* Currently, 5 metrics have slight variations from the data points published in [PCF Healthwatch Metrics](metrics.html). This will be corrected in the next version (Alpha 6):
    * `healthwatch.scalablesyslog.rlp.lossRate.1M` will be updated to `healthwatch.ScalableSyslog.RLP.LossRate.1M`.
    * `healthwatch.scalablesyslog.adapter.LossRate.1M` will be updated to `healthwatch.ScalableSyslog.Adapter.LossRate.1M`.
    * `healthwatch.TotalPercentageAvailableDiskCapacity.5M` will be updated to `healthwatch.Diego.TotalPercentageAvailableDiskCapacity.5M`.
    * `healthwatch.TotalPercentageAvailableContainerCapacity.5M` will be updated to `healthwatch.Diego.TotalPercentageAvailableContainerCapacity.5M`.
    * `healthwatch.TotalPercentageAvailableMemoryCapacity.5M` will be updated to `healthwatch.Diego.TotalPercentageAvailableMemoryCapacity.5M`.
* The following dashboards are not yet completed as of this Alpha 5 version:
    * Diego: Capacity 
    * Diego: App Instances
    * Diego: Diego Performance 
    * OpsMan Health Check
    * App Canary Health Check
    * Job Health and Job Vitals
* BOSH deployments are not yet reflected on any deep-dive screens.
* Contextual help content is not yet present.
