---
title: PCF Healthwatch v1.6 Release Notes
owner: PCF Healthwatch
---

## <a id='v1.6.0'></a>v1.6.0

**Release Date:**

### Features
   
New features and changes in this release:

### Known Issues

This release has the following known issues.