---
title: Healthwatch v2.2 Release Notes
owner: Healthwatch
---

<strong><%= modified_date %></strong>

This topic contains release notes for Healthwatch v2.2.

The architecture of Healthwatch v2.2 is entirely different from the architecture of Pivotal
Healthwatch v1. Healthwatch v2.2 uses the open-source components Prometheus, Grafana, and Alertmanager
to scrape, store, and view metrics, as well as configure alerts. For more information about
the differences between Pivotal Healthwatch v1 and Healthwatch v2.2 and how to upgrade to Healthwatch
v2.2, see [Upgrading Healthwatch](upgrading-healthwatch.html).

For information about the risks and limitations of Healthwatch v2.2, see [Assumed Risks of
Using Healthwatch v2.2](index.html#assumed-risks) and [Healthwatch v2.2 Limitations](index.html#healthwatch-limitations)
in _Healthwatch_.


## <a id='releases'></a> Releases

### <a id='2-2-0'></a> v2.2.0

**Release Date:**

Healthwatch v2.2.0 uses the following open-source component versions:

| Component    | Packaged Version |
|--------------|------------------|
| Prometheus   | 2.25.0           |
| Grafana      | 7.5.11           |
| Alertmanager | 0.21.0           |


## <a id='upgrade'></a> How to Upgrade

To upgrade from Healthwatch v2.1 to Healthwatch v2.2, see [Upgrading Healthwatch](upgrading-healthwatch.html).


## <a id='new-features'></a> New Features

Healthwatch v2.2 includes the following major features:


## <a id='breaking-changes'></a> Breaking Changes

Healthwatch v2.2 includes the following breaking changes:


## <a id='known-issues'></a> Known Issues

Healthwatch v2.2 includes the following known issues:
