---
title: Healthwatch Resources
owner: Healthwatch
---

This topic describes resource requirements for Healthwatch.

## Healthwatch Tile

You can configure resources in the **Resource Config** section of the Healthwatch tile. By default, Healthwatch automatically selects the instance type that is best suited for each job.

<p class="note">
    <strong>Note:</strong>
    The automatically selected values
    that you see in the <strong>Resource Config</strong> section of the Healthwatch tile
    depend on the available resources for your deployment.
</p>

The following table provides the default resource and IP requirements for installing the Healthwatch tile.

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Resource</th>
    <th>Instances</th>
    <th>CPUs</th>
    <th>RAM</th>
    <th>Ephemeral Disk</th>
    <th>Persistent Disk</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>TSDB</td>
    <td>1</td>
    <td>4</td>
    <td>16&nbsp;GB</td>
    <td>5&nbsp;GB</td>
    <td>512&nbsp;GB</td>
  </tr>
  <tr>
    <td>MySQL Proxy</td>
    <td>1</td>
    <td>1</td>
    <td>4&nbsp;GB</td>
    <td>5&nbsp;GB</td>
    <td>5&nbsp;GB</td>
  </tr>
  <tr>
    <td>MySQL</td>
    <td>1</td>
    <td>1</td>
    <td>4&nbsp;GB</td>
    <td>5&nbsp;GB</td>
    <td>10&nbsp;GB</td>
  </tr>
  <tr>
    <td>Grafana</td>
    <td>1</td>
    <td>1</td>
    <td>4&nbsp;GB</td>
    <td>5&nbsp;GB</td>
    <td>5&nbsp;GB</td>
  </tr>
  </tbody>
</table>
