---
title: PCF Healthwatch Resources
owner: PCF Healthwatch
---

This topic describes resource requirements for the Pivotal Cloud Foundry (PCF) Healthwatch tile.

##<a id="requirements"></a>Tile Resources

By default, the PCF Healthwatch tile is configured to use the instance type that is best suited for each job. The following table provides the default resource and IP requirements for installing the PCF Healthwatch tile.

<p class="note"><strong>Note</strong>: The actual default values that you see in your PCF Healthwatch tile depend on the available resources for your PCF deployment.</p>

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Resource</th>
    <th>Instances</th>
    <th>CPU</th>
    <th>RAM</th>
    <th>Ephemeral Disk</th>
    <th>Persistent Disk</th>
    <th>Static IP</th>
    <th>Dynamic IP</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Healthwatch Forwarder</td>
    <td>1 (not configurable)</td>
    <td>4</td>
    <td>16&nbsp;GB</td>
    <td>32&nbsp;GB</td>
    <td>100&nbsp;GB</td>
    <td>1</td>
    <td>0</td>
  </tr>
  <tr>
    <td>MySQL Server</td>
    <td>3</td>
    <td>4</td>
    <td>16&nbsp;GB</td>
    <td>32&nbsp;GB</td>
    <td>100&nbsp;GB</td>
    <td>3</td>
    <td>0</td>
  </tr>
  <tr>
    <td>MySQL Proxy</td>
    <td>2</td>
    <td>2</td>
    <td>4&nbsp;GB</td>
    <td>32&nbsp;GB</td>
    <td>N/A</td>
    <td>2</td>
    <td>0</td>
  </tr>
  </tbody>
</table>

##<a id="guidelines"></a> Scaling Guidelines

The **MySQL Proxy** job must be scaled to 2. For more information on scaling PCF Healthwatch, see [Scaling PCF Healthwatch Resources](using.html#scaling).
