---
title: Healthwatch Components and Resource Requirements
owner: Healthwatch
---

This topic describes the Healthwatch&trade; for VMware Tanzu (Healthwatch) tile components and the resource requirements for the Healthwatch tile.

For information about the metric exporter VMs that the Healthwatch Exporter for VMware Tanzu Application Service&trade; (TAS for VMs) and Healthwatch
Exporter for VMware Tanzu Kubernetes Grid&trade; Integrated Edition (TKGI) tiles deploy, see [Healthwatch Metrics](metrics.html).

<br>
## <a id='overview'></a> Overview of Healthwatch Components

The main components of the Healthwatch tile are Prometheus, Grafana, MySQL, and MySQL Proxy:

* **Prometheus**: The Prometheus instance scrapes and stores metrics from the Healthwatch Exporter tiles, allows you to configure alerts with Alertmanager, and sends canary
tests to target URLs with Blackbox Exporter.
* **Grafana**: The Healthwatch tile exports collected metrics to dashboards in the Grafana UI, allowing you to
visualize the data with charts and graphs and create customized dashboards for long-term monitoring and troubleshooting.
* **MySQL**: MySQL is used only to store your
Grafana settings and does not store any time series data.
* **MySQL Proxy**: MySQL Proxy routes client connections to healthy MySQL nodes.


The Healthwatch tile automatically selects the instance type that is best suited for each job based on the available resources for your deployment.


For more information about Healthwatch components, see
[Healthwatch Component VMs](#component-vms) and
[Resource Requirements for the Healthwatch Tile](#resource-requirements)
below.

By default, the Healthwatch tile deploys two Prometheus VMs and only one each of the Grafana, MySQL, and MySQL Proxy VMs.
For information about scaling these resources, see [Scale Healthwatch](#scale-healthwatch) below.


<br>
## <a id='component-vms'></a> Healthwatch Component VMs

The table below explains each Healthwatch tile component and which VM deploys it:

<table>
  <tr>
    <th style="width: 15%">Component</th>
    <th style="width: 15%">VM Name</th>
    <th style="width: 70%">Description</th>
  </tr>
  <tr>
    <td>Prometheus</td>
    <td><code>tsdb</code></td>
    <td>
      <ul>
        <li>Collects metrics related to the functionality of platform-level and runtime-level components</li>
        <li>Stores metrics for up to six weeks</li>
        <li>Can write to remote storage in addition to its local time-series database (TSDB)</li>
        <li>Manages and sends alerts through Alertmanager</li>
        <li>Conducts canary tests through the Blackbox Exporter</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Grafana</td>
    <td><code>grafana</code></td>
    <td>
      <ul>
        <li>Deploys the Grafana UI</li>
        <li>Authenticates user login credentials</li>
        <li>Organizes metrics data in charts and graphs</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>MySQL</td>
    <td><code>pxc</code></td>
    <td>Stores the Grafana settings you configure</td>
  </tr>
  <tr>
    <td>MySQL Proxy</td>
    <td><code>pxc-proxy</code></td>
    <td>Routes client connections to healthy MySQL nodes and away from unhealthy MySQL nodes</td>
  </tr>
</table>


<br>
## <a id='resource-requirements'></a> Resource Requirements for the Healthwatch Tile

The following table provides the default resource and IP requirements for installing the Healthwatch tile:

<table>
  <tr>
    <th>Resource</th>
    <th>Instances</th>
    <th>CPUs</th>
    <th>RAM</th>
    <th>Ephemeral Disk</th>
    <th>Persistent Disk</th>
  </tr>
  <tr>
    <td>Prometheus</td>
    <td>2</td>
    <td>4</td>
    <td>16&nbsp;GB</td>
    <td>5&nbsp;GB</td>
    <td>512&nbsp;GB</td>
  </tr>
  <tr>
    <td>Grafana</td>
    <td>1</td>
    <td>1</td>
    <td>4&nbsp;GB</td>
    <td>5&nbsp;GB</td>
    <td>5&nbsp;GB</td>
  </tr>
  <tr>
    <td>MySQL</td>
    <td>1</td>
    <td>1</td>
    <td>4&nbsp;GB</td>
    <td>5&nbsp;GB</td>
    <td>10&nbsp;GB</td>
  </tr>
  <tr>
    <td>MySQL Proxy</td>
    <td>1</td>
    <td>1</td>
    <td>4&nbsp;GB</td>
    <td>5&nbsp;GB</td>
    <td>5&nbsp;GB</td>
  </tr>
</table>


<br>
## <a id='scale-healthwatch'></a> Scale Healthwatch

By default, the Healthwatch tile deploys two Prometheus VMs, one Grafana VM, one MySQL VM, and one MySQL Proxy VM.

To scale Healthwatch, see:

* [Scale Healthwatch Component VMs](#component-vms-scaling)
* [Configure Healthwatch for High Availability](#ha)
* [Remove Grafana from Healthwatch](#remove-grafana)


<br>
### <a id='component-vms-scaling'></a> Scale Healthwatch Component VMs

By default, the Healthwatch tile deploys two Prometheus VMs, one Grafana VM, one MySQL VM, and one MySQL Proxy VM.

To scale your Healthwatch component resources:

1. Open the **Resource Config** pane of the Healthwatch tile.
1. Scale Healthwatch tile resources.
You can scale Healthwatch tile resources either vertically or horizontally:

    * **Prometheus**: You can scale the Prometheus instance vertically only. Do not scale Prometheus horizontally.

    * **Grafana**: Healthwatch deploys a single Grafana VM by default. If you need Grafana to have high availability (HA), you can scale the Grafana instance horizontally.
    If you make Grafana HA, VMware recommends you also scale your MySQL instances.

    * **MySQL**: If you make Grafana HA, VMware recommends scaling your MySQL instance to three VMs.

    * **MySQL Proxy**: If you make Grafana HA, VMware recommends scaling your MySQL Proxy instance to two VMs.

    <p class="note">
    To remove Grafana from your Healthwatch deployment, set the number of Grafana, MySQL, and MySQL Proxy instances to `0`. For more information,
    see <a href="#remove-grafana">Remove Grafana from Healthwatch</a> below.
    </p>

For more information about vertical and horizontal scaling, see
[Scaling platform capacity](https://techdocs.broadcom.com/us/en/vmware-tanzu/platform/tanzu-platform-for-cloud-foundry/<%= vars.runtime_version %>/tpcf/high-availability.html#vert-and-horiz)
in the TAS for VMs documentation.

<br>
### <a id='ha'></a> Configure Healthwatch for High Availability

If you want to make your Healthwatch deployment HA, you must deploy a redundant number of Healthwatch tile component instances. This increases the capacity and availability of
those components, which decreases the chances of downtime.

To configure Healthwatch for HA:

1. Complete the steps in [Scale Healthwatch Component VMs](#component-vms-scaling) with the following HA configurations:

    * **Prometheus**: Healthwatch deploys two Prometheus VMs by default. With two VMs in the Prometheus instance, Prometheus and Alertmanager are HA by default.
    * **Grafana**: Scale the Grafana instance horizontally.
    * **MySQL**: Scale your MySQL instance to three VMs.
    * **MySQL Proxy**: Scale your MySQL Proxy instance to two VMs.




<br>
### <a id='remove-grafana'></a> Remove Grafana from Healthwatch

If you do not want to use any Grafana instances in your Healthwatch deployment, you can remove Grafana.
For example, you might want to remove Grafana from your Healthwatch deployment after configuring the Prometheus instance to send metrics to an external Grafana instance.

<p class="note">
If you remove Grafana from your Healthwatch deployment, scale Grafana, MySQL, and MySQL Proxy to <code>0</code> at the same time.
MySQL is used only to store Grafana settings and
MySQL Proxy is used only to route client connections to healthy MySQL nodes in an HA Grafana deployment.
Neither component is necessary if you have not deployed Grafana.
</p>

To remove Grafana from your Healthwatch deployment:

1. Open the **Resource Config** pane of the Healthwatch tile.
2. Set the number of **Grafana**, **MySQL**, and **MySQL Proxy** instances to `0`.

