---
title: PCF Healthwatch Resources
owner: PCF Healthwatch
---

This topic describes resource requirements for Pivotal Cloud Foundry (PCF) Healthwatch.

##<a id="requirements"></a>PCF Healthwatch Tile

You can configure PCF Healthwatch resources in the **Resource Config** section of the PCF Healthwatch tile. By default, the PCF Healthwatch tile uses the instance type that is best suited for each job.

<p class="note"><strong>Note</strong>: The automatically selected values that you see in the <strong>Resource Config</strong> section of your PCF Healthwatch tile depend on the available resources for your PCF deployment.</p>

The following table provides the default resource and IP requirements for installing the PCF Healthwatch tile.

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Resource</th>
    <th>Instances</th>
    <th>CPU</th>
    <th>RAM</th>
    <th>Ephemeral Disk</th>
    <th>Persistent Disk</th>
    <th>Static IP</th>
    <th>Dynamic IP</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Healthwatch Forwarder</td>
    <td>1 (not configurable)</td>
    <td>4</td>
    <td>16&nbsp;GB</td>
    <td>32&nbsp;GB</td>
    <td>100&nbsp;GB</td>
    <td>1</td>
    <td>0</td>
  </tr>
  <tr>
    <td>MySQL Server</td>
    <td>3</td>
    <td>4</td>
    <td>16&nbsp;GB</td>
    <td>32&nbsp;GB</td>
    <td>100&nbsp;GB</td>
    <td>3</td>
    <td>0</td>
  </tr>
  <tr>
    <td>MySQL Proxy</td>
    <td>2</td>
    <td>2</td>
    <td>4&nbsp;GB</td>
    <td>32&nbsp;GB</td>
    <td><em>n/a</em></td>
    <td>2</td>
    <td>0</td>
  </tr>
  </tbody>
</table>

##<a id='healthwatch-apps'></a>PCF Healthwatch Functional Apps

If you want to scale the functional apps created by PCF Healthwatch, see the following recommendations:

* **BOSH Director Health Check** (the `bosh-health-check` app).
  Only 1 BOSH Director Health Check can run at a time. This should be considered a hard limit.
* **BOSH Deployment Task Check** (the `bosh-task-check` app).
  By default, this is scaled to 2. It is recommended not to exceed 3 runners at once.
* **CLI Command Health Check** (the `cf-health-check` app).
  By default, this is scaled to 2. It is recommended not to exceed 3 runners at once.
* **Apps Manager Uptime and Response Check** (the `appsmanager-health-check` app).
  By default, this is scaled to 2. It is recommended not to exceed 3 runners at once.
* **Ops Manager Uptime Check** (the `opsmanager-health-check` app).
  By default, this is scaled to 2. It is recommended not to exceed 3 runners at once.
