---
title: Troubleshooting PCF Healthwatch
owner: PCF Healthwatch
---

<strong><%= modified_date %></strong>

This topic describes how to resolve common issues with Pivotal Cloud Foundry (PCF) Healthwatch v1.0.

## <a id='memory-limit'></a>Installation or Upgrade Failure Due to Memory Limit Error

Insufficient memory allocation can cause issues when you install or upgrade PCF Healthwatch.

### Error

If a PCF environment exceeds the total memory limit set for the `healthwatch` space in the `system` org, the PCF Healthwatch `push-apps` errand can fail. When this occurs, the error message looks similar to the following:

<pre class="terminal">
$ /var/vcap/packages/cf-cli/bin/cf start cf-health-check
Starting app cf-health-check in org system / space healthwatch as admin...
FAILED
Server error, status code: 400, error code: 100005, message: You have exceeded your organization's memory limit: app requested more memory than available
</pre>

### Cause

Your PCF environment has an insufficient total memory quota set for the `healthwatch` space in the `system` org.

The issue should not occur if the Apps Manager errand has run in your environment. Because service tiles use the `system` org to execute smoke tests, the Apps Manager errand sets the default `system` org quota to `runaway`. If the Apps Manager errand has not run or failed, the default `system` quota may not be reset properly.

### Solution

To resolve this issue, you can set the default memory quota for the `healthwatch` space in the `system` org to at least 24 GB and re-run the `push-apps` errand manually.

## <a id='missing-bosh-metrics'></a> Missing BOSH Metrics

### Error
You do not see expected metrics from BOSH on the dashboard charts.

### Cause
The BOSH Director requires manual configuration. It is a [Known Issue](release-notes.html) that you must repeat the [Getting BOSH Health Metrics](installing.html#bosh-metrics) steps every time the BOSH Director is recreated. The BOSH Director is recreated when you upgrade Ops Manager and install, upgrade, and delete data service tiles (for example, MySQL, RabbitMQ, or Redis).

### Solution
Ensure that the manual configuration steps have been repeated after the last BOSH Director update. 

