---
title: Upgrading PCF Healthwatch to v1.0.5 (Beta)
owner: PCF Healthwatch
---

This topic describes how to send BOSH health metrics into PCF Healthwatch v1.0.5 if you have installed an earlier version of the service.

##<a id='configure'></a>Configure BOSH Director

If PCF Healthwatch v1.0.5 is your first installation of PCF Healthwatch, follow the standard instructions in [Installing PCF Healthwatch](installing.html). If you have installed an earlier version of PCF Healthwatch, perform the following steps:

1. Download the 1.0.0-beta.2 version of `healthwatch-bosh-plugin` from [Pivotal Network](https://network.pivotal.io/).

1. Update the BOSH Director:
    1. Copy `healthwatch-bosh-plugin` to the BOSH Director.
    2. Move the copied file as follows:

        <pre class="terminal">
        mv /tmp/healthwatch-bosh-plugin /var/vcap/packages/healthwatch/
        </pre>

1. Assign the following permissions:

    <pre class="terminal">
    chown vcap:vcap /var/vcap/sys/log/healthwatch/
    chmod 755 /var/vcap/packages/healthwatch/healthwatch-bosh-plugin
    chmod 750 /var/vcap/sys/log/healthwatch/
    </pre>

1. Run `monit restart health_monitor` and verify that logs are created in `/var/vcap/sys/log/healthwatch/`.
