---
title: Upgrading Healthwatch
owner: Healthwatch
---

This topic describes how to upgrade to Healthwatch&trade; for VMware Tanzu (Healthwatch).

Healthwatch uses the open-source components Prometheus, Grafana, and Alertmanager to scrape, store, and view metrics, as well as configure alerts.

To upgrade to Healthwatch v2.2+, see [Upgrade to Healthwatch v2.2](#upgrade).

Healthwatch v2.2+includes the following features:

* Runs a suite of service level indicator (SLI) tests to test the functionality of the TKGI API and collects metrics from those tests in the **TKGI Control Plane** dashboard in the Grafana UI. For more information, see [TKGI SLI Exporter VM](metrics.html#pks-sli-exporter) in _Healthwatch Metrics_.

* Separates Diego capacity metrics by isolation segment in the **Diego/Capacity** dashboard in the Grafana UI.

* No longer displays metrics from BOSH smoke test deployments in the **Jobs** and **Job Details** dashboards in the Grafana UI.

* Allows you to include optional dashboards for the VMware Tanzu RabbitMQ for VMs (Tanzu RabbitMQ) and VMware Tanzu for MySQL on Cloud Foundry tiles in the Grafana UI.

* Allows you to monitor super value metrics (SVMs). For more
information about SVMs, see [Configure Prometheus](configuring/configuring-healthwatch.html#prometheus) in _Configuring Healthwatch_, [SVM Forwarder VM - Healthwatch Component Metrics](metrics.html#svm-forwarder-components) in _Healthwatch Metrics_,
and [SVM Forwarder VM - Platform Metrics](metrics.html#svm-forwarder-platform) in _Healthwatch Metrics_.

* Automatically detects which version of <%= vars.runtime_prod_short %> or TKGI is installed on your Tanzu Operations Manager foundation and creates the appropriate dashboard in the Grafana
UI.

* Allows you to use the Tanzu Operations Manager syslog forwarding feature to forward log messages from Healthwatch component VMs to an external destination for
troubleshooting, such as a remote server or external syslog aggregation service. For more information about how to configure syslog forwarding, see
[(Optional) Configure Syslog](configuring/configuring-healthwatch.html#syslog) in _Configuring Healthwatch_.

For more information about Healthwatch features, see [Healthwatch Release Notes](release-notes.html).


## <a id='upgrade'></a> Upgrade to Healthwatch v2.2+

To upgrade to Healthwatch v2.2+:

1. Review the limitations and risks of using of Healthwatch. For more information about the limitations of the latest Healthwatch, see [Healthwatch Limitations](index.html#healthwatch-limitations). For more information about the risks of using Healthwatch, see
[Assumed Risks of Using Healthwatch](index.html#assumed-risks).

1. Review the configuration options for Healthwatch to determine which tiles you must install on your Tanzu Operations Manager foundations. For more information, see [Configuration Options](architecture.html#configuration-options) in _Healthwatch Architecture_.

1. Install the Healthwatch tile and Healthwatch Exporter tiles on the Tanzu Operations Manager foundations you want to monitor according to the configuration you
identified in the previous step. For more information about installing the Healthwatch tile and Healthwatch Exporter tiles, see [Installing a Tile Manually](installing/installing-manually.html) or [Installing, Configuring, and Deploying a Tile Through an Automated Pipeline](installing/automated-pipeline.html).

1. Configure the Healthwatch component VMs through the Healthwatch tile and Healthwatch Exporter tile UIs in the Tanzu Ops Manager Installation Dashboard and deploy the tiles.
For more information about configuring and deploying the tiles, see [Configuring Healthwatch](configuring/configuring-healthwatch.html),
[Configuring Healthwatch Exporter for <%= vars.runtime_prod_full %>](configuring/configuring-exporter-tas.html), and [Configuring Healthwatch Exporter for TKGI](configuring/configuring-exporter-tkgi.html).
