---
title: Upgrading Healthwatch
owner: Healthwatch
---

<strong><%= modified_date %></strong>

This topic describes how to upgrade to Healthwatch v2.1 and lists the major differences between Healthwatch v1 and v2.1.

## <a id='overview'></a> Overview

Healthwatch v2.1 is the GA release of a Healthwatch version that uses the open source components Prometheus, Grafana, and Alertmanager to scrape, store, and view metrics and receive alerts. Healthwatch v2.1 is so different from Healthwatch v1, it requires installing a new tile.

For more information about the differences between Healthwatch v1 and v2.1 and how to upgrade, see the following sections below:

* [Differences between Healthwatch v1 and v2.1](#differences)
* [Upgrading to Healthwatch v2.1](#upgrade)

## <a id='differences'></a>Differences between Healthwatch v1 and v2.1

The following table explains the biggest differences you will notice when upgrading from Healthwatch v1. 

<table>
  <tr><th colspan="2" style="text-align: center;"><br>Differences between Healthwatch v1 and v2.1<br><br></th></tr>
    <tr>
      <td width="25%"><strong>Healthwatch v2.1</strong></td> 
      <td>Uses the open source components Prometheus, Grafana, and Alertmanager to scrape, store, and view metrics and receive alerts. The components use multiple VMs to maintain high availability.</td>
    </tr>
    <tr>
      <td><strong>Healthwatch v1</strong></td>
      <td>Uses an in-house dashboard and alerting system to monitor metrics and send alerts. If components become temporarily unavailable, metrics are buffered and queued.</td>
    </tr>
    <tr><td colspan="2" bgcolor="#f8f8f8">For more information about the architecture of Healthwatch v2.1, see <a href="architecture.html">Reference Architecture</a>.</td></tr>
    <tr>
      <td><strong>Healthwatch v2.1</strong></td>
      <td>Uses Prometheus to retain all metrics for 42 days or until 85 percent of persistent disk space is full.</td>
    </tr>
    <tr>  
      <td><strong>Healthwatch v1</strong></td>
      <td>Retains metrics in MySQL for 25 hours before the metrics are pruned.</td>
    </tr>
    <tr><td colspan="2" bgcolor="#f8f8f8">For more information about Healthwatch v2.1 metrics, see <a href="metrics.html">Healthwatch Metrics</a>.</td>
    </tr>
    <tr>  
      <td><strong>Healthwatch v2.1</strong></td>
      <td>Works with two VMware platforms and can monitor both concurrently: VMware Tanzu Application Service for VMs (TAS for VMs) and VMware Tanzu Kubernetes Grid Integrated Edition (TKGI).</td>
    </tr>
    <tr>  
      <td><strong>Healthwatch v1</strong></td>
      <td>Monitors one TAS for VMs foundation.</td>
    </tr>
    <tr><td colspan="2" bgcolor="#f8f8f8">For more information about using Healthwatch v2.1 with multiple foundations, see <a href="architecture.html#configuration-options">Configuration Options</a> in <i>Reference Architecture</i>.</td>
    </tr>
    <tr>
      <td><strong>Healthwatch v2.1</strong></td>
      <td>Monitors multiple foundations from a single view in Grafana.</td>
    </tr>
    <tr>
      <td><strong>Healthwatch v1</strong></td>
      <td>Only monitors the Ops Manager foundation it is installed on from the Healthwatch v1 UI.</td>
    </tr>
    <tr><td colspan="2" bgcolor="#f8f8f8">For more information about using Healthwatch v2.1 with multiple foundations, see <a href="architecture.html#configuration-options">Configuration Options</a> in <i>Reference Architecture</i>.</td>
    </tr>
    <tr>
      <td><strong>Healthwatch v2.1</strong></td>
      <td>Includes a <strong>Cert Expiration</strong> dashboard that shows the
        remaining time until expiration for all discoverable certificates
        from the Ops Manager API and BOSH-trusted certificates.</td>
    </tr>
    <tr>
      <td><strong>Healthwatch v1</strong></td>
      <td>Does not track certificate expiration.</td>
    </tr>
    <tr><td colspan="2" bgcolor="#f8f8f8">For more information about monitoring certificates, see <a href="/configuring/optional-config/certificate-monitoring.html">Monitoring Certificate Expiration</a>.</td>
    </tr>
    <tr>
      <td><strong>Healthwatch v2.1</strong></td>
      <td>Lets you customize the default dashboards and create dashboards from scratch.</td>
    </tr>
    <tr>
      <td><strong>Healthwatch v1</strong></td>
      <td>Does not allow you to edit its dashboard.</td>
    </tr>
    <tr><td colspan="2" bgcolor="#f8f8f8"></td>
    </tr>
    <tr>
      <td><strong>Healthwatch v2.1</strong></td>
      <td>In addition to User Account and Authentication (UAA), Healthwatch v2.1 adds OAuth and LDAP as authentication methods for accessing the Grafana UI.</td>
    </tr>
    <tr>
      <td><strong>Healthwatch v1</strong></td>
      <td>Uses UAA to access the BOSH Director, component metrics, and the Healthwatch v1 UI.</td>
    </tr>
    <tr><td colspan="2" bgcolor="#f8f8f8">For more information about authentication, see <a href="/configuring/grafana-authentication.html">Configuring Grafana Authentication</a>.</td>
    </tr>
    <tr>
      <td><strong>Healthwatch v2.1</strong></td>
      <td>Lets you forward log messages from Healthwatch component VMs to an external destination for troubleshooting, such as a remote server or external syslog aggregation service.</td>
    </tr>
    <tr>  
      <td><strong>Healthwatch v1</strong></td>
      <td>Does not include the Ops Manager syslog configuration feature.</td>
    </tr>
    <tr><td colspan="2" bgcolor="#f8f8f8">For more information about configuring syslog, see <a href="/configuring/configuring-healthwatch.html#syslog">Configure Syslog</a> in <i>Configuring Healthwatch</i>.</td>
    </tr>
    <tr><th colspan="2" style="text-align: center;">Exclusive to Healthwatch v2.1</th></tr>
    <tr>
      <td><strong>Healthwatch v2.1</strong></td>
      <td><ul>
        <li>Adds a functional test and associated dashboard for the TKGI API.</li>
        <li>Separates Diego Capacity metrics by isolation segment in the <strong>Diego/Capacity</strong> dashboard.</li>
        <li><strong>Jobs</strong> and <strong>Job Details</strong> dashboards ignore BOSH smoke test deployments.</li>
        <li>Includes optional dashboards for the RabbitMQ and MySQL tiles.</li>
        <li>Exposes composite metrics, also called "Super Value Metrics", from Healthwatch v1 to the metrics pipeline. This allows you to see the same metrics from Healthwatch v1 in your downstream log consumers.</li>
        <li>Healthwatch v2.1 recognizes automatically the version of TAS for VMs or TKGI installed and sets the dashboard version accordingly.</li>
        <li>For more Healthwatch v2.1 features, see the <a href="release-notes.html">Healthwatch v2.1 Release Notes.</a></li>
     </tr>
  </table>


## <a id='upgrade'></a>Upgrading to Healthwatch v2.1

Even if you are upgrading from Healthwatch v1, you must install and a configure a new tile for Healthwatch v2.1 because the architecture of Healthwatch v2.1 is entirely different. However, you can run Healthwatch v1 and v2.1 at the same time until you decide to uninstall Healthwatch v1.

1. Review the limitations and risks of using of Healthwatch v2.1. For more information about the limitations of Healthwatch v2.1, see [Healthwatch v2.1 Limitations](index.html#healthwatch-limitations) in _Healthwatch_. For more information about the risks of using Healthwatch v2.1, see [Assumed Risks of Using Healthwatch v2.1](index.html#assumed-risks) in _Healthwatch_.

1. If you have multiple Ops Manager foundations you want to monitor, such as multiple TAS for VMs platforms, TKGI platforms, or a combination of both, review the configuration options for Healthwatch v2.1. For more information about the configuration options, see [Configuration Options](architecture.html#configuration-options) in _Reference Architecture_.

1. Install the Healthwatch v2.1 tile and Healthwatch Exporter tile on the Ops Manager foundations you identified in the previous step, even if you have the Healthwatch v1 tile installed already. For more information about installing the Healthwatch v2.1 tile and Healthwatch Exporter tiles, see [Installing a Tile Manually](/installing/installing-manually.html). 

1. Configure the Healthwatch component VMs through the Healthwatch v2.1 tile and Healthwatch Exporter tile UIs and deploy the tiles. For more information about configuring and deploying the tiles, see [Configuring Healthwatch](/configuring/configuring-healthwatch.html), [Configuring Healthwatch Exporter for TAS for VMs](/configuring/configuring-exporter-tas.html), and [Configuring Healthwatch Exporter for TKGI](/configuring/configuring-exporter-tkgi.html).  

1. Once you are comfortable with using Healthwatch v2.1, delete Healthwatch v1. For more information about deleting tiles, see [Delete Products](https://docs.pivotal.io/ops-manager/2-10/install/add-delete.html#del-prod) in _Adding and Deleting Products_. 
