---
title: Using PCF Healthwatch
owner: PCF Healthwatch
---

This topic describes how to use Pivotal Cloud Foundry (PCF) Healthwatch.

##<a id='access'></a>Accessing PCF Healthwatch

You can access PCF Healthwatch and its data through the UI or directly through the metrics datastore.

###<a id='ui'></a>Access the PCF Healthwatch UI

<p class="note"><strong>Note</strong>: Currently, only the Google Chrome browser is supported.</p>

1. Navigate to `healthwatch.SYSTEM-DOMAIN`.
2. When prompted to log in, enter the username and password of the UAA user the has the `healthwatch.read` scope.
    <br><br>
    In PCF Elastic Runtime 1.11.9 and later, the UAA admin user has the `healthwatch.read` scope by default. If you want to log in with another UAA user, make this user a member of the `healthwatch.read` group. For more information, see [Creating and Managing Users with the UAA CLI (UAAC)](https://docs.pivotal.io/pivotalcf/uaa/uaa-user-management.html).

###<a id='mysql'></a>Access Data Through MySQL

You can access PCF Healthwatch data through MySQL, which is used to store product metrics. See the description of [available data points](metrics.html).

The table below provides login information.

<table class="nice">
<tr>
  <td>URL</td>
  <td>Any of the MySQL VM IPs</td>
</tr>
<tr>
  <td>Port</td>
  <td>3306</td>
</tr>
<tr>
  <td>Username</td>
  <td>MySQL Admin Password credentials in the PCF Healthwatch tile</td>
</tr>
<tr>
  <td>Password</td>
  <td>MySQL Admin Password credentials in the PCF Healthwatch tile</td>
</tr>
<tr>
  <td>Database</td>
  <td><code>platform_monitoring</code></td>
</tr>
<tr>
  <td>Tables</td>
  <td><code>value_metric</code>, <code>counter_event</code>, and <code>super_value_metric</code></td>
</tr>
</table>

To access MySQL, you can do the following:

* **Method 1**. Use BOSH to SSH into any of the MySQL VMs and run the `mysql -u root -p` command.

* **Method 2**. Assign an external IP to a MySQL VM and a firewall rule to open ports 3306 and 3308 and access MySQL externally.

* **Method 3**. Open a tunnel into your IaaS network and connect that way externally.

###<a id='firehose'></a>Access Product Super Metrics Through the Firehose

PCF Healthwatch forwards the super [metrics](metrics.html) it creates into the [Loggregator Firehose](https://docs.pivotal.io/pivotalcf/loggregator/architecture.html#firehose) so that they can be picked up by existing Firehose consumers. Below is an example of a product-generated metric output received through a Firehose [nozzle](https://docs.pivotal.io/pivotalcf/1-11/loggregator/architecture.html#nozzles).

<pre class="terminal">
origin:"healthwatch" eventType:ValueMetric timestamp:1502293311588995438 deployment:"p-healthwatch-e7f044a5cf4f0a807750" job:"healthwatch-forwarder" index:"06231d64-ad9f-4112-8423-6b41f44c0cf5" ip:"10.0.4.82" valueMetric:&lt;name:"Firehose.LossRate.1H" value:0 unit:"hr"&gt;
</pre>
