---
title: Monitoring Certificate Expiration
owner: Healthwatch
---

<strong><%= modified_date %></strong>

This topic describes how to monitor the expiration of Ops Manager certificates using metrics
collected by the Healthwatch Exporter for VMware Tanzu Application Service for VMs (TAS for
VMs) and Healthwatch Exporter for Tanzu Kubernetes Grid Integrated Edition (TKGI) tiles.


## <a id='overview'></a> Overview of Certificate Expiration Monitoring

The metrics in the **Certificate Expiration** dashboard in the Grafana UI show when Ops Manager
certificates are due to expire. These certificates include the Ops Manager root certificate
authority (CA) and CredHub-managed leaf certificates for product tiles and BOSH deployments.
For more information about these certificates, see [Certificate Types](https://docs.pivotal.io/ops-manager/security/pcf-infrastructure/certificate-types.html)
in the Ops Manager documentation.

Healthwatch Exporter for TAS for VMs and Healthwatch Exporter for TKGI deploy the certificate
expiration metric exporter VM, `cert-expiration-exporter`. The certificate expiration metric
exporter VM uses the `om` CLI to send a GET request with the query parameter `?expires_within=1y`
to the `/api/v0/deployed/certificates` Ops Manager API endpoint. The Ops Manager API then returns
the expiration dates of all certificates that are due to expire within the next year. The Prometheus
instance in your Healthwatch for VMware Tanzu deployment scrapes the certificate expiration metrics from the
certificate expiration metric exporter VM and sends them to Grafana. For more information about
the `/api/v0/deployed/certificates` endpoint, see [Getting Information About Certificates from
Products](https://docs.pivotal.io/platform/opsman-api/#tag/Certificates/paths/~1api~1v0~1deployed~1certificates/get)
in the Ops Manager API documentation.
  <p class='note'><strong>Note:</strong> You cannot configure the certificate expiration metric
    exporter VM to specify a different time period when it sends a GET request to the <code>/api/v0/deployed/certificates</code>
    endpoint.</p>

If your BOSH Director deployment uses custom CAs, you can configure them in the **Trusted Certificates**
field in the **Security** pane of the BOSH Director tile. Configuring custom CAs in the **Trusted
Certificates** field allows all BOSH-deployed components in your deployment to trust custom
root certificates. For more information about this field, see [Setting Trusted Certificates]
(https://docs.pivotal.io/ops-manager/trusted-certificates.html) in the Ops Manager documentation.

If any CAs or leaf certificates for your foundation are due to expire soon, rotate them before
they expire to avoid downtime for your foundation. To rotate CAs and leaf certificates, see
[Overview of Certificate Rotation](https://docs.pivotal.io/ops-manager/security/pcf-infrastructure/api-cert-rotation.html)
in the Ops Manager documentation.


## <a id='configure-static-ip'></a> Reserving a Static IP Address for the Certificate Expiration Metric Exporter VM

You do not need to configure the certificate expiration metric exporter VM for it to collect
certificate expiration metrics. However, you can reserve a static IP address for the certificate
expiration metric exporter VM.

To configure a static IP address for the certificate expiration metric exporter VM, see the
configuration topic for your Healthwatch Exporter tile:

* [(Optional) Configure TAS for VMs Metric Exporter VMs](../configuring-exporter-tas.html#exporter-config) in _Configuring
Healthwatch Exporter for TAS for VMs_.

* [(Optional) Configure TKGI and Certificate Expiration Metric Exporter VMs](../configuring-exporter-tkgi.html#exporter-config)
in _Configuring Healthwatch Exporter for TKGI_.
