---
title: Alerting
owner: Healthwatch
---

This topic explains a shift in how Healthwatch handles alerting.
This document aims to explain how to configure alerting
in the Healthwatch tile in Ops Manager.

## Alerting

To configure alerting for the Healthwatch tile,
perform the following steps:

1. Click the **Healthwatch** tile on the Ops Manager Installation Dashboard.
1. Navigate to **Prometheus Configuration**.
1. Input the **Alerting Rules YAML** that represents
    the features of your foundation (explained below).
1. Click **Save**.

## Which alerts will you need?

We have included alerting rules files
for TAS and for TKG-i:

- <a href="tas_alerting_rules.yml" target="_blank">TAS</a>
- <a href="tkg-i_alerting_rules.yml" target="_blank">TKG-i</a>

Please modify these files according to your foundation's specific setup.