---
title: Configuring DNS for the Grafana VM
owner: Healthwatch
---

<strong><%= modified_date %></strong>

This topic describes how to set up DNS for your Grafana instance [SHOULD WE USE VM HERE? IMPLIED IN TITLE.] 
and provides a specific configuration example using Google Cloud Platform (GCP).

## <a id="overview"></a> Overview of Configuring DNS
IS THIS TOPIC SOMETHING THE AUDIENCE WILL ACCESS BY GOOGLING? OR DO THEY ARRIVE AT THIS DOC FROM ANOTHER TOPIC? IS IT OPTIONAL? (DNS LETS YOU CUSTOMIZE URL FOR VM...SHOULD WE EXPLAIN THAT OR IS IT OBVIOUS TO OUR AUDIENCE?

THIS IS A NUGGET FROM THE INDEX PAGE:
Q: Why is DNS configuration important?
A: To avoid creating an unnecessary dependency on TAS for VMs, the Healthwatch 2.0 tile does not use the Gorouter included in TAS for VMs to route the Grafana VM to a subdomain on the foundation. Therefore, for ease of access, it is important to configure the Grafana VM with DNS. For more information, see Configuring DNS for the Grafana VM.



## <a id="overview"></a> Configure DNS
STEM SENTENCE.

1. Identify the IP address of the Grafana VM created by the Healthwatch 2.0 deployment. 

1. Create a Type A DNS record pointing to that IP address. 

1. Wait for DNS to update. 

    <p class="note"><strong>Note:</strong> You can speed this process up by modifying your computer's DNS settings.</p>
    
1. Visit the URL that you configured as a DNS record to point to your Grafana instance. 

1. Ensure that the Grafana login page appears as expected. 

## <a id="gcp-example"></a> GCP Example 
CAN WE MAKE THESE GENERAL STEPS OR DO STEPS VARY TOO MUCH DEPENDING ON YOUR PLATFORM? CAN WE LINK OUT TO THE CLOUD PROVIDERS' DOCS FOR THIS?
GCP, AZURE, AWS, OPENSTACK, VSPHERE, EDGE. 

The following procedure is an example of how to set up DNS for a Grafana instance on GCP.
THE GCP DOCS ARE DIFFERENT DEPENDING ON THE OS OF THE VM.

1. After signing into Google Cloud Console, navigate to **Compute Engine > VM instances**.
1. In the **Filter VM Instances** field, enter `grafana` to find the Grafana VM that was created during your Healthwatch deployment.
1. If you have only one foundation, only one VM should appear after applying the filter. If you have more than foundation, you can add a filter to narrow down the search to a specific foundation. For example, if you have a control plane foundation named `hw-cp`, you can locate the Grafana instance for that foundation by typing `hw-cp`.
1. Copy the IP address located in the **External IP** field in the search result.
1. In Google Cloud Console, navigate to **Network services > Cloud DNS**.
1. Filter DNS zones for your foundation. Following the control plane example, you can type `hw-cp-zone`.
1. Click on the zone name to edit the zone.
1. Click **Add record set**.
1. Enter `grafana` into the **DNS Name** field.
    Notice that the rest of the domain is already populated
    because this record is created within the context of a DNS zone.
1. Make sure **Resource Record Type** is set to **A**.
1. (Optional) Set **TTL** (Time To Live) to **1** and **TTL Unit** to **seconds**
    to reduce the amount of wait time required to verify that the change worked.
1. Paste the IP address you retrieved above into the **IPv4 Address** field.
1. Click **CREATE**.
1. In a Web browser, visit `grafana.SYSTEM-DOMAIN`,
    where `SYSTEM-DOMAIN` is the same domain in the URL you use to visit the Ops Manager UI (`pcf.SYSTEM-DOMAIN`).
    For example, `grafana.hw-cp.cf-denver.com`.
1. If the Grafana login page does not load as expected,
    you can try adding Google's Public DNS Server (`8.8.8.8`) to your computer's network configuration.
    <p class="note"><strong>Note</strong>: Detailed instructions for adding a DNS server to your computer's network configuration depend on the operating system.</p> 
1. When you see the Grafana login page, you have successfully created a DNS entry.
