---
title: Configuring DNS for the Grafana VM
owner: Healthwatch
---

<strong><%= modified_date %></strong>

This topic describes how to configure DNS for your Grafana instance.


## <a id='overview'></a> Overview of DNS for the Grafana VM

To avoid creating an unnecessary dependency on VMware Tanzu Application Service for VMs (TAS
for VMs), Healthwatch does not use a Gorouter in TAS for VMs to route the Grafana VM to a subdomain
for your foundation. To facilitate access to the Grafana UI, you must configure a DNS entry
for the Grafana VM. [What about TKGI? Do you still need to do this for TKGI? Is it optional? Is it possible?]


## <a id='configure'></a> Configure DNS for the Grafana VM

To configure DNS for the Grafana VM:

1. Navigate to the Ops Manager Installation Dashboard.

1. Click the **Healthwatch** tile.

1. Select the **Status** tab. [This is actually valid, right?]

1. Record the IP address of the Grafana VM.

1. Create an A record in your DNS that points to the Grafana IP address you recorded in the
previous step.

1. Wait for your DNS to update.

1. Ensure that the Grafana UI login page appears as expected by navigating to the URL that
you configured as a DNS entry for your Grafana instance in a web browser. When you see the
Grafana UI login page, you have successfully created a DNS entry.
