---
title: Configure Grafana
owner: Healthwatch
---

<strong><%= modified_date %></strong>

## <a id='overview'></a> Overview

WHY ITS REQUIRED
In the **Grafana Configuration** pane, you configure how users access and authenticate with
the Grafana UI, as well as which dashboards appear in the Grafana UI. For more information
about the Grafana UI as it relates to Healthwatch, see [Healthwatch](index.html).

The values that you enter in the fields in the **Grafana Configuration** pane also define their
corresponding properties the Grafana configuration file. For more information, see [Configuration]
(https://grafana.com/docs/grafana/latest/administration/configuration/) in the Grafana documentation.

## <a id='grafana'></a> Configure Grafana

To configure the **Grafana Configuration** pane:

1. Select **Grafana Configuration**.

1. If you configured your Grafana VM to allow access to the Grafana UI from a URL outside your
BOSH network, enter the full URL in **Root URL for Grafana**. You must provide this URL to
enable generic OAuth or UAA to redirect users to the Grafana UI. Alertmanager also uses this
URL to generate links to the Grafana UI in alert messages. This URL appears as the `root_url`
property in the `[server]` section of the Grafana configuration file.
<br>
<br>
This URL must be configured in your DNS provider to point to the public IP address of either
a single Grafana VM or the load balancer in front of multiple Grafana VMs. You can obtain this
IP address to configure **Root URL for Grafana** after you deploy the Healthwatch tile for
the first time. Your Grafana VMs listen on either port `443` or `80`, depending on whether
you provide an SSL certificate in the **Enable HTTPS by providing certificates** field below.
For more information about configuring DNS for the Grafana VM, see [Configuring DNS for the
Grafana VM](#dns).

1. Under **Enable HTTP(s) Proxy Settings for Grafana**, choose whether to enable or disable
the Grafana VM to make HTTP and HTTPS proxy requests:
  1. To disable HTTP and HTTPS proxy requests, select **Disabled**. HTTP and HTTPS proxy settings
  are disabled by default.
  1. To configure proxy settings for the Grafana VM:
      1. Select **Enabled**.
      1. For **HTTP Proxy for Grafana**, enter your HTTP proxy server URL. The Grafana VM uses
      this URL as the proxy URL for all HTTP and HTTPS requests except those from hosts you
      configure in the **HTTPS Proxy for Grafana** and **No Proxy for Grafana** fields below.
      1. For **HTTPS Proxy for Grafana**, enter your HTTPS proxy server URL. The Grafana VM
      uses this URL as the proxy URL for all HTTPS requests except those from hosts you configure
      in the **No Proxy for Grafana** field below.
      1. For **No Proxy for Grafana**, enter a comma-separated list of the hosts you want to
      exclude from proxying. VMware recommends including `*.bosh` and the range of your internal
      network IP addresses so the Grafana VM can still access the Prometheus VM without going
      though the proxy. For example, `*.bosh,10.0.0.0/8,*.example.com` allows the Grafana VM
      to access all BOSH DNS addresses and all internal network IP addresses containing `10.0.0.0/8`
      or `*.example.com` directly, without going though the proxy.
      <p class="note"><strong>Note:</strong> You only need to configure proxy settings if you
        are deploying Healthwatch in an air-gapped environment and want to configure alert
        channels to external addresses, such as the external Slack webhook.</p>

1. (Optional) For **Static IPs for the Grafana VM(s)**, enter a comma-separated list of valid
static IP addresses that you want to reserve for the Grafana VM. These IP addresses must not
be within the reserved IP ranges you configured in the BOSH Director tile.

1. (Optional) To prevent users from logging in to Grafana UI with basic authentication, including
admin users, clear the **Enable Grafana Login Form** checkbox. This checkbox is selected by
default.

1. Under **Discover Product Dashboards**, select how you want the Grafana VM to discover the
runtimes in your foundations.
    * **Dynamic:** The Grafana VM creates a dashboard in the Grafana UI for the versions of
    VMware Tanzu Application Service for VMs (TAS for VMs) or TKGI that are currently installed
    on your foundation. This option is selected by default.
    * **Manual:** The Grafana VM creates a dashboard in the Grafana UI for the versions of
    TAS for VMs or TKGI you specify in **TAS Version to Monitor** and **TKGI Version to Monitor**.
    * **Disabled:** The Grafana VM does not discover or create dashboards in the Grafana UI
    for TAS for VMs or TKGI.

1. (Optional) If you want the Grafana VM to create a dashboard for RabbitMQ, select the **Enable
RabbitMQ dashboards** checkbox. This checkbox is disabled by default.

1. (Optional) To enable HTTPS for the Grafana VM, provide one or more SSL certificates in **Enable
HTTPS by providing certificates**.

1. (Optional) If you provided one or more SSL certificates in the previous step, provide a
CA for those SSL certificates in **CA for SSL certificates**.

1. (Optional) To configure an additional cipher suite for TLS connections to the Grafana VM,
enter a comma-separated list of ciphers in **Additional Cipher Suite Support**. For a list
of supported cipher suites, see [cipher_suites.go](https://github.com/golang/go/blob/c847589ad06a1acfcceaac7b230c0d5a826caab8/src/crypto/tls/cipher_suites.go#L500-L522) in the Go repository on GitHub.

1. Under **Select an authentication mechanism for Grafana**, select the user authentication
method you want the Grafana VM to use:
    * **Basic:** Enables basic authentication. For more information, see [Configure Basic Authentication]
    (#configure-basic-auth) in _Configuring
    Grafana Authentication_.
    * **Generic OAuth:** Enables OAuth authentication for any supported authentication provider,
    such as GitHub or Okta. For more information, see [Configure Generic OAuth Authentication]
    (#configure-generic-oauth) in _Configuring
    Grafana Authentication_ and [User Authentication Overview](https://grafana.com/docs/grafana/latest/auth/overview/)
    in the Grafana documentation.
    * **UAA:** Enables UAA authentication. For more information, see [Configure UAA Authentication]
    (#configure-uaa) in _Configuring Grafana
    Authentication_.
    * **LDAP:** Enables LDAP authentication. For more information, see [Configure LDAP Authentication]
    (#configure-ldap) in _Configuring Grafana
    Authentication_ and [LDAP Authentication](https://grafana.com/docs/grafana/latest/auth/ldap/)
    in the Grafana documentation.

1. Under **Enable SMTP for Grafana Alerts**, choose whether to enable or disable email alerts
from the Grafana UI.
  * To diable email alerts, select **Disabled**. Email alerts are disabled by default.
  * To enable email alerts:
      1. Select **Enabled**.
      1. For **Host Name**, enter the host name of your SMTP server. This host name appears
      as the `host` property in the `[smtp]` section of the Grafana configuration file.
      1. For **Port**, enter the port of your SMTP server. This port appears as the `port`
      property in the `[smtp]` section of the Grafana configuration file.
      1. For **Username**, enter your SMTP authentication username. This username appears as
      the `user` property in the `[smtp]` section of the Grafana configuration file.
      1. For **Password**, enter your SMTP authentication password. This password appears as
      the `password` property in the `[smtp]` section of the Grafana configuration file.
      1. (Optional) To enable the Grafana VM to skip SSL validation when communicating with
      your SMTP server over TLS, enable the **Skip SSL Verification** checkbox. This checkbox
      appears as the `skip_verify` property in the `[smtp]` section of the Grafana configuration
      file.
      1. For **From Address**, enter the sender email address that appears on outgoing email
      alerts. This email address appears as the `from_address` property in the `[smtp]` section
      of the Grafana configuration file.
      1. For **From Name**, enter the sender name that appears on outgoing email alerts. This
      name appears as the `from_name` property in the `[smtp]` section of the Grafana configuration
      file.
      1. For **EHLO Identity**, enter a name for the client identity that your SMTP server
      uses when sending EHLO commands. This name appears as the `ehlo_identity` property in
      the `[smtp]` section of the Grafana configuration file.
      1. For **TLS Credentials**, enter a certificate and private key to enable the Grafana
      VM to communicate with your SMTP server over TLS. This certificate and private key appear
      as the `cert_file` and `key_file` properties in the `[smtp]` section of the Grafana configuration
      file.
      <br>
      <br>
    For more information, see [&#91;smtp&#93;](https://grafana.com/docs/installation/configuration/#smtp)
    in the Grafana documentation.

1. Click **Save**.

## <a id='dns'></a> Configure Grafana DNS

This topic describes the general flow of setting up DNS for your Grafana instance
and provides a specific configuration example using Google Cloud Platform (GCP).

### <a id="gen-flow"></a> General Flow

The high level steps for setting up DNS for a Grafana instance are:

1. Identify the IP address of the Grafana VM created by the Healthwatch 2.0 deployment.
1. Create a Type A DNS record pointing to that IP address.
1. Wait for DNS to update.
    <p class="note"><strong>Note:</strong> You can speed this process up by modifying your computer's DNS settings.</p>
1. Visit the URL that you configured as a DNS record to point to your Grafana instance.
1. Ensure that the Grafana login page appears as expected.

### <a id="gcp-example"></a> GCP Example

The following procedure is an example of how to set up DNS for a Grafana instance on GCP.

1. After signing into Google Cloud Console, navigate to **Compute Engine > VM instances**.
1. In the **Filter VM Instances** field, enter `grafana` to find the Grafana VM that was created during your Healthwatch deployment.
1. If you have only one foundation, only one VM should appear after applying the filter. If you have more than foundation, you can add a filter to narrow down the search to a specific foundation. For example, if you have a control plane foundation named `hw-cp`, you can locate the Grafana instance for that foundation by typing `hw-cp`.
1. Copy the IP address located in the **External IP** field in the search result.
1. In Google Cloud Console, navigate to **Network services > Cloud DNS**.
1. Filter DNS zones for your foundation. Following the control plane example, you can type `hw-cp-zone`.
1. Click on the zone name to edit the zone.
1. Click **Add record set**.
1. Enter `grafana` into the **DNS Name** field.
    Notice that the rest of the domain is already populated
    because this record is created within the context of a DNS zone.
1. Make sure **Resource Record Type** is set to **A**.
1. (Optional) Set **TTL** (Time To Live) to **1** and **TTL Unit** to **seconds**
    to reduce the amount of wait time required to verify that the change worked.
1. Paste the IP address you retrieved above into the **IPv4 Address** field.
1. Click **CREATE**.
1. In a Web browser, visit `grafana.SYSTEM-DOMAIN`,
    where `SYSTEM-DOMAIN` is the same domain in the URL you use to visit the Ops Manager UI (`pcf.SYSTEM-DOMAIN`).
    For example, `grafana.hw-cp.cf-denver.com`.
1. If the Grafana login page does not load as expected,
    you can try adding Google's Public DNS Server (`8.8.8.8`) to your computer's network configuration.
    <p class="note"><strong>Note</strong>: Detailed instructions for adding a DNS server to your computer's network configuration depend on the operating system.</p>
1. When you see the Grafana login page, you have successfully created a DNS entry.


## <a id='overview'></a> Grafana Authentication

By default, users log in to the Grafana UI using basic authentication. With basic authentication,
all users log in to the Grafana UI using the username `admin` and the admin login credentials
found in the **Credentials** tab of the Healthwatch tile.

However, you can configure the Grafana UI to use a different authentication method instead.
This enables users to use their own credentials to log in to the Grafana UI.

The sections in this topic describe how to configure different authentication methods for users
to log in to the Grafana UI:

* Basic authentication. For more information, see [Configure Basic Authentication](#configure-basic-auth)
below.

* Generic OAuth. For more information, see [Configure Generic OAuth Authentication](#configure-generic-oauth)
below.

* User Account and Authentication (UAA). For more information, see [Configure UAA Authentication](#configure-uaa) below.

* LDAP. For more information, see [Configure LDAP Authentication](#configure-ldap) below.

For a list of Grafana-supported authentication integrations, see [User Authentication Overview]
(https://grafana.com/docs/grafana/latest/auth/overview/) in the Grafana documentation.

The values that you enter in the fields in the **Grafana Configuration** pane define their
corresponding properties in the Grafana configuration file. For more information, see [Configuration]
(https://grafana.com/docs/grafana/latest/administration/configuration/) in the Grafana documentation.


### <a id='configure-basic-auth'></a> Configure Basic Authentication

When you configure basic authentication for Grafana, all users log in to the Grafana UI using
the username `admin` and the admin login credentials found in the **Credentials** tab of the
Healthwatch tile.

To configure basic authentication for Grafana:

1. Navigate to the Ops Manager Installation Dashboard.

1. Click the **Healthwatch** tile.

1. Select **Grafana Configuration**.

1. Under **Select an authentication mechanism for Grafana**, select **Basic**.

1. Click **Save**.

1. Select the **Credentials** tab.

1. Under **Grafana**, click **Link to Credential** for **Admin Login Password**.

1. Record the login password. This is the password all users must use to log in to the Grafana
UI.


### <a id='configure-generic-oauth'></a> Configure Generic OAuth Authentication

When you configure generic OAuth authentication for Grafana, users can log in to the Grafana
UI with their credentials for the Grafana-supported OAuth provider of your choice. For more
information about configuring generic OAuth authentication, see [Generic OAuth Authentication]
(https://grafana.com/docs/grafana/latest/auth/generic-oauth/) in the Grafana documentation.

To configure generic OAuth authentication for Grafana:

1. Navigate to the Ops Manager Installation Dashboard.

1. Click the **Healthwatch** tile.

1. Select **Grafana Configuration**.

1. Under **Select an authentication mechanism for Grafana**, select **Generic OAuth**.

1. For **Name**, enter the name of the OAuth provider you want to configure. This name appears
as the `name` property in the `[auth.generic_oauth]` section of the Grafana configuration file.

1. For **Client ID**, enter the client ID of your OAuth provider. The method to retrieve this
client ID differs depending on your OAuth provider. To find the client ID of your OAuth provider,
see [User Authentication Overview](https://grafana.com/docs/grafana/latest/auth/overview/)
in the Grafana documentation. This client ID appears as the `client_id` property in the `[auth.generic_oauth]`
section of the Grafana configuration file.

1. For **Client Secret**, enter the client secret of your OAuth provider. The method to retrieve
this client secret differs depending on your OAuth provider. To find the client secret of your
OAuth provider, see [User Authentication Overview](https://grafana.com/docs/grafana/latest/auth/overview/)
in the Grafana documentation. This client secret appears as the `client_secret` property in
the `[auth.generic_oauth]` section of the Grafana configuration file.

1. For **Scopes**, enter a comma-separated list of scopes that the OAuth provider adds to the
user's token when they log in to the Grafana UI. These scopes differ depending on your OAuth
provider. To find the scopes for your OAuth provider, see [User Authentication Overview](https://grafana.com/docs/grafana/latest/auth/overview/)
in the Grafana documentation. This list appears as the `scopes` property in the `[auth.generic_oauth]`
section of the Grafana configuration file.

1. For **Authorization URL**, enter the authorization URL of your OAuth provider server. This
URL appears as the `auth_url` property in the `[auth.generic_oauth]` section of the Grafana
configuration file.

1. For **Token URL**, enter the token URL of your OAuth provider server. This URL appears as
the `token_url` property in the `[auth.generic_oauth]` section of the Grafana configuration
file.

1. For **Api URL**, enter the API URL of your OAuth provider server. This URL appears as the
`api_url` property in the `[auth.generic_oauth]` section of the Grafana configuration file.

1. (Optional) For **Email Attribute Name**, enter the attribute name that contains the email
address of the user. For more information, see [Generic OAuth Authentication](https://grafana.com/docs/grafana/latest/auth/generic-oauth/)
in the Grafana documentation. This name appears as the `email_attribute_name` property in the
`[auth.generic_oauth]` section of the Grafana configuration file.

1. (Optional) For **Allowed Domains**, enter a comma-separated list of domains. Configuring
this field limits Grafana UI access to users who belong to one or more of the listed domains.
This list appears as the `allowed_domains` property in the `[auth.generic_oauth]` section of
the Grafana configuration file.

1. For **Hosted Domain**, enter the domain of your Grafana instance. This domain appears as
the `domain` property in the `[server]` section of the Grafana configuration file. You need
to configure this field if your OAuth provider requires a callback URL that uses the root URL
of your Grafana instance. If your OAuth provider does not require a callback URL, do not configure
this field.

1. (Optional) To allow new users to log in to the Grafana UI with their existing OAuth credentials,
enable the **Allow Sign Up** checkbox. This checkbox is enabled by default. Disabling this
checkbox prevents users without a pre-existing Grafana account from logging in to the Grafana
UI with their existing OAuth credentials. This checkbox appears as the `allow_sign_up` property
in the `[auth.generic_oauth]` section of the Grafana configuration file.

1. For **Team IDs**, enter a comma-separated list of teams. Configuring this field limits Grafana
UI access to users who belong to one or more of the listed teams. You need to configure this
field if your OAuth provider allows you to separate users into teams. If your OAuth provider
does not allow you to separate users into teams, do not configure this field. This list appears
as the `team_ids` property in the `[auth.generic_oauth]` section of the Grafana configuration
file.

1. For **Allowed Organizations**, enter a comma-separated list of orgs. Configuring this field
limits Grafana UI access to users who belong to one or more of the listed orgs. You need to
configure this field if your OAuth provider allows you to separate users into orgs. If your
OAuth provider does not allow you to separate users into orgs, do not configure this field.
This list appears as the `allowed_organizations` property in the `[auth.generic_oauth]` section
of the Grafana configuration file.

1. For **Allowed Groups**, enter a comma-separated list of groups. Configuring this field limits
Grafana UI access to users who belong to one or more of the listed groups. You need to configure
this field if your OAuth provider allows you to separate users into groups. If your OAuth provider
does not allow you to separate users into groups, do not configure this field. This list appears
as the `allowed_groups` property in the `[auth.generic_oauth]` section of the Grafana configuration
file.

1. (Optional) To configure TLS communication between the Grafana VM and your OAuth provider server:
  1. For **TLS Credentials**, provide at least one certificate and private key to enable TLS
  communication between the Grafana VM and your OAuth provider server. These certificates and
  private keys appear as the `tls_client_cert` and `tls_client_key` properties in the `[auth.generic_oauth]`
  section of the Grafana configuration file.
  1. For **TLS CA**, provide a certificate authority (CA) that signs the certificates you provide
  in the **TLS Credentials** field above. This CA appears as the `tls_client_ca` property in
  the `[auth.generic_oauth]` section of the Grafana configuration file.
  1. If you do not provide a self-signed CA or a certificate that is signed by a self-signed
  CA in the **TLS CA** field, enable the **Skip TLS Verification** checkbox to enable the Grafana
  VM skip SSL validation when connecting to your OAuth provider server. This checkbox is disabled
  by default. This checkbox appears as the `tls_skip_verify_insecure` property in the `[auth.generic_oauth]`
  section of the Grafana configuration file.
  1. To allow the Grafana VM to send user credentials to the OAuth provider server through
  a POST request, enable the **Send Client Credentials via POST** checkbox. This checkbox is
  disabled by default. This checkbox appears as the `send_client_credentials_via_post` property
  in the `[auth.generic_oauth]` section of the Grafana configuration file.
    <p class='note'><strong>Note:</strong> The <code>send_client_credentials_via_post</code>
      property is removed in Grafana v6.6 and later. If you are using Grafana v6.6 or later,
      leave the <strong>Send Client Credentials via POST</strong> checkbox disabled. For more
      information, see <a href="https://grafana.com/docs/grafana/latest/installation/upgrading/#upgrading-to-v66">Upgrading to v6.6</a>
      in <em>Upgrade Grafana</em> in the Grafana documentation.</p>

1. Click **Save**.


### <a id='configure-uaa'></a> Configure UAA Authentication

When you configure UAA authentication for Grafana, users can log in to the Grafana UI with
their credentials for the UAA instance of the runtime that is installed on the same foundation
as the Healthwatch tile, either VMware Tanzu Application Service for VMs (TAS for VMs) or Tanzu
Kubernetes Grid Integrated Edition (TKGI).

To configure UAA authentication for Grafana:

1. Create a new UAA client for the Grafana VM. For more information, see [Create a UAA Client
for the Grafana VM](#create-uaa-client) below.

1. Configure the `grafana` UAA client in the Healthwatch tile. For more information, see [Configure
the UAA Client in Healthwatch](#configure-client) below.

#### <a id='create-uaa-client'></a> Create a UAA Client for the Grafana VM

To facilitate UAA authentication, the Grafana VM must access the UAA instance for your runtime
through a UAA client.

To create a UAA client for the Grafana VM:

1. Navigate to the Ops Manager Installation Dashboard.

1. Click the **VMware Tanzu Application Service for VMs** or **Tanzu Kubernetes Grid Integrated
Edition** tile, depending on which runtime you have installed on your foundation.

1. Select the **Status** tab.

1. Record the **Uaa Login Client Credentials** and **Uaa Admin User Credentials**. For **Uaa
Login Client Credentials** and **Uaa Admin User Credentials**, click **Link to Credential**
to obtain the client secret.

1. Target the server for your TAS for VMs or TKGI UAA instance by running:

    ```
    uaac target uaa.UAA-DOMAIN
    ```
    Where `UAA-DOMAIN` is the domain of your UAA server.

1. Log in to the UAA instance by running:

    ```
    uaac token owner get login -s UAA-LOGIN-CLIENT-SECRET
    ```
    Where `UAA-LOGIN-CLIENT-SECRET` is the UAA login client secret you recorded from the **Status**
    tab in your runtime tile in a previous step.

1. When prompted, enter the UAA admin client username and secret you recorded from the **Status**
tab in your runtime tile in a previous step.

1. Create a UAA client for the Grafana VM by running:

    ```
    uaac client add grafana \
       --scope openid,healthwatch.admin,healthwatch.edit,healthwatch.read \
       --secret CLIENT-SECRET \
       --authorities uaa.resource \
       --authorized_grant_types authorization_code \
       --redirect_uri PROTOCOL://GRAFANA-ROOT-URL/login/generic_oauth
    ```
    Where:
    * `CLIENT-SECRET` is the client secret you want to set for the `grafana` UAA client.
    * `PROTOCOL` is either `http` or `https`, depending on the protocol you configured your
    Grafana VM to use in the **Grafana Configuration** pane.
    * `GRAFANA-ROOT-URL` is the root URL for your Grafana instance. If your Grafana VM uses
    HTTPS, include the port for your Grafana VM in `GRAFANA-ROOT-URL`. For example, `https://GRAFANA-ROOT-URL:443`.
    Your Grafana VM listens on either port `443` or `80`, depending on whether you provide
    an SSL certificate in the **Enable HTTPS by providing certificates** field in the **Grafana
    Configuration** pane of the Healthwatch tile.

#### <a id='configure-client'></a> Configure the UAA Client in Healthwatch

After you create a UAA client for the Grafana VM, you must configure it in the Healthwatch
tile.

To configure the UAA client for the Grafana VM in Healthwatch:

1. Navigate to the Ops Manager Installation Dashboard.

1. Click the **Healthwatch** tile.

1. Select **Grafana Configuration**.

1. Under **Select an authentication mechanism for Grafana**, select **UAA**.

1. For **Client ID**, enter `grafana`.

1. For **Client Secret**, enter the client secret you set for the `grafana` UAA client you
created in [Create a UAA Client for the Grafana VM](#create-uaa-client) above.

1. For **URL for UAA**, enter the root URL of your UAA server.

1. (Optional) To enable TLS communication between the Grafana VM and your UAA server, configure
one of the following options:
  * To configure the Grafana VM to use a self-signed CA or a certificate that is signed by
  a self-signed CA when communicating with your UAA server over TLS, provide the CA in **TLS
  CA**.
  * If you do not provide a self-signed CA or a certificate that is signed by a self-signed
  CA in the **TLS CA** field, enable the **Skip TLS Verification** checkbox to enable the Grafana
  VM to skip SSL validation when connecting to the UAA server. This checkbox is disabled by
  default.

1. Click **Save**.


### <a id='configure-ldap'></a> Configure LDAP Authentication

When you configure LDAP authentication for Grafana, users can log in to the Grafana UI with
their LDAP credentials. You can also create mappings between LDAP group memberships and Grafana
org user roles. For more information about configuring LDAP authentication, see [LDAP Authentication]
(https://grafana.com/docs/auth/ldap/) in the Grafana documentation.

To configure LDAP authentication for Grafana:

1. Navigate to the Ops Manager Installation Dashboard.

1. Click the **Healthwatch** tile.

1. Select **Grafana Configuration**.

1. Under **Select an authentication mechanism for Grafana**, select **LDAP**.

1. For **Host**, enter the network address of your LDAP server host. This network address appears
as the `host` property in the `[auth.ldap]` section of the Grafana configuration file.

1. (Optional) For **Port**, enter the port for your LDAP server host. The default port is `389`
when the **Use SSL** checkbox is disabled, or `636` when the **Use SSL** checkbox is enabled.
This port appears as the `port` property in the `[auth.ldap]` section of the Grafana configuration
file.

1. (Optional) To allow new users to log in to the Grafana UI with their existing LDAP credentials,
enable the **Allow sign up** checkbox. This checkbox is enabled by default. Disabling this
checkbox prevents users without a pre-existing Grafana account from logging in to the Grafana
UI with their existing LDAP credentials. This checkbox appears as the `allow_sign_up` property
in the `[auth.ldap]` section of the Grafana configuration file.

1. (Optional) To enable the LDAP server to communicate with the Grafana VM over TLS when authenticating
user credentials, enable the **Use SSL** checkbox. This checkbox is disabled by default. This
checkbox appears as the `use_ssl` property in the `[auth.ldap]` section of the Grafana configuration
file.

1. (Optional) To enable the LDAP server to run the STARTTLS command when communicating with
the Grafana VM over TLS, enable the **Start TLS** checkbox. This checkbox is disabled by default.
This checkbox appears as the `start_tls` property in the `[auth.ldap]` section of the Grafana
configuration file.

1. (Optional) To enable the Grafana VM to skip SSL validation when communicating with the LDAP
server over TLS, enable the **Skip SSL Verification** checkbox. This checkbox is disabled by
default. This checkbox appears as the `ssl_skip_verify` property in the `[auth.ldap]` section
of the Grafana configuration file.

1. (Optional) For **Bind DN**, enter the distinguished name (DN) for binding to the LDAP server.
For example, `"cn=admin,dc=grafana,dc=org"`. This DN appears as the `bind_dn` property in the
`[auth.ldap]` section of the Grafana configuration file.

1. (Optional) For **Bind password**, enter the password for binding to the LDAP server. For
example, `grafana`. This password appears as the `bind_password` property in the `[auth.ldap]`
section of the Grafana configuration file.

1. (Optional) For **User search filter**, enter a regex string that defines LDAP user search
criteria. For example, `"(cn=%s)"`. This string appears as the `search_filter` property in
the `[auth.ldap]` section of the Grafana configuration file.

1. (Optional) For **Search base DNS**, enter an array of base DNs in the LDAP directory tree
from which any LDAP user search begins. The typical LDAP search base matches your domain name.
For example, `"dc=grafana,dc=org"`. This array appears as the `search_base_dns` property in
the `[auth.ldap]` section of the Grafana configuration file.

1. (Optional) For **Group search filter**, enter a regex string that defines LDAP group search
criteria. For example, `"(&(objectClass=posixGroup)(memberUid=%s))"`. This string appears as
the `group_search_filter` property in the `[auth.ldap]` section of the Grafana configuration
file.

1. (Optional) For **Group search base DNS**, enter an array of base DNs in the LDAP directory
tree from which any LDAP group search begins. For example, `"ou=groups,dc=grafana,dc=org"`.
This array appears as the `group_search_base_dns` property in the `[auth.ldap]` section of
the Grafana configuration file.

1. (Optional) For **Group search filter user attribute**, enter a value that defines which
user attribute is substituted for `%s` in the regex string you entered for **Group search filter**.
You can use the value of any property under `[server.attributes]` in the `[auth.ldap]` section
of the Grafana configuration file. The default value is the value of the `username` property.
This value appears as the `group_search_filter_user_attribute` property in the `[auth.ldap]`
section of the Grafana configuration file.

1. (Optional) For **Server attributes**, enter in TOML format tables of the LDAP attributes
that your LDAP server uses. Each table must use the table name `[servers.attributes]`. These
tables appear under `[servers.attributes]` in the `[auth.ldap]` section of the Grafana configuration
file.

1. (Optional) For **Server group mappings**, enter in TOML format an array of tables of LDAP
groups mapped to a Grafana org and role. Each table must use the table name `[[servers.group_mappings]]`.
This array of tables appears under a `[[servers.group_mappings]]` heading in the `[auth.ldap]`
section of the Grafana configuration file. For more information, see [Group Mappings](https://grafana.com/docs/grafana/latest/auth/ldap/#group-mappings)
in _LDAP Authentication_ in the Grafana documentation.

1. (Optional) To configure TLS communication between the Grafana VM and your LDAP server:
  1. For **TLS Credentials**, provide at least one certificate and private key to enable TLS
  communication between the Grafana VM and your LDAP server. These certificates and private
  keys appear as the `client_cert` and `client_key` properties in the `[auth.ldap]` section
  of the Grafana configuration file.
  1. For **TLS CA**, provide a CA that signs the certificates you provide in the **TLS Credentials**
  field above. This CA appears as the `root_ca_cert` property in the `[auth.ldap]` section
  of the Grafana configuration file.

1. Click **Save**.
