---
title: BOSH Deployment Metric Exporter VM
owner: Healthwatch
---

<strong><%= modified_date %></strong>

## <a id='overview'></a> Overview

WHY ITS REQUIRED
In the **Bosh Deployments Exporter Configuration** pane, you configure the authentication credentials
and a static IP address for the BOSH deployment metric exporter VM. This VM periodically checks
to see if any BOSH deployments other than the one created by the BOSH health metric exporter
VM are running. For more information, see [Bosh Deployments Exporter (bosh-deployments-exporter)]
(metrics.html#bosh-deployments-exporter) in _Healthwatch Metrics_.


### <a id='bosh-deployments'></a> Configure the BOSH Deployment Metric Exporter VM

To configure the **Bosh Deployments Exporter Configuration** pane:

1. Select **Bosh Deployments Exporter Configuration**.

1. For **Bosh Client Username and Secret**, you must create a new UAA client to enable the
BOSH deployment metric exporter VM to access the BOSH Director VM.
    1. Navigate to the Ops Manager Installation Dashboard.
    1. Click the **BOSH Director** tile.
    1. Select the **Status** tab.
    1. Record the **BOSH Director IP Address**, **Uaa Login Client Credentials**, and **Uaa
    Admin User Credentials**. For **Uaa Login Client Credentials** and **Uaa Admin User Credentials**,
    click **Link to Credential** to obtain the client secret.
    1. SSH into the Ops Manager VM by following the procedure in [Log In to the Ops Manager
    VM with SSH](https://docs.pivotal.io/ops-manager/install/trouble-advanced.html#ssh) in
    _Advanced Troubleshooting with the BOSH CLI_ in the Ops Manager documentation.
    1. Target the UAA instance for the BOSH Director by running:

        ```
        uaac target https://BOSH-DIRECTOR-IP:8443 --skip-ssl-validation
        ```
        Where `BOSH-DIRECTOR-IP` is the IP address of your BOSH Director instance that you
        recorded from the **Status** tab in the BOSH Director tile in a previous step.
    1. Log in to the UAA instance by running:

        ```
        uaac token owner get login -s UAA-LOGIN-CLIENT-SECRET
        ```
        Where `UAA-LOGIN-CLIENT-SECRET` is the UAA login client secret you recorded from the
        **Status** tab in the BOSH Director tile in a previous step.
    1. When prompted, enter the UAA admin client username and secret you recorded in a previous
    step.
    1. Create a UAA client for the BOSH deployment metric exporter VM by running:

        ```
        uaac client add CLIENT-USERNAME \
          --secret CLIENT-SECRET \
          --authorized_grant_types client_credentials,refresh_token \
          --authorities bosh.read \
          --scope bosh.read
        ```
        Where:
        * `CLIENT-USERNAME` is the client username you want to set for the UAA client.
        * `CLIENT-SECRET` is the client secret you want to set for the UAA client.
    1. Return to the **Bosh Deployments Exporter Configuration** pane in the **Healthwatch
    Exporter for TAS for VMs** tile.
    1. Enter the username and secret for the UAA client you just created in **Bosh Client Username
    and Secret**.

1. For **Static IP for Bosh Deployments Exporter VM**, enter a valid static IP address that
you want to reserve for the BOSH deployment metric exporter VM. This IP address must not be
within the reserved IP ranges you configured in the BOSH Director tile.

1. Click **Save**.
