---
title: Configuration File Reference Guide
owner: Healthwatch
---

<strong><%= modified_date %></strong>

This topic describes the Healthwatch for VMware Tanzu component configuration file properties that you configure through the Healthwatch tile.


## <a id='overview'></a> Overview of Configuration Files in Healthwatch

The Prometheus, Alertmanager, and Grafana instances rely on configuration files. These configuration files contain lists of properties that define their
configuration settings. When you configure certain options in the Healthwatch tile, those options configure their corresponding properties in the
configuration files for those Healthwatch components.

Through the Healthwatch tile, you configure properties in the configuration files through the following panes:

* **Prometheus**. For more information, see [Configuring the the Prometheus Configuration File](#prometheus) below.

* **Alertmanager**. For more information, see [Configuring the Alertmanager Configuration File](#alertmanager) below.

* **Grafana**. For more information, see [Configuring the Grafana Configuration File](#grafana) below.


## <a id='prometheus'></a> Configuring the Prometheus Configuration File

You configure sections of the Prometheus configuration file through the following panes in the Healthwatch tile:

* **Prometheus**. For more information, see [Prometheus](#prometheus-config) below.

* **Remote Write**. For more information, see [Remote Write](#remote-write-config) below.

### <a id='prometheus-config'></a> Prometheus

The following table lists which configuration options in the **Prometheus** pane in the Healthwatch tile configure properties in the Prometheus configuration
file:

<table>
  <tr>
    <th width="28%">Healthwatch configuration option</th>
    <th width="34%">Configuration file property</th>
    <th width="37%">Configuration file section</th>
  </tr>
  <tr>
    <td><strong>Scrape interval</strong></td>
    <td><code>scrape_interval</code></td>
    <td><code>scrape_config</code></td>
  </tr>
  <tr>
    <td><strong>Scrape job configuration parameters</strong></td>
    <td>See <a href="configuring-healthwatch.html#prometheus">Configure Prometheus</a> in <em>Configuring Healthwatch</em> and the
      <a href="https://prometheus.io/docs/prometheus/latest/configuration/configuration/#scrape_config">Prometheus documentation</a>.</td>
    <td><code>scrape_config</code></td>
  <tr>
    <td><strong>Certificate and private key for TLS</strong></td>
    <td><code>cert_file</code>, <code>key_file</code></td>
    <td><code>scrape_config</code> - <code>tls_config</code></td>
  </tr>
  <tr>
    <td><strong>CA certificate for TLS</strong></td>
    <td><code>ca_file</code></td>
    <td><code>scrape_config</code> - <code>tls_config</code></td>
  </tr>
  <tr>
    <td><strong>Target server name</strong></td>
    <td><code>server_name</code></td>
    <td><code>scrape_config</code> - <code>tls_config</code></td>
  </tr>
  <tr>
    <td><strong>Skip TLS certificate verification</strong></td>
    <td><code>insecure_skip_verify</code></td>
    <td><code>scrape_config</code> - <code>tls_config</code></td>
  </tr>
</table>

For more information about configuring these properties, see [Configure Prometheus](configuring-healthwatch.html#prometheus) in _Configuring Healthwatch_ and
the [Prometheus documentation](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#scrape_config).

### <a id='remote-write-config'></a> Remote Write

The following table lists which configuration options in the **Remote Write** pane in the Healthwatch tile configure properties in the Prometheus
configuration file:

<table>
  <tr>
    <th width="28%">Healthwatch configuration option</th>
    <th width="34%">Configuration file property</th>
    <th width="37%">Configuration file section</th>
  </tr>
  <tr>
    <td><strong>Remote storage URL</strong></td>
    <td><code>url</code></td>
    <td><code>remote_write</code></td>
  </tr>
  <tr>
    <td><strong>Remote timeout</strong></td>
    <td><code>remote_timeout</code></td>
    <td><code>remote_write</code></td>
  </tr>
  <tr>
    <td><strong>Remote storage username</strong></td>
    <td><code>username</code></td>
    <td><code>remote_write</code> - <code>basic_auth</code></td>
  </tr>
  <tr>
    <td><strong>Remote storage password</strong></td>
    <td><code>password</td>
    <td><code>remote_write</code> - <code>basic_auth</code></td>
  </tr>
  <tr>
    <td><strong>Certificate and private key for TLS</strong></td>
    <td><code>cert_file</code>, <code>key_file</code></td>
    <td><code>remote_write</code> - <code>tls_config</code></td>
  </tr>
  <tr>
    <td><strong>CA certificate for TLS</strong></td>
    <td><code>ca_file</code></td>
    <td><code>remote_write</code> - <code>tls_config</code></td>
  </tr>
  <tr>
    <td><strong>Remote storage server name</strong></td>
    <td><code>server_name</code></td>
    <td><code>remote_write</code> - <code>tls_config</code></td>
  </tr>
  <tr>
    <td><strong>Skip TLS certificate verification</strong></td>
    <td><code>insecure_skip_verify</code></td>
    <td><code>remote_write</code> - <code>tls_config</code></td>
  </tr>
  <tr>
    <td><strong>Proxy URL</strong></td>
    <td><code>proxy_url</code></td>
    <td><code>remote_write</code></td>
  </tr>
  <tr>
    <td><strong>Queue capacity</strong></td>
    <td><code>capacity</code></td>
    <td><code>remote_write</code> - <code>queue_config</code></td>
  </tr>
  <tr>
    <td><strong>Minimum shards per queue</strong></td>
    <td><code>min_shards</code></td>
    <td><code>remote_write</code> - <code>queue_config</code></td>
  </tr>
  <tr>
    <td><strong>Maximum shards per queue</strong></td>
    <td><code>max_shards</code></td>
    <td><code>remote_write</code> - <code>queue_config</code></td>
  </tr>
  <tr>
    <td><strong>Maximum samples per send</strong></td>
    <td><code>max_samples_per_send</code></td>
    <td><code>remote_write</code> - <code>queue_config</code></td>
  </tr>
  <tr>
    <td><strong>Maximum batch wait time</strong></td>
    <td><code>batch_send_deadline</code></td>
    <td><code>remote_write</code> - <code>queue_config</code></td>
  </tr>
  <tr>
    <td><strong>Minimum backoff time</strong></td>
    <td><code>min_backoff</code></td>
    <td><code>remote_write</code> - <code>queue_config</code></td>
  </tr>
  <tr>
    <td><strong>Maximum backoff time</strong></td>
    <td><code>max_backoff</code></td>
    <td><code>remote_write</code> - <code>queue_config</code></td>
  </tr>
</table>

For more information about configuring these properties, see [Configure Remote Write](configuring-healthwatch.html#remote-write) in _Configuring Healthwatch_
and the [Prometheus documentation](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#remote_write).


## <a id='alertmanager'></a> Configuring the Alertmanager Configuration File

The following table lists which configuration options in the **Alertmanager** pane in the Healthwatch tile configure properties in the Alertmanager
configuration file:

<table>
  <tr>
    <th width="28%">Healthwatch configuration option</th>
    <th width="34%">Configuration file property</th>
    <th width="37%">Configuration file section</th>
  </tr>
  <tr>
    <td><strong>Routing rules</strong></td>
    <td>See <a href="optional-config/alerting.html#configure">Configure Alerting</a> in <em>Configuring Alerting</em> and the
      <a href="https://prometheus.io/docs/alerting/latest/configuration/">Prometheus documentation</a>.</td>
    <td><code>route</code></td>
  </tr>
  <tr>
    <td><strong>Inhibit rules</strong></td>
    <td>See <a href="optional-config/alerting.html#configure">Configure Alerting</a> in <em>Configuring Alerting</em> and the
      <a href="https://prometheus.io/docs/alerting/latest/configuration/">Prometheus documentation</a>.</td>
    <td><code>inhibit_rules</code></td>
  </tr>
  <tr>
    <td align="center" colspan="3"><strong>Email alert receivers</strong></td>
  </tr>
  <tr>
    <td><strong>Alert receiver name</strong></td>
    <td><code>name</code></td>
    <td><code>receivers</code></td>
  </tr>
  <tr>
    <td><strong>Alert receiver configuration parameters</strong></td>
    <td>See <a href="optional-config/alerting.html#email">Configure an Email Alert Receiver</a> in <em>Configuring Alerting</em> and the
      <a href="https://prometheus.io/docs/alerting/latest/configuration/#email_config">Prometheus documentation</a>.</td>
    <td><code>receivers</code> - <code>email_configs</code></td>
  </tr>
  <tr>
    <td><strong>SMTP server authentication password</strong></td>
    <td><code>auth_password</code></td>
    <td><code>receivers</code> - <code>email_configs</code></td>
  </tr>
  <tr>
    <td><strong>SMTP server authentication secret</strong></td>
    <td><code>auth_secret</code></td>
    <td><code>receivers</code> - <code>email_configs</code></td>
  </tr>
  <tr>
    <td><strong>Certificate and private key for TLS</strong></td>
    <td><code>cert_file</code>, <code>key_file</code></td>
    <td><code>receivers</code> - <code>email_configs</code> - <code>tls_config</code></td>
  </tr>
  <tr>
    <td><strong>CA certificate for TLS</strong></td>
    <td><code>ca_file</code></td>
    <td><code>receivers</code> - <code>email_configs</code> - <code>tls_config</code></td>
  </tr>
  <tr>
    <td><strong>SMTP server name</strong></td>
    <td><code>server_name</code></td>
    <td><code>receivers</code> - <code>email_configs</code> - <code>tls_config</code></td>
  </tr>
  <tr>
    <td><strong>Skip TLS certificate verification</strong></td>
    <td><code>insecure_skip_verify</code></td>
    <td><code>receivers</code> - <code>email_configs</code> - <code>tls_config</code></td>
  </tr>
  <tr>
    <td align="center" colspan="3"><strong>PagerDuty alert receivers</strong></td>
  </tr>
  <tr>
    <td><strong>Alert receiver name</strong></td>
    <td><code>name</code></td>
    <td><code>receivers</code></td>
  </tr>
  <tr>
    <td><strong>Alert receiver configuration parameters</strong></td>
    <td>See <a href="optional-config/alerting.html#pagerduty">Configure a PagerDuty Alert Receiver</a> in <em>Configuring Alerting</em> and the
      <a href="https://prometheus.io/docs/alerting/latest/configuration/#pagerduty_config">Prometheus documentation</a>.</td>
    <td><code>receivers</code> - <code>pagerduty_configs</code></td>
  </tr>
  <tr>
    <td><strong>Routing key</strong></td>
    <td><code>routing_key</code></td>
    <td><code>receivers</code> - <code>pagerduty_configs</code></td>
  </tr>
  <tr>
    <td><strong>Service key</strong></td>
    <td><code>service_key</code></td>
    <td><code>receivers</code> - <code>pagerduty_configs</code></td>
  </tr>
  <tr>
    <td><strong>Basic authentication credentials</strong></td>
    <td><code>username</code>, <code>password</code></td>
    <td><code>receivers</code> - <code>pagerduty_configs</code> - <code>http_config</code> - <code>basic_auth</code></td>
  </tr>
  <tr>
    <td><strong>Bearer token</strong></td>
    <td><code>credentials</code></td>
    <td><code>receivers</code> - <code>pagerduty_configs</code> - <code>http_config</code> - <code>authorization</code></td>
  </tr>
  <tr>
    <td><strong>Certificate and private key for TLS</strong></td>
    <td><code>cert_file</code>, <code>key_file</code></td>
    <td><code>receivers</code> - <code>pagerduty_configs</code> - <code>http_config</code> - <code>tls_config</code></td>
  </tr>
  <tr>
    <td><strong>CA certificate for TLS</strong></td>
    <td><code>ca_file</code></td>
    <td><code>receivers</code> - <code>pagerduty_configs</code> - <code>http_config</code> - <code>tls_config</code></td>
  </tr>
  <tr>
    <td><strong>PagerDuty server name</strong></td>
    <td><code>server_name</code></td>
    <td><code>receivers</code> - <code>pagerduty_configs</code> - <code>http_config</code> - <code>tls_config</code></td>
  </tr>
  <tr>
    <td><strong>Skip TLS certificate verification</strong></td>
    <td><code>insecure_skip_verify</code></td>
    <td><code>receivers</code> - <code>pagerduty_configs</code> - <code>http_config</code> - <code>tls_config</code></td>
  </tr>
  <tr>
    <td align="center" colspan="3"><strong>Slack alert receivers</strong></td>
  </tr>
  <tr>
    <td><strong>Alert receiver name</strong></td>
    <td><code>name</code></td>
    <td><code>receivers</code></td>
  </tr>
  <tr>
    <td><strong>Alert receiver configuration parameters</strong></td>
    <td>See <a href="optional-config/alerting.html#slack">Configure a Slack Alert Receiver</a> in <em>Configuring Alerting</em> and the
      <a href="https://prometheus.io/docs/alerting/latest/configuration/#slack_config">Prometheus documentation</a>.</td>
    <td><code>receivers</code> - <code>slack_configs</code></td>
  </tr>
  <tr>
    <td><strong>Slack API URL</strong></td>
    <td><code>api_url</code></td>
    <td><code>receivers</code> - <code>slack_configs</code></td>
  </tr>
  <tr>
    <td><strong>Basic authentication credentials</strong></td>
    <td><code>username</code>, <code>password</code></td>
    <td><code>receivers</code> - <code>slack_configs</code> - <code>http_config</code> - <code>basic_auth</code></td>
  </tr>
  <tr>
    <td><strong>Bearer token</strong></td>
    <td><code>credentials</code></td>
    <td><code>receivers</code> - <code>slack_configs</code> - <code>http_config</code> - <code>authorization</code></td>
  </tr>
  <tr>
    <td><strong>Certificate and private key for TLS</strong></td>
    <td><code>cert_file</code>, <code>key_file</code></td>
    <td><code>receivers</code> - <code>slack_configs</code> - <code>http_config</code> - <code>tls_config</code></td>
  </tr>
  <tr>
    <td><strong>CA certificate for TLS</strong></td>
    <td><code>ca_file</code></td>
    <td><code>receivers</code> - <code>slack_configs</code> - <code>http_config</code> - <code>tls_config</code></td>
  </tr>
  <tr>
    <td><strong>Slack server name</strong></td>
    <td><code>server_name</code></td>
    <td><code>receivers</code> - <code>slack_configs</code> - <code>http_config</code> - <code>tls_config</code></td>
  </tr>
  <tr>
    <td><strong>Skip TLS certificate verification</strong></td>
    <td><code>insecure_skip_verify</code></td>
    <td><code>receivers</code> - <code>slack_configs</code> - <code>http_config</code> - <code>tls_config</code></td>
  </tr>
  <tr>
    <td align="center" colspan="3"><strong>Webhook alert receivers</strong></td>
  </tr>
  <tr>
    <td><strong>Alert receiver name</strong></td>
    <td><code>name</code></td>
    <td><code>receivers</code></td>
  </tr>
  <tr>
    <td><strong>Alert receiver configuration parameters</strong></td>
    <td>See <a href="optional-config/alerting.html#webhook">Configure a Webhook Alert Receiver</a> in <em>Configuring Alerting</em> and the
      <a href="https://prometheus.io/docs/alerting/latest/configuration/#webhook_config">Prometheus documentation</a>.</td>
    <td><code>receivers</code> - <code>webhook_configs</code></td>
  </tr>
  <tr>
    <td><strong>Basic authentication credentials</strong></td>
    <td><code>username</code>, <code>password</code></td>
    <td><code>receivers</code> - <code>webhook_configs</code> - <code>http_config</code> - <code>basic_auth</code></td>
  </tr>
  <tr>
    <td><strong>Bearer token</strong></td>
    <td><code>credentials</code></td>
    <td><code>receivers</code> - <code>webhook_configs</code> - <code>http_config</code> - <code>authorization</code></td>
  </tr>
  <tr>
    <td><strong>Certificate and private key for TLS</strong></td>
    <td><code>cert_file</code>, <code>key_file</code></td>
    <td><code>receivers</code> - <code>webhook_configs</code> - <code>http_config</code> - <code>tls_config</code></td>
  </tr>
  <tr>
    <td><strong>CA certificate for TLS</strong></td>
    <td><code>ca_file</code></td>
    <td><code>receivers</code> - <code>webhook_configs</code> - <code>http_config</code> - <code>tls_config</code></td>
  </tr>
  <tr>
    <td><strong>Webhook server name</strong></td>
    <td><code>server_name</code></td>
    <td><code>receivers</code> - <code>webhook_configs</code> - <code>http_config</code> - <code>tls_config</code></td>
  </tr>
  <tr>
    <td><strong>Skip TLS certificate verification</strong></td>
    <td><code>insecure_skip_verify</code></td>
    <td><code>receivers</code> - <code>webhook_configs</code> - <code>http_config</code> - <code>tls_config</code></td>
  </tr>
</table>

For more information about configuring these properties, see [Configuring Alerting](optional-config/alerting.html) and the [Prometheus
documentation](https://prometheus.io/docs/alerting/latest/configuration/).


## <a id='grafana'></a> Configuring the Grafana Configuration File

The following table lists which configuration options in the **Grafana** pane in the Healthwatch tile configure properties in the Grafana configuration file:

<table cellpadding="0" cellspacing="0">
  <tr>
    <th width="28%">Healthwatch configuration option</th>
    <th width="34%">Configuration file property</th>
    <th width="37%">Configuration file section</th>
  </tr>
  <tr>
    <td><strong>Grafana root URL</strong></td>
    <td><code>root_url</code></td>
    <td><code>[server]</code></td>
  </tr>
  <tr>
    <td><strong>Basic authentication</strong></td>
    <td><code>enabled</code></td>
    <td><code>[auth.basic]</code></td>
  </tr>
  <tr>
    <td align="center" colspan="3"><strong>Generic OAuth</strong></td>
  </tr>
  <tr>
    <td><strong>Provider name</strong></td>
    <td><code>name</code></td>
    <td><code>[auth.generic_oauth]</code></td>
  </tr>
  <tr>
    <td><strong>Client ID</strong></td>
    <td><code>client_id</code></td>
    <td><code>[auth.generic_oauth]</code></td>
  </tr>
  <tr>
    <td><strong>Client secret</strong></td>
    <td><code>client_secret</code></td>
    <td><code>[auth.generic_oauth]</code></td>
  </tr>
  <tr>
    <td><strong>Scopes</strong></td>
    <td><code>scopes</code></td>
    <td><code>[auth.generic_oauth]</code></td>
  </tr>
  <tr>
    <td><strong>Authorization URL</strong></td>
    <td><code>auth_url</code></td>
    <td><code>[auth.generic_oauth]</code></td>
  </tr>
  <tr>
    <td><strong>Token URL</strong></td>
    <td><code>token_url</code></td>
    <td><code>[auth.generic_oauth]</code></td>
  </tr>
  <tr>
    <td><strong>API URL</strong></td>
    <td><code>api_url</code></td>
    <td><code>[auth.generic_oauth]</code></td>
  </tr>
  <tr>
    <td><strong>Email attribute</strong></td>
    <td><code>email_attribute_name</code></td>
    <td><code>[auth.generic_oauth]</code></td>
  </tr>
  <tr>
    <td><strong>Grafana domain</strong></td>
    <td><code>domain</code></td>
    <td><code>[server]</code></td>
  </tr>
  <tr>
    <td><strong>Allow new accounts with existing OAuth credentials</strong></td>
    <td><code>allow_sign_up</code></td>
    <td><code>[auth.generic_oauth]</code></td>
  </tr>
  <tr>
    <td><strong>Allowed domains</strong></td>
    <td><code>allowed_domains</code></td>
    <td><code>[auth.generic_oauth]</code></td>
  </tr>
  <tr>
    <td><strong>Allowed teams</strong></td>
    <td><code>teams_ids</code></td>
    <td><code>[auth.generic_oauth]</code></td>
  </tr>
  <tr>
    <td><strong>Allowed organizations</strong></td>
    <td><code>allowed_organization</code></td>
    <td><code>[auth.generic_oauth]</code></td>
  </tr>
  <tr>
    <td><strong>Allowed groups</strong></td>
    <td><code>allowed_group</code></td>
    <td><code>[auth.generic_oauth]</code></td>
  </tr>
  <tr>
    <td><strong>Certificate and private key for TLS</strong></td>
    <td><code>tls_client_cert</code>, <code>tls_client_key</code></td>
    <td><code>[auth.generic_oauth]</code></td>
  </tr>
  <tr>
    <td><strong>CA certificate for TLS</strong></td>
    <td><code>tls_client_ca</code></td>
    <td><code>[auth.generic_oauth]</code></td>
  </tr>
  <tr>
    <td><strong>Skip TLS certificate verification</strong></td>
    <td><code>tls_skip_verify_insecure</code></td>
    <td><code>[auth.generic_oauth]</code></td>
  </tr>
  <tr>
    <td align="center" colspan="3"><strong>UAA</strong></td>
  </tr>
  <tr>
    <td><strong>Client ID</strong></td>
    <td><code>client_id</code></td>
    <td><code>[auth.generic_oauth]</code></td>
  </tr>
  <tr>
    <td><strong>Client secret</strong></td>
    <td><code>client_secret</code></td>
    <td><code>[auth.generic_oauth]</code></td>
  </tr>
  <tr>
    <td><strong>UAA server root URL</strong></td>
    <td><code>auth_url</code>, <code>token_url</code></td>
    <td><code>[auth.generic_oauth]</code></td>
  </tr>
  <tr>
    <td><strong>CA certificate for TLS</strong></td>
    <td><code>tls_client_ca</code></td>
    <td><code>[auth.generic_oauth]</code></td>
  </tr>
  <tr>
    <td><strong>Skip TLS certificate verification</strong></td>
    <td><code>tls_skip_verify_insecure</code></td>
    <td><code>[auth.generic_oauth]</code></td>
  </tr>
  <tr>
    <td align="center" colspan="3"><strong>LDAP</strong></td>
  </tr>
  <tr>
    <td><strong>Host address</strong></td>
    <td><code>host</code></td>
    <td><code>[auth.ldap]</code></td>
  </tr>
  <tr>
    <td><strong>Port</strong></td>
    <td><code>port</code></td>
    <td><code>[auth.ldap]</code></td>
  </tr>
  <tr>
    <td><strong>Allow new accounts with existing LDAP credentials</strong></td>
    <td><code>allow_sign_up</code></td>
    <td><code>[auth.ldap]</code></td>
  </tr>
  <tr>
    <td><strong>Use SSL</strong></td>
    <td><code>use_ssl</code></td>
    <td><code>[auth.ldap]</code></td>
  </tr>
  <tr>
    <td><strong>Use STARTTLS</strong></td>
    <td><code>start_tls</code></td>
    <td><code>[auth.ldap]</code></td>
  </tr>
  <tr>
    <td><strong>Skip TLS certificate verification</strong></td>
    <td><code>tls_skip_verify_insecure</code></td>
    <td><code>[auth.ldap]</code></td>
  </tr>
  <tr>
    <td><strong>Bind DN</strong></td>
    <td><code>bind_dn</code></td>
    <td><code>[auth.ldap]</code></td>
  </tr>
  <tr>
    <td><strong>Bind password</strong></td>
    <td><code>bind_password</code></td>
    <td><code>[auth.ldap]</code></td>
  </tr>
  <tr>
    <td><strong>User search filter</strong></td>
    <td><code>search_filter</code></td>
    <td><code>[auth.ldap]</code></td>
  </tr>
  <tr>
    <td><strong>Search base DNs</strong></td>
    <td><code>search_base_dns</code></td>
    <td><code>[auth.ldap]</code></td>
  </tr>
  <tr>
    <td><strong>Group search filter</strong></td>
    <td><code>group_search_filter</code></td>
    <td><code>[auth.ldap]</code></td>
  </tr>
  <tr>
    <td><strong>Group search base DNs</strong></td>
    <td><code>group_search_base_dns</code></td>
    <td><code>[auth.ldap]</code></td>
  </tr>
  <tr>
    <td><strong>Group search filter user attribute</strong></td>
    <td><code>group_search_filter_user_attribute</code></td>
    <td><code>[auth.ldap]</code></td>
  </tr>
  <tr>
    <td><strong>Server attributes</strong></td>
    <td><code>[servers.attributes]</code></td>
    <td><code>[auth.ldap]</code></td>
  </tr>
  <tr>
    <td><strong>Server group mappings</strong></td>
    <td><code>[[servers.group_mappings]]</code></td>
    <td><code>[auth.ldap]</code></td>
  </tr>
  <tr>
    <td><strong>Certificate and private key for TLS</strong></td>
    <td><code>client_cert</code>, <code>client_key</code></td>
    <td><code>[auth.ldap]</code></td>
  </tr>
  <tr>
    <td><strong>CA certificate for TLS</strong></td>
    <td><code>root_ca_cert</code></td>
    <td><code>[auth.ldap]</code></td>
  </tr>
  <tr>
    <td align="center" colspan="3"><strong>Email alerts</strong></td>
  </tr>
  <tr>
    <td><strong>Configure</strong> / <strong>Do not configure</strong></td>
    <td><code>enabled</code></td>
    <td><code>[smtp]</code></td>
  </tr>
  <tr>
    <td><strong>SMTP server host name</strong></td>
    <td><code>host</code></td>
    <td><code>[smtp]</code></td>
  </tr>
  <tr>
    <td><strong>SMTP server port</strong></td>
    <td><code>port</code></td>
    <td><code>[smtp]</code></td>
  </tr>
  <tr>
    <td><strong>SMTP server username</strong></td>
    <td><code>user</code></td>
    <td><code>[smtp]</code></td>
  </tr>
  <tr>
    <td><strong>SMTP server password</strong></td>
    <td><code>password</code></td>
    <td><code>[smtp]</code></td>
  </tr>
  <tr>
    <td><strong>Skip TLS certificate verification</strong></td>
    <td><code>skip_verify</code></td>
    <td><code>[smtp]</code></td>
  </tr>
  <tr>
    <td><strong>From address</strong></td>
    <td><code>from_address</code></td>
    <td><code>[smtp]</code></td>
  </tr>
  <tr>
    <td><strong>From name</strong></td>
    <td><code>from_name</code></td>
    <td><code>[smtp]</code></td>
  </tr>
  <tr>
    <td><strong>EHLO client ID</strong></td>
    <td><code>ehlo_identity</code></td>
    <td><code>[smtp]</code></td>
  </tr>
  <tr>
    <td><strong>Certificate and private key for TLS</strong></td>
    <td><code>cert_file</code>, <code>key_file</code></td>
    <td><code>[smtp]</code></td>
  </tr>
</table>

For more information about configuring these properties, see [Configure Grafana](configuring-healthwatch.html#grafana) in _Configuring Healthwatch_,
[Configuring Grafana Authentication](grafana-authentication.html), and the [Grafana
documentation](https://grafana.com/docs/grafana/latest/administration/configuration/).
