---
title: Configuring Multi-Foundation Monitoring
owner: Healthwatch
---

<strong><%= modified_date %></strong>

This topic describes how to configure Healthwatch for VMware Tanzu to monitor multiple Ops Manager foundations.


## <a id='overview'></a> Overview of Multi-Foundation Monitoring

You can monitor several Ops Manager foundations that have VMware Tanzu Application Service for VMs (TAS for VMs) or VMware Tanzu Kubernetes Grid Integrated
Edition (TKGI) installed from a Healthwatch tile that you install on a separate Ops Manager foundation.

To configure multi-foundation monitoring, see the section for your runtime below:

* [Configure Multi-Foundation Monitoring for TAS for VMs](#multiple-tas-foundations)

* [Configure Multi-Foundation Monitoring for TKGI](#multiple-tkgi-foundations)


## <a id='multiple-tas-foundations'></a> Configure Multi-Foundation Monitoring for TAS for VMs

To configure your Healthwatch deployment to monitor TAS for VMs deployments on multiple Ops Manager foundations from a single monitoring Ops Manager
foundation:

1. Install and configure the Healthwatch tile on your monitoring Ops Manager foundation. To install and configure the Healthwatch tile, see the following
topics:
    * [Installing a Tile Manually](../installing/installing-manually.html) or [Installing, Configuring, and Deploying a Tile Through an Automated
    Pipeline](../installing/automated-pipeline.html)
    * [Configuring Healthwatch](configuring-healthwatch.html)

1. Install and configure Healthwatch Exporter for TAS for VMs on each Ops Manager foundation you want to monitor. To install and configure Healthwatch
Exporter for TAS for VMs, see the following topics:
    * [Installing a Tile Manually](../installing/installing-manually.html) or [Installing, Configuring, and Deploying a Tile Through an Automated
    Pipeline](../installing/automated-pipeline.html)
    * [Configuring Healthwatch Exporter for TAS for VMs](configuring-exporter-tas.html)

1. For each installation of Healthwatch Exporter for TAS for VMs, open the ports for the metric exporter VMs that Healthwatch Exporter for TAS for VMs
deploys. For more information about the ports you must open for each metric exporter VM, see [Networking Rules for Healthwatch Exporter for TAS for
VMs](#network-rules-tas) above.

1. Once you have installed Healthwatch Exporter for TAS for VMs and opened the required ports on each Ops Manager foundation you want to monitor, add a scrape
job for each Healthwatch Exporter for TAS for VMs tile in the **Prometheus** pane of the Healthwatch tile that you installed on your monitoring Ops Manager
foundation. To add a scrape job for a Healthwatch Exporter TAS for VMs tile:
  1. Retrieve the Ops Manager root certificate authority (CA) for the Ops Manager foundation you want to monitor. For more information, see the [Ops Manager
  documentation](https://docs.pivotal.io/ops-manager/security/pcf-infrastructure/managing-certificates.html#root-certs).
  1. Nagivate to the Ops Manager Installation Dashboard for the Ops Manager foundation you want to monitor.
  1. Click the **Healthwatch Exporter for Tanzu Application Service** tile.
  1. Select the **Credentials** tab.
  1. In the row for **Healthwatch Exporter Client Mtls**, click **Link to Credential**.
  1. Record the credentials for **Healthwatch Exporter Client Mtls**.
  1. In a browser window, navigate to the user console for your Ops Manager deployment's IaaS.
  1. In the console for your Ops Manager deployment's IaaS, record the the internal IP addresses of the counter metric exporter VM and the gauge metric
  exporter VM for the Healthwatch Exporter for TAS for VMs deployment on your monitoring Ops Manager foundation. For more information, see the documentation
  for your IaaS.
    <p class='note'><strong>Note:</strong> VMs deployed on one Ops Manager foundation typically cannot send or receive traffic from other Ops Manager
      foundations using their internal IP addresses by default. You must manually open a network path between the Prometheus instance on your monitoring Ops
      Manager foundation and the metric exporter VMs on Ops Manager foundations you want to monitor.</p>
  1. Navigate to the Ops Manager Installation Dashboard on your monitoring Ops Manager foundation.
  1. Click the **Healthwatch** tile.
  1. Select **Prometheus**.
  1. Under **Additional scrape jobs**, click **Add**.
  1. For **Scrape job configuration parameters**, provide the configuration YAML for the scrape job for Healthwatch Exporter for TAS for VMs, similar to the
  following example:

        ```
        job_name: FOUNDATION-NAME
        metrics_path: /metrics
        scheme: https
        static_configs:
          - targets:
            - "GAUGE-EXPORTER-VM-IP-ADDRESS:9090"
            - "COUNTER-EXPORTER-VM-IP-ADDRESS:9090"
        ```
        Where:
        * `FOUNDATION-NAME` is the name of the Ops Manager foundation you want to monitor.
        * `GAUGE-EXPORTER-VM-IP-ADDRESS` is the IP address of the gauge metric exporter VM that you recorded in a previous step.
        * `COUNTER-EXPORTER-VM-IP-ADDRESS` is the IP address of the counter metric exporter VM that you recorded in a previous step.
  1. For **Certificate and private key for TLS**, enter the certificate and private key from **Healthwatch Exporter Client Mtls** that you recorded from the
  **Credentials** tab in the Healthwatch Exporter for TAS for VMs tile in a previous step.
  1. For **CA certificate for TLS**, enter the Ops Manager root CA that you retrieved in a previous step.
  1. For **Target server name**, enter the name of the server that facilitates TLS communication between the Prometheus instance in the Healthwatch tile and
  the metric exporter VMs that Healthwatch Exporter for TAS for VMs deploys.


## <a id='multiple-tkgi-foundations'></a> Configure Multi-Foundation Monitoring for TKGI

When you install the Healthwatch tile on an Ops Manager foundation that has TKGI installed, you can configure the Prometheus instance to detect on-demand
Kubernetes clusters created through the TKGI API and create scrape jobs for them.

The Prometheus instance in a Healthwatch deployment can only detect Kubernetes clusters for TKGI deployments on the same Ops Manager foundation. For a
Healthwatch deployment on one Ops Manager foundation to receive metrics for Kubernetes clusters created through TKGI deployments on other Ops Manager
foundations, you must configure the Healthwatch Exporter for TKGI deployment on those Ops Manager foundations to federate metrics to the Prometheus instance
in the Healthwatch deployment on the Ops Manager foundation you use to monitor the other Ops Manager foundations. If you do not configure federation for TKGI
deployments on the Ops Manager foundations you want to monitor, the Healthwatch Exporter for TKGI deployments on those Ops Manager foundations can only send
component metrics and SLIs related to the health of those TKGI deployments.

To configure your Healthwatch deployment to monitor TKGI deployments on multiple Ops Manager foundations from a single monitoring Ops Manager foundation:

1. Install and configure the Healthwatch and Healthwatch Exporter for TKGI tiles on each Ops Manager foundation you want to monitor. To install and configure
the Healthwatch and Healthwatch Exporter for TKGI tiles, see the following topics:
    * [Installing a Tile Manually](../installing/installing-manually.html) or [Installing, Configuring, and Deploying a Tile Through an Automated
    Pipeline](../installing/automated-pipeline.html)
    * [Configuring Healthwatch](configuring-healthwatch.html)
    * [Configuring Healthwatch Exporter for TKGI](configuring-exporter-tkgi.html)

1. Install and configure the Healthwatch tile on your monitoring Ops Manager foundation. To install and configure the Healthwatch tile, see the following
topics:
    * [Installing a Tile Manually](../installing/installing-manually.html) or [Installing, Configuring, and Deploying a Tile Through an Automated
    Pipeline](../installing/automated-pipeline.html)
    * [Configuring Healthwatch](configuring-healthwatch.html)
    * [Configuring Healthwatch Exporter for TKGI](configuring-exporter-tkgi.html)

1. Configure TKGI cluster discovery in the Healthwatch tile on each Ops Manager foundation you want to monitor. Do not configure TKGI cluster discovery in the
Healthwatch tile on your monitoring foundation. To configure TKGI cluster discovery on the Ops Manager foundations you want to monitor, see [Configuring TKGI
Cluster Discovery](optional-config/configuring-cluster-discovery.html).

1. Configure the Healthwatch tile on your monitoring Ops Manager foundation to federate metrics from the Healthwatch tiles installed on the Ops Manager
foundations you want to monitor. To configure federation, see [Configuring Federation for Healthwatch](optional-config/federation.html).
