---
title: Configuring Multi-Foundation Monitoring
owner: Healthwatch
---

<strong><%= modified_date %></strong>

This topic describes how to configure Healthwatch for VMware Tanzu to monitor multiple Ops Manager foundations.


## <a id='overview'></a> Overview of Multi-Foundation Monitoring

You can monitor several Ops Manager foundations that have VMware Tanzu Application Service for VMs (TAS for VMs) or VMware Tanzu Kubernetes Grid Integrated
Edition (TKGI) installed from a Healthwatch tile that you install on a separate Ops Manager foundation.

There are two ways to monitor several Ops Manager foundations from a separate Ops Manager foundation:

1. Directly scraping the metric endpoints on the Healthwatch exporter VMs.
  * Only requires the `Healthwatch Exporter for TAS` or the `Healthwatch Exporter for TKGI` to be installed on the sub-foundation.
    * TKGI cluster metrics requires federation
  * Easy to scrape all metrics from a specific exporter.
  * All scraped metrics can have a label added to them to specify which foundation they came from.
  * Prometheus performance will degrade as additional foundations are monitored due to the overwhelming number of scraped metrics.

1. Federating metrics from the Prometheus instances running on the Ops Manager foundations that will be monitored.
  * Required for monitoring `TKGI` clusters as the `Healthwatch` tile dynamically generates scrape configs for Kubernetes clusters.
  * Allows for specific metrics to be filtered for efficient scrapes.
  * Scrapes a single endpoint which reduces firewall and network complexity.
  * All federated metrics can have a label added to them to specify which foundation they came from.
  * Recommended to not federate all metrics from a foundation as Prometheus performance will degrade due to the overwhelming number of scraped metrics.

To configure multi-foundation monitoring, see the section for your runtime below:

* [Configure Multi-Foundation Monitoring Using Direct Scraping](#multiple-foundations-direct-scrape)

* [Configure Multi-Foundation Monitoring Using Federation](#multiple-foundations-federation)


## <a id='multiple-foundations-direct-scrape'></a> Configure Multi-Foundation Monitoring Using Direct Scraping

The following is an example of how to configure your Healthwatch deployment to monitor multiple Ops Manager foundations
from a single monitoring Ops Manager foundation using direct scrapes. This example references monitoring TAS for VMs
foundations, but the steps can be applied to monitoring downstream TKGI foundations.

1. Install and configure the Healthwatch tile on the monitoring Ops Manager foundation. To install and configure the Healthwatch tile,
see the following topics:
  * [Installing a Tile Manually](../installing/installing-manually.html) or [Installing, Configuring, and Deploying a Tile Through an Automated
  Pipeline](../installing/automated-pipeline.html)
  * [Configuring Healthwatch](configuring-healthwatch.html)

1. Install and configure Healthwatch Exporter for TAS for VMs on each Ops Manager foundation you want to monitor. To install and configure Healthwatch
Exporter for TAS for VMs, see the following topics:
  * [Installing a Tile Manually](../installing/installing-manually.html) or [Installing, Configuring, and Deploying a Tile Through an Automated
  Pipeline](../installing/automated-pipeline.html)
  * [Configuring Healthwatch Exporter for TAS for VMs](configuring-exporter-tas.html)

1. For each installation of Healthwatch Exporter for TAS for VMs, open the ports in your IAAS for the metric exporter VMs that Healthwatch Exporter for TAS for VMs
deploys. For more information about the ports you must open for each metric exporter VM, see [Networking Rules for Healthwatch Exporter for TAS for
VMs](#network-rules-tas) above.

1. Add a scrape job for each Healthwatch Exporter for TAS for VMs tile in the **Prometheus** pane of the Healthwatch tile that you installed on your
monitoring Ops Manager foundation. To add a scrape job for a Healthwatch Exporter TAS for VMs tile:
  1. Retrieve the Ops Manager root certificate authority (CA) for the foundation you want to monitor. For more information, see the [Ops Manager
  documentation](https://docs.pivotal.io/ops-manager/security/pcf-infrastructure/managing-certificates.html#root-certs).
  1. Navigate to the Ops Manager Installation Dashboard for the foundation you want to monitor.
  1. Click the **Healthwatch Exporter for Tanzu Application Service** tile.
  1. Select the **Credentials** tab.
  1. In the row for **Healthwatch Exporter Client Mtls**, click **Link to Credential**.
  1. Record the credentials for **Healthwatch Exporter Client Mtls**.
  1. Record the following IP addresses (this differs based on IAAS):
    * Record the IP address of the Counter Metric Exporter VM that is reachable from the monitoring Ops Manager foundation.
    * Record the IP address of the Gauge Metric Exporter VM that is reachable from the monitoring Ops Manager foundation.
    * Record the IP address of the Timer Metric Exporter VM that is reachable from the monitoring Ops Manager foundation.
    * **NOTE** Typically, internal BOSH IP addresses are not addressable across foundations. This network configuration will need to
      be done manually in order to ensure an open network path between the monitoring Ops Manager foundation and the downstream exporter VMs.
  1. Navigate to the Healthwatch tile installed on your monitoring Ops Manager foundation.
  1. Select **Prometheus**.
  1. Under **Additional scrape jobs**, click **Add**.
  1. For **Scrape job configuration parameters**, provide the configuration YAML for the scrape job for Healthwatch Exporter for TAS for VMs, similar to the
  following example:

        ```
        job_name: FOUNDATION-NAME
        metrics_path: /metrics
        scheme: https
        static_configs:
          - targets:
            - "GAUGE-EXPORTER-VM-IP-ADDRESS:9090"
            - "COUNTER-EXPORTER-VM-IP-ADDRESS:9090"
            - "TIMER-EXPORTER-VM-IP-ADDRESS:9090"
        ```
        Where:
        * `FOUNDATION-NAME` is the name of the foundation you want to monitor.
        * `GAUGE-EXPORTER-VM-IP-ADDRESS` is the IP address of the gauge metric exporter VM that you recorded in a previous step.
        * `COUNTER-EXPORTER-VM-IP-ADDRESS` is the IP address of the counter metric exporter VM that you recorded in a previous step.
        * `TIMER-EXPORTER-VM-IP-ADDRESS` is the IP address of the timer metric exporter VM that you recorded in a previous step.
  1. For **Certificate and private key for TLS**, enter the certificate and private key from **Healthwatch Exporter Client Mtls** that you recorded from the
  **Credentials** tab in the Healthwatch Exporter for TAS for VMs tile in a previous step.
  1. For **CA certificate for TLS**, enter the Ops Manager root CA that you retrieved in a previous step.
  1. For **Target server name**, enter the name of the server that facilitates TLS communication between the Prometheus instance in the Healthwatch tile and
  the metric exporter VMs that Healthwatch Exporter for TAS for VMs deploys.


## <a id='multiple-foundations-federation'></a> Configure Multi-Foundation Monitoring Using Federation

The following is an example of how to configure your Healthwatch deployment to monitor multiple Ops Manager foundations
from a single monitoring Ops Manager foundation using federation. This example references monitoring TKGI foundations,
but the steps can be applied to monitoring downstream TAS for VMs foundations.

The Healthwatch tile running on a TKGI Ops Manager foundation is able to dynamically find clusters and generate scrape configs for the cluster metrics.
As a result, internal Kubernetes metrics can only be retrieved from a downstream TSDB VM through federation. The Healthwatch TKGI exporters simply provide
supporting metrics for that foundation.

To configure your monitoring Ops Manager foundation to monitor downstream TKGI foundations:

1. Install and configure the Healthwatch and Healthwatch Exporter for TKGI tiles on each foundation you want to monitor. To install and configure the
Healthwatch and Healthwatch Exporter for TKGI tiles, see the following topics:
  * [Installing a Tile Manually](../installing/installing-manually.html) or [Installing, Configuring, and Deploying a Tile Through an Automated
  Pipeline](../installing/automated-pipeline.html)
  * [Configuring Healthwatch](configuring-healthwatch.html)
  * [Configuring Healthwatch Exporter for TKGI](configuring-exporter-tkgi.html)

1. Install and configure the Healthwatch tile on your monitoring Ops Manager foundation. To install and configure the Healthwatch tile, see the following topics:
  * [Installing a Tile Manually](../installing/installing-manually.html) or [Installing, Configuring, and Deploying a Tile Through an Automated
  Pipeline](../installing/automated-pipeline.html)
  * [Configuring Healthwatch](configuring-healthwatch.html)
  * [Configuring Healthwatch Exporter for TKGI](configuring-exporter-tkgi.html)

1. Configure TKGI cluster discovery in the Healthwatch tile on each foundation you want to monitor. Do not configure TKGI cluster discovery in the Healthwatch
tile on your monitoring foundation. To configure TKGI cluster discovery on the foundations you want to monitor, see [Configuring TKGI Cluster
Discovery](optional-config/configuring-cluster-discovery.html).

1. Configure the Healthwatch tile on your monitoring Ops Manager foundation to federate metrics from the Healthwatch tiles installed on the Ops Manager foundations you
want to monitor. To configure federation, see [Configuring Federation for Healthwatch](optional-config/federation.html).
