---
title: Configuring Canary App Health Endpoint
owner: PCF Healthwatch
---

This topic describes how to use the Pivotal Cloud Foundry (PCF) Healthwatch API to do the following:

- View the current canary app health URL for the Pivotal Application Service (PAS) deployment.
- Update the canary app health URL for the PAS deployment.

See the [Canary App Health](../metrics.html#canaryapp) section for more information about this metric. 

## <a id='prerequisites'></a>Prerequisite

The steps in this document require that you generate bearer tokens for a UAA client with the `healthwatch.read` and `healthwatch.admin` scopes. For more information on granting these scopes, see [Allow Additional Users to Access the PCF Healthwatch UI](../installing.html#healthwatch-uaa-users). For an example of generating and using a UAAC token for API calls, see [Using the Ops Manager API](https://docs.pivotal.io/pivotalcf/customizing/ops-man-api.html).

## <a id='check-status'></a>Check Healthwatch API Status

To check the availability of the Healthwatch API, run the following command:

```
$ curl -G healthwatch-api.SYSTEM-DOMAIN/info
```

A successful response is a `200`/`OK` with the message `"HAPI is happy"`.

## <a id='get'></a>View Canary URL

`GET /v1/canary?deployment=cf`

To view the currently configured canary URL, run the following command:

```
$ curl -G healthwatch-api.SYSTEM-DOMAIN/v1/canary?deployment=cf \
     -H "Authorization: Bearer MY_TOKEN"
```

<p class="note"><strong>Note</strong>: <code>cf</code> is currently the only supported deployment name as the canary is for the PAS deployment.</p>

This returns a JSON object in the following format:

```
  {
    "deployment":"cf",
    "url":"CONFIGURED CANARY URL"
  }
```

## <a id='post'></a>Update Canary URL

`POST /v1/canary?deployment=cf`

To update the canary URL for a deployment, run the following command. Ensure that your URL includes a protocol, such as `https`. 

```
$ curl -X POST "healthwatch-api.SYSTEM-DOMAIN/v1/canary?deployment=cf"  \
      --data "{\"url\":\"https://SOME-VALID-URL.com\"}" \
      -H "Authorization: Bearer MY_TOKEN" \
      -H "Content-Type: application/json"
```
### <a id='responses'></a>Understand the Response

See the following table for possible response codes and their explanations.

<table>
	<tr>
		<th style="width:25%">
		Response code
		</th>
		<th>
		Explanation
		</th>
	</tr>
	<tr>
		<td>
		<code>200</code>
		</td>
		<td>
		A record was updated.
		</td>
	</tr>
	<tr>
		<td>
		<code>400</code>
		</td>
		<td>
		A validation error occurred.
		</td>
	</tr>
	<tr>
		<td>
		<code>500</code>
		</td>
		<td>
		An error occurred while trying to update the record.  Check the logs for the <code>healthwatch-api</code> app.
		</td>
	</tr>
</table>

See the following table for details about the contents of the response payload, which is in JSON format. 

<table>
	<tr>
		<th style="width:25%">
		Field
		</th>
		<th>
		Explanation
		</th>
	</tr>
	<tr>
		<td>
		<code>deployment</code>
		</td>
		<td>
		The deployment name.
		</td>
	</tr>
	<tr>
		<td>
		<code>url</code>
		</td>
		<td>
		The configured canary endpoint.
		</td>
	</tr>
	<tr>
		<td>
		<code>reachable</code>
		</td>
		<td>
		Boolean indicating whether the endpoint was reachable from the Healthwatch API.
		</td>
	</tr>
	<tr>
		<td>
		<code>responseBody</code>
		</td>
		<td>
		The response from attempting an HTTP GET request to the canary endpoint.
		</td>
	</tr>
</table>