---
title: Configuring Canary App Endpoint
owner: PCF Healthwatch
---

This topic describes how to use the Pivotal Cloud Foundry (PCF) Healthwatch API to retrieve and configure [Canary App Health](../metrics.html#canaryapp).

Currently, the Canary Health Check can only be configured for the PAS/SRT deployment. Through this API, consumers can do the following:

- View current Canary Health Check URL for the PAS/SRT deployment
- Update the Canary Health Check URL for the PAS/SRT deployment

## <a id='prerequisites'></a>Prerequisites and Assumptions

The steps in this document assume you can generate bearer tokens for a UAA client with the `healthwatch.read` (`GET` only) and `healthwatch.admin` (both `GET` and `POST`) scopes. For detailed instructions on how to add these scopes, refer to the [Allow Additional Users to Access the PCF Healthwatch UI](../installing.html#healthwatch-uaa-users) documentation.

## <a id='info'></a>Healthwatch API Status

Test the availability of the Healthwatch API by hitting the `/info` endpoint with a simple `GET` request:

```
curl -G healthwatch-api.SYSTEM-DOMAIN/info
```

The expected response is a `200`/`OK` with the message `"HAPI is happy"`.

## <a id='get'></a>View Canary Health URL
### `GET /v1/canary?deployment=cf`

To view the currently configured Canary URL, send a `GET` request to the `/v1/canary?deployment=cf` endpoint with a parameter specifying the "cf" deployment:

```
curl -G healthwatch-api.SYSTEM-DOMAIN/v1/canary?deployment=cf \
     -H "Authorization: Bearer MY_TOKEN"
```

This returns a JSON object of format:

```
  {
    "deployment":"cf",
    "url":"<configured Canary URL>"
  }
```

<p class="note"><strong>Note</strong>: The only currently supported deployment name is "cf".  This is the Canary for the PAS/SRT deployment.  In future releases we anticipate supporting Canaries for Isolation Segment deployments.</p>

## <a id='post'></a>Updating a Canary Health Check URL

### `POST /v1/canary?deployment=cf`

To update a Canary URL for a deployment, make a `POST` request to the `/v1/canary?deployment=cf` endpoint with the following structure:

```
curl -X POST "healthwatch-api.SYSTEM-DOMAIN/v1/canary?deployment=cf"  \
      --data "{\"url\":\"https://<some-valid-url>.com\"}" \
      -H "Authorization: Bearer MY_TOKEN" \
      -H "Content-Type: application/json"
```

The `url` property is required and must include the protocol.

Possible successful HTTP response codes:

- 200: A record was updated
- 400: A validation error occurred
- 500: An error occurred trying to update the record.  Check the logs for the `healthwatch-api` application

Response Payload (JSON formatted):

- deployment: the deployment name
- url: the configured Canary endpoint
- reachable: Boolean indicating whether the endpoint was reachable from HAPI
- responseBody: the response from attempting an HTTP GET request to the Canary endpoint