---
title: Installing, Configuring, and Deploying a Tile Through an Automated Pipeline
owner: Healthwatch
---

<strong><%= modified_date %></strong>

This topic describes how to install, configure, and deploy the Healthwatch for VMware Tanzu, Healthwatch Exporter for VMware Tanzu Application Service for VMs
(TAS for VMs), and Healthwatch Exporter for Tanzu Kubernetes Grid Integrated Edition (TKGI) tiles through an automated pipeline.

To install, configure, and deploy the Healthwatch and Healthwatch Exporter tiles manually, see the following topics:

* [Installing a Tile Manually](installing-manually.html)

* [Configuring Healthwatch](../configuring/configuring-healthwatch.html)

* [Configuring Healthwatch Exporter for TAS for VMs](../configuring/configuring-exporter-tas.html)

* [Configuring Healthwatch Exporter for TKGI](../configuring/configuring-exporter-tkgi.html)


## <a id='overview'></a> Overview of Automated Pipelines

Automated pipelines allow you to install, configure, and deploy Ops Manager tiles through automation scripts.

For more information, see the [Platform Automation documentation](https://docs.vmware.com/en/Platform-Automation-Toolkit-for-VMware-Tanzu/5.1/vmware-automation-toolkit/GUID-docs-index.html).

<p class='note'><strong>Note:</strong> There are risks to using Healthwatch v2.1, including missed email notifications, overwritten dashboards, and minor data
  loss during upgrades. For more information about how to prepare for or prevent these problems, see <a href="../index.html#assumed-risks">Assumed Risks of
  Using Healthwatch v2.1</a> in <em>Healthwatch</em>.</p>


## <a id='prerequisites'></a> Prerequisites

Before you use an automated pipeline to install, configure, and deploy a tile, you must have the following:

* An existing Concourse pipeline. For an example pipeline configuration, see the [Platform Automation
documentation](https://docs.vmware.com/en/Platform-Automation-Toolkit-for-VMware-Tanzu/5.1/vmware-automation-toolkit/GUID-docs-pipelines-multiple-products.html).

* A fully-configured Ops Manager foundation.

* A fully-configured BOSH Director instance.

* The Platform Automation Toolkit Docker image imported into Docker. For more information, see the [Platform Automation
documentation](https://docs.vmware.com/en/Platform-Automation-Toolkit-for-VMware-Tanzu/5.1/vmware-automation-toolkit/GUID-docs-how-to-guides-running-commands-locally.html).


## <a id='install'></a> Download and Install a Tile Using Platform Automation

To download and install a tile using Platform Automation:

1. Create a configuration file for the `download-product` task of your automated pipeline. This configuration file fetches the tile you want to install from
VMware Tanzu Network. Copy and paste one of the following sets of properties into your configuration file:

    * For Healthwatch:

        ```
        ---
        pivnet-api-token: token
        pivnet-file-glob: "healthwatch-[^pas|pks].*pivotal"
        pivnet-product-slug: p-healthwatch
        product-version-regex: 2.0.*
        ```

    * For Healthwatch Exporter for TAS for VMs:

        ```
        ---
        pivnet-api-token: token
        pivnet-file-glob: "healthwatch-pas-*.pivotal"
        pivnet-product-slug: p-healthwatch
        product-version-regex: "0.4.*"
        ```

    * For Healthwatch Exporter for TKGI:

        ```
        ---
        pivnet-api-token: token
        pivnet-file-glob: "healthwatch-pks-*.pivotal"
        pivnet-product-slug: p-healthwatch
        product-version-regex: "0.4.*"
        ```

    For more information, see
    * [Extending a pipeline to install a product](https://docs.vmware.com/en/Platform-Automation-Toolkit-for-VMware-Tanzu/5.1/vmware-automation-toolkit/GUID-docs-how-to-guides-adding-a-product.html#download)
    * [download-product task](https://docs.vmware.com/en/Platform-Automation-Toolkit-for-VMware-Tanzu/5.1/vmware-automation-toolkit/GUID-docs-tasks.html#download-product)

1. Upload and stage the tile to the Ops Manager Installation Dashboard by adding the `upload-stemcell` and `upload-and-stage-product` jobs to your configuration file.
For more information, see these topics in the Platform Automation Toolkit documentation.
   * [Extending a pipeline to install a product](https://docs.vmware.com/en/Platform-Automation-Toolkit-for-VMware-Tanzu/5.1/vmware-automation-toolkit/GUID-docs-how-to-guides-adding-a-product.html)
   * [upload-stemcell task](https://docs.vmware.com/en/Platform-Automation-Toolkit-for-VMware-Tanzu/5.1/vmware-automation-toolkit/GUID-docs-tasks.html#upload-stemcell)


## <a id='om'></a> Configure and Deploy Your Tile Using the om CLI

After you download and install your tile, you can configure and deploy it using the `om` CLI.

Unless you are an advanced user, VMware recommends configuring and deploying your tile manually the first time, so you can see which properties in the
automation script correlate to the configuration settings present in the tile UI before you modify and re-deploy the tile with the `om` CLI.

Below is an example of an automation script that configures and deploys the Healthwatch tile:

<%= partial '../snippets/scrape_config.md' %>

For more information about configuring and deploying tiles with the `om` CLI, see the [om](https://github.com/pivotal-cf/om) repository on GitHub.
