---
title: Installing, Configuring, and Deploying a Tile Through an Automated Pipeline
owner: Healthwatch
---

This topic describes how to install, configure, and deploy the Healthwatch&trade; for VMware Tanzu (Healthwatch), Healthwatch Exporter for VMware <%= vars.runtime_prod_full %>, and Healthwatch Exporter for VMware Tanzu Kubernetes Grid&trade; Integrated Edition (TKGI) tiles through an automated pipeline.

To install, configure, and deploy the Healthwatch and Healthwatch Exporter tiles manually, see the following topics:

* [Installing a Tile Manually](installing-manually.html)

* [Configuring Healthwatch](../configuring/configuring-healthwatch.html)

* [Configuring Healthwatch Exporter for <%= vars.runtime_prod_full %>](../configuring/configuring-exporter-tas.html)

* [Configuring Healthwatch Exporter for TKGI](../configuring/configuring-exporter-tkgi.html)


## <a id='overview'></a> Overview of Automated Pipelines

Automated pipelines allow you to install, configure, and deploy Tanzu Operations Manager tiles through automation scripts.

For more information, see the [Platform Automation documentation](https://techdocs.broadcom.com/us/en/vmware-tanzu/platform/platform-automation-toolkit-for-tanzu/5-2/vmware-automation-toolkit/docs-index.html).

<p class="note">
There are risks to using Healthwatch, including missed email notifications, overwritten dashboards, and minor data
loss during upgrades. For more information about how to prepare for or prevent these problems, see <a href="../index.html#assumed-risks">Assumed Risks of
Using Healthwatch</a> in <em>Healthwatch for VMware Tanzu</em>.</p>


## <a id='prerequisites'></a> Prerequisites

Before you use an automated pipeline to install, configure, and deploy a tile, you must have the following:

* An existing Concourse pipeline. For an example pipeline configuration, see the [Platform Automation
documentation](https://techdocs.broadcom.com/us/en/vmware-tanzu/platform/platform-automation-toolkit-for-tanzu/5-2/vmware-automation-toolkit/docs-pipelines-multiple-products.html).

* A fully-configured Tanzu Operations Manager foundation.

* A fully-configured BOSH Director instance.

* The Platform Automation Toolkit Docker image imported into Docker. For more information, see the [Platform Automation
documentation](https://techdocs.broadcom.com/us/en/vmware-tanzu/platform/platform-automation-toolkit-for-tanzu/5-2/vmware-automation-toolkit/docs-how-to-guides-running-commands-locally.html#executing-commands).


## <a id='install'></a> Download and Install a Tile Using Platform Automation

To download and install a tile using Platform Automation:

1. Create a configuration file for the `download-product` task of your automated pipeline. This configuration file fetches the tile you want to install from
Broadcom Support portal. Copy and paste one of the following sets of properties into your configuration file:

    * For Healthwatch:

        ```
        ---
        pivnet-api-token: token
        pivnet-file-glob: "healthwatch-[^pas|pks].*pivotal"
        pivnet-product-slug: p-healthwatch
        product-version-regex: 2.2.*
        ```

    * For Healthwatch Exporter for <%= vars.runtime_prod_full %>:

        ```
        ---
        pivnet-api-token: token
        pivnet-file-glob: "healthwatch-pas-*.pivotal"
        pivnet-product-slug: p-healthwatch
        product-version-regex: 2.2.*
        ```

    * For Healthwatch Exporter for TKGI:

        ```
        ---
        pivnet-api-token: token
        pivnet-file-glob: "healthwatch-pks-*.pivotal"
        pivnet-product-slug: p-healthwatch
        product-version-regex: 2.2.*
        ```

    For more information, see the [Platform Automation
    documentation](https://techdocs.broadcom.com/us/en/vmware-tanzu/platform/platform-automation-toolkit-for-tanzu/5-2/vmware-automation-toolkit/docs-how-to-guides-adding-a-product.html).

1. Upload and stage the tile to the Tanzu Ops Manager Installation Dashboard by adding the `upload-stemcell` and `upload-and-stage-product` jobs to your
configuration file. For more information, see the [Platform Automation
documentation](https://techdocs.broadcom.com/us/en/vmware-tanzu/platform/platform-automation-toolkit-for-tanzu/5-2/vmware-automation-toolkit/docs-how-to-guides-adding-a-product.html).


## <a id='om'></a> Configure and Deploy Your Tile Using the om CLI

After you download and install your tile, you can configure and deploy it using the `om` CLI.

Unless you are an advanced user, VMware recommends configuring and deploying your tile manually the first time, so you can see which properties in the
automation script correlate to the configuration settings present in the tile UI before you modify and re-deploy the tile with the `om` CLI.

Below is an example of an automation script that configures and deploys the Healthwatch tile:

<%= partial '../snippets/scrape_config.md' %>

For more information about configuring and deploying tiles with the `om` CLI, see the [om](https://github.com/pivotal-cf/om) repository on GitHub.
