---
title: Installing a Tile Manually
owner: Healthwatch
---

This topic describes how to manually install the Healthwatch&trade; for VMware Tanzu (Healthwatch), Healthwatch Exporter for VMware Tanzu, and Healthwatch Exporter for VMware Tanzu Kubernetes Grid&trade; Integrated Edition (TKGI) tiles.

To install, configure, and deploy these tiles through an automated pipeline, see [Installing, Configuring, and Deploying a Tile Through an Automated
Pipeline](automated-pipeline.html).


## <a id='overview'></a> Overview

The Healthwatch tile monitors metrics across one or more Tanzu Operations Manager foundations by scraping metrics from Healthwatch Exporter tiles installed on each
foundation. For more information about the architecture of each tile, see [Healthwatch Architecture](../architecture.html).

To manually install the Healthwatch and Healthwatch Exporter tiles, you must download and install the tiles from Broadcom Support Portal. For more information,
see [Install a Tile Manually](#install) below.

After you have installed the Healthwatch and Healthwatch Exporter tiles, you can configure them through the Tanzu Ops Manager Installation Dashboard. For more
information, see [Next Steps](#next-steps) below.

<p class="note">
There are risks to using Healthwatch, including missed email notifications, overwritten dashboards, and minor data
loss during upgrades. For more information about how to prepare for or prevent these problems, see <a href="../index.html#assumed-risks">Assumed Risks of Using Healthwatch</a> in <em>Healthwatch for VMware Tanzu</em>.</p>


## <a id='install'></a> Install a Tile Manually

To install the Healthwatch, Healthwatch Exporter for <%= vars.runtime_prod_full %>, or Healthwatch Exporter for TKGI tile:

1. Navigate to the [Healthwatch](https://support.broadcom.com/group/ecx/productdownloads?subfamily=Healthwatch) page on Broadcom Support portal.

1. From the **Releases** dropdown, select the version of the tile you want to install.

1. Click the name of the tile you want to install to download the `.pivotal` file for the tile.

1. Navigate to the Tanzu Ops Manager Installation Dashboard.

1. Click **Import a Product**.

2. Select the `.pivotal` file that you downloaded from Broadcom Support Portal.

3. Click **Open**. If the tile is successfully uploaded, it appears in the product list beneath the **Import a Product** button.

4. After the upload is complete, click the **+** icon next to the tile listing to add the tile to your staging area.

For more information, see the [Tanzu Operations Manager documentation](https://techdocs.broadcom.com/us/en/vmware-tanzu/platform/tanzu-operations-manager/<%= vars.opsman_version %>/tanzu-ops-manager/install-add-delete.html).


## <a id='next-steps'></a> Next Steps

After you have successfully installed the Healthwatch tile and the Healthwatch Exporter tiles for the Tanzu Operations Manager foundations you want to monitor, continue to
one of the following topics to configure each tile you installed:

* To configure and deploy the Healthwatch tile, see [Configuring Healthwatch](../configuring/configuring-healthwatch.html).

* To configure and deploy the Healthwatch Exporter tile for <%= vars.runtime_prod_full %>, see
[Configuring Healthwatch Exporter for <%= vars.runtime_prod_full %>](../configuring/configuring-exporter-tas.html).

* To configure and deploy the Healthwatch Exporter for TKGI tile, see [Configuring Healthwatch Exporter for TKGI](../configuring/configuring-exporter-tkgi.html).
